
<div class="body" [hidden]="keyboardOpen">
  <div class="navigation">
    <ul>
      <li
        [ngClass]="active_tab === 0 ? 'list active' : 'list'"
        (click)="active_tab = 0"
      >
        <a  (click)="goToPage(tabs.personalDetails)">
          <span class="icon">
            <img src="../../../../assets/navigation/Jobgrader_Profile.svg">
            <ion-badge
              *ngIf="
                showProfileBadge
              "
              class="messages-badge"
              mode="ios"
              color="danger"
              >&nbsp;</ion-badge
            >
          </span>
          <span class="text">{{ 'TABS.profile' | translate }}</span>
        </a>
      </li>

      <li
        [ngClass]="active_tab === 1 ? 'list active' : 'list'"
        (click)="active_tab = 1"
      >
        <a (click)="goToPage(tabs.payments)">
          <span class="icon">
            <img src="../../../../assets/navigation/Jobgrader_Wallet.svg">
          </span>
          <span class="text">{{ 'TABS.wallet' | translate }}</span>
        </a>
      </li>

      <li
        [ngClass]="active_tab === 2 ? 'list active' : 'list'"
        (click)="active_tab = 2"
      >
        <a (click)="goToPage(tabs.home)">
          <span class="icon">
            <img src="../../../../assets/navigation/Jobgrader_Home.svg">
          </span>
          <span class="text">{{ "TABS.home" | translate }}</span>
        </a>
      </li>

      <li
        [ngClass]="active_tab === 3 ? 'list active' : 'list'"
        (click)="active_tab = 3"
      >
        <a (click)="openScanner()">
          <span class="icon">
            <img src="../../../../assets/navigation/Jobgrader_Scanner.svg">
          </span>
          <span class="text">{{ "PERSONALDETAILS.scan" | translate }}</span>
        </a>
      </li>
      <li
        [ngClass]="active_tab === 4 ? 'list active' : 'list'"
        (click)="active_tab = 4"
      >
        <a (click)="goToPage(tabs.settings)">
          <span class="icon">
            <img src="../../../../assets/navigation/Jobgrader_More.svg">
          </span>
          <span class="text">{{ "TABS.settings" | translate }}</span>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>
</div>
