@import "../../../../theme/index";

$assetPath: "../../../../assets";

app-forgot-username-step-1 {
  .md & {
    .proto-input__field:focus ~ label,
    .proto-input__field:not(:placeholder-shown) ~ label {
      top: -20px;
      font-size: 12px;
    }
  }
  .page-content {
    width: 100%;
    min-height: 100%;
    padding: 10px 15px 10px;
    //background-color: var(--ion-color-primary);
    display: flex;
    flex-direction: column;
    .text {
      text-align: center;
      font-size: 20px;
      padding: 10px 10px 10px;
      position: relative;
      z-index: 13;
    }
    .form {
      position: relative;
      z-index: 13;
      margin: 20px 10px;
      padding-top: 0px;
     
      &__fields {
        display: flex;
        flex-direction: column;
        .input {
          position: relative;
          margin: 0 10px 35px 0;
          padding-left: 0;
         
          &__field {
            font-size: 20px;
            padding: 5px;
            padding-left: 0;
            display: block;
            width: 100%;
            height: 48px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #757575;
            border-radius: 0;
            background-color: transparent !important;
            outline: none;
           
            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
              top: -18px;
              font-size: 16px;
             
            }
            &:focus ~ .bar:after,
            &:focus ~ .bar:before {
              width: 50%;
            }
            :focus ~ .highlight {
              -webkit-animation: inputHighlighter 0.3s ease;
              -moz-animation: inputHighlighter 0.3s ease;
              animation: inputHighlighter 0.3s ease;
            }
            .menu-item-select {
              display: flex;
              flex-direction: row;
              padding: 0;
              font-size: 20px;
              letter-spacing: 0.1px;
              height: 38px;
              position: relative;
              padding: 0;
              margin: 10px 10px 8px 0;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid rgb(117, 117, 117);
              background: transparent;
              .checkmark {
                right: 5px;
                top: 50%;
                margin-top: -3px;
                position: absolute;
                width: 0;
                height: 0;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                color: currentColor;
                opacity: 0.33;
                pointer-events: none;
              }
            }
            .input {
              position: relative;
              margin: 5px 10px 10px 0;
              padding-left: 0;
             
              &__field {
                font-size: 20px;
                padding: 5px;
                padding-left: 0;
                display: block;
                width: 100%;
                height: 42px;
                border: none;
                border-bottom: 1px solid #757575;
                border-radius: 0;
                background-color: transparent !important;
                outline: none;
              
                &:focus ~ label,
                &:not(:placeholder-shown) ~ label {
                  top: -10px;
                  font-size: 16px;
                
                }
                &:focus ~ .bar:after,
                &:focus ~ .bar:before {
                  width: 50%;
                }
                :focus ~ .highlight {
                  -webkit-animation: inputHighlighter 0.3s ease;
                  -moz-animation: inputHighlighter 0.3s ease;
                  animation: inputHighlighter 0.3s ease;
                }
              }
              &__label {
                color: #000;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 0;
                top: 14px;
                font-size: 20px;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
              }
            }
          }
          //  @include label-page-content();
        }
      }
    }
    .title {
      font-size: 20px;
      margin: 5px 10px;
      line-height: 1.35;
     
    }
    // @include big-circle-content-after();
    .icon-success {
      width: 85px;
      height: 85px;
      margin: 60px auto 0;
      background-size: cover;
      background-image: url("#{$assetPath}/icon/sign-success.svg");
      position: relative;
      z-index: 13;
     
    }
    .icon-error {
      width: 85px;
      height: 85px;
      margin: 50px auto 0;
      background-size: cover;
      background-image: url("#{$assetPath}/icon/sign-error.svg");
      position: relative;
      z-index: 13;
     
    }
    .text-success {
      padding: 0px 55px;
      margin-top: 53px;
      text-align: center;
      font-size: 20px;
    
      position: relative;
      z-index: 13;
    }
    .text-error {
      padding: 0 55px;
      text-align: center;
      margin-top: 35px;
      font-size: 20px;
      position: relative;
      z-index: 13;
      
    }
    .button-success {
      text-align: center;
      padding: 10px 15px;
      color: #ffffff;
      font-size: 20px;
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 160px;
      border: 2px solid var(--ion-color-primary);
      margin: 25px auto 0;
      position: relative;
      z-index: 13;
   

      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }

      &--inactive {
        pointer-events: none;
        color: #d7d7d7;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
      }
    }
    .button-error {
      text-align: center;
      padding: 10px 15px;
      color: #ffffff;
      font-size: 20px;
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 50%;
      border: 2px solid var(--ion-color-primary);
      margin: 30px auto 0;
      

      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }

      &--inactive {
        pointer-events: none;
        color: #d7d7d7;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
      }
    }
    &__fields {
      display: flex;
      flex-direction: column;
      .input {
        position: relative;
        margin: 0 10px 35px 0;
        padding-left: 0;
     
        &__field {
          font-size: 20px;
          padding: 5px;
          padding-left: 0;
          display: block;
          width: 100%;
          height: 48px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #757575;
          border-radius: 0;
          background-color: transparent !important;
          outline: none;
          
          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: -18px;
            font-size: 16px;
          }
          &:focus ~ .bar:after,
          &:focus ~ .bar:before {
            width: 50%;
          }
          :focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
          }
        }
        // @include label-page-content();
      }
      .menu-item-select {
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.1px;
        height: 38px;
        position: relative;
        padding: 0;
        margin: 10px 10px 8px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(117, 117, 117);

        .checkmark {
          right: 5px;
          top: 50%;
          margin-top: -3px;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: currentColor;
          opacity: 0.33;
          pointer-events: none;
        }
      }
    }
  }

  .error {
    color: var(--ion-color-primary) !important;
  }

  .error-text {
    color: var(--ion-color-primary);
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

.password-toggle {
  --background: var(--ion-background-color);
  --color: #000;
  position: absolute;
  top: -2px;
  right: 0px;
  z-index: 2;
}

.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}
