.margin-bottom {
    margin-bottom: 70px;
}

// .description {
//     font-size: 16px;
// }

.expand {
    width: 100%;
}

.first-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

    ion-item {
        --background: var(--ion-pitch);
        --min-height: 40px;
        margin: 0;

        ion-icon {
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 0;
        }

        ion-label {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.second-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

    ion-item {
        --background: var(--ion-pitch);
        --min-height: 40px;
        margin: 0;

        ion-icon {
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 0;
        }

        ion-label {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.third-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

    ion-item {
        --background: var(--ion-pitch);
        --min-height: 40px;
        margin: 0;

        ion-icon {
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 0;
        }

        ion-label {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


ion-item-divider {
    --color: inherit;
    --background: inherit;
    font-size: 18px;
    border: none;

    ion-label {
        font-size: 14px;
    }
}

.job-howto-fab {
    --background: var(--ion-color-secondary);
    --background-activated: var(--ion-color-secondary-tint);
    width: 60px;
    height: 60px;

    ion-icon {
        font-size: 22px;
    }
}

.check-fab {
    --background: var(--ion-color-primary) !important;
    --background-activated: var(--ion-color-primary-tint) !important;
}

.job-header-text {
    margin-left: 50px;
}
