<ion-content class="no-header-content">
  <ion-grid>
    <ion-row class="margin-bottom">
      <ion-list lines="none" class="expand">
        <ion-item-group>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <!-- <h2><ion-text color="secondary">{{ from }}</ion-text></h2> -->
              <h1 class="job-header-text">
                @if (job) {
                {{ job?.manifest.requesterTitle }}
                } @else {
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                }
              </h1>
              <!-- <p class="description">
                @if (job) {
                  <ion-text [innerHTML]="job?.manifest.requesterDescription"></ion-text>
                } @else {
                  <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                }
              </p> -->
              <!-- <img slot="end" src="{{ job?.manifest.imageUrl }}" style="max-height:100px;"/> -->
            </ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group class="first-group">
          <ion-item-divider>
            <ion-label slot="end">{{ 'FORTUNE.DETAILS.PROJECT_INFORMATION' | translate}}</ion-label>
          </ion-item-divider>
          <ion-item style="border-radius: 8px 8px 0 0;">
            <ion-icon name="cash-outline" color="primary" slot="start" style="margin-top: 10px;"></ion-icon>
            <ion-label class="ion-text-wrap" style="margin-top: 10px;">
              @if (job) {
                <!-- {{ 'FORTUNE.DETAILS.PAYOUT_LABEL' | translate : { amount: job?.manifest.annotations.payout, unit:
                job?.manifest.annotations.payoutUnit, value: (job?.manifest.annotations.payout * 0.05 | number : '.2-2')}
                }} -->
                {{ job?.manifest.annotations.payout }} {{ job?.manifest.annotations.payoutUnit }} Token
              } @else {
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="time-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.WORK_ESTIMATE' | translate}}: {{ job?.manifest.annotations.workTime }} {{
              job?.manifest.annotations.workTimeUnit }}
              } @else {
              <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="hourglass-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.TIME_LIMIT' | translate}}: {{ job?.manifest.annotations.workTimeLimit }} {{
              job?.manifest.annotations.workTimeLimitUnit }}
              } @else {
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-done-circle-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.QUALITY_CHECK' | translate}}: {{ job?.manifest.annotations.payoutDuration }} {{
              job?.manifest.annotations.payoutDurationUnit }}
              } @else {
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="wallet-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.PAYOUT_DURATION' | translate}}: {{ 'FORTUNE.DETAILS.PAYOUT_DURATION_TEXT' |
              translate}}
              } @else {
              <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="information-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.PROJECT_ID' | translate}}: {{ job?.escrowAddress?.substring(0,5) }}....{{
              job?.escrowAddress?.substring(job?.escrowAddress.length-5) }}
              } @else {
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="earth-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.REGION' | translate}}: {{ job?.manifest.annotations.regions}}
              } @else {
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="gift-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.AGE' | translate}}: {{ job?.manifest.annotations.age }}+
              } @else {
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="transgender-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.GENDER' | translate}}: {{ 'FORTUNE.DETAILS.GENDER_OPTIONS.' +
              job?.manifest.annotations.gender | translate }}
              } @else {
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item style="border-radius: 0 0 8px 8px;">
            <ion-icon name="people-outline" color="primary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.TARGET_GROUP' | translate}}: {{ 'FORTUNE.DETAILS.TARGET_GROUP_OPTIONS.' +
              job?.manifest.annotations.targetGroup | translate }}
              } @else {
              <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group class="second-group">
          <ion-item-divider>
            <ion-label slot="end">{{ 'FORTUNE.DETAILS.DATA_USAGE' | translate}}</ion-label>
          </ion-item-divider>
          <ion-item style="border-radius: 8px 8px 0 0;">
            <ion-icon name="person-outline" color="secondary" slot="start" style="margin-top: 10px;"></ion-icon>
            <ion-label class="ion-text-wrap" style="margin-top: 10px;">
              @if (job) {
              {{ 'FORTUNE.DETAILS.PERSONAL_DATA' | translate}}: {{ 'FORTUNE.DETAILS.PERSONAL_DATA_OPTIONS.' +
              job?.manifest.annotations.personalData | translate }}
              } @else {
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="share-social-outline" color="secondary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.PUBLICATION' | translate}}: {{ 'FORTUNE.DETAILS.PUBLICATION_OPTIONS.' +
              job?.manifest.annotations.publication | translate }}
              } @else {
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
          <ion-item style="border-radius: 0 0 8px 8px;">
            <ion-icon name="apps-outline" color="secondary" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              @if (job) {
              {{ 'FORTUNE.DETAILS.SCOPE_OF_TASK' | translate}}: {{ 'FORTUNE.DETAILS.SCOPE_OF_TASK_OPTIONS.' +
              job?.manifest.annotations.scope | translate }}
              } @else {
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              }
            </ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group class="third-group">
          <ion-item-divider>
            <ion-label slot="end">{{ 'FORTUNE.DETAILS.INFORMATIONS' | translate}}</ion-label>
          </ion-item-divider>
          <ion-item style="border-radius: 8px 8px 8px 8px;">
            @if (job) {
            <ion-label class="ion-text-wrap" [innerHTML]="job?.manifest.annotations.information"></ion-label>
            } @else {
            <ion-label>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text><br>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-label>
            }
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    @if ( job?.manifest?.annotations?.howto ) {
      <ion-fab-button size="small" (click)="goToHowTo()" class ="job-howto-fab">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    } @else {
      <ion-fab-button size="small" (click)="goToJob()" class="job-howto-fab check-fab">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    }
  </ion-fab>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>