<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'WALLETIMPORTDISCLAIMER.heading' | translate }}</ion-title>
  </ion-toolbar>
  
  <ul>
    <li>{{ 'WALLETIMPORTDISCLAIMER.p1' | translate }} <strong>{{ 'WALLETIMPORTDISCLAIMER.p1-strong' | translate }}</strong>.</li>
    <li>{{ 'WALLETIMPORTDISCLAIMER.p2' | translate }}</li>
    <li>{{ 'WALLETIMPORTDISCLAIMER.p3' | translate }}</li>
  </ul>
  
  <div class="buttons">
    <div class="button ion-activatable" (click)="close()"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLETIMPORTDISCLAIMER.button' | translate }}</div>
  </div>

</ion-card>