p {
    margin: 0;
  }
  ion-content {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding: 10px 0px;
      .add-icon {
        font-size: 35px;
        color: var(--ion-text-color);
      }
      .txt {
        color: var(--ion-text-color);
        font-size: medium;
      }
    }
  
    .heading {
      text-transform: uppercase;
      font-size: x-small;
      letter-spacing: 0.1em;
      color: var(--ion-text-color);
      // margin: 1rem 0rem;
    }
  
    .mb-2 {
      margin-bottom: 2rem;
    }
    .form {
      margin-top: 2rem;
      ion-item {
          font-size: small;
          ion-input {
              text-align: right;
  
          }
      }
  
    }
    .warning-box {
      background: #E64E56;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1rem 1rem;
      padding: 0rem 1rem;
      border-radius: 10pt;
      margin-top: 4rem;
  
      ion-icon {
          margin-right: 1rem;
          font-size: 200px;
          color: var(--ion-text-color);
      }
  
      .txt {
          color: var(--ion-text-color);
          font-size: medium;
  
  
      }
    }
  }
  