<ion-content class="ion-padding">
  <div class="header">
    <p class="txt" (click)="close()">Cancel</p>
    <p class="txt">Custom Tokens</p>
    <p class="txt" (click)="save()">Save</p>
  </div>
  <p class="heading">
    Add new custom tokens to your wallet
  </p>
  <div style="text-align: end;" (click)="scanContractAddress()">
    <ion-icon style="font-size: 30px;" [src]="icon"></ion-icon>
  </div>

  <form [formGroup]="form">
    <div class="form">
      <ion-item class="mb-2">
        <ion-label position="fixed">Network</ion-label>
        <ion-input formControlName="network" color="dark" placeholder="Ethereum"></ion-input>
        <!-- <ion-select
            mode="md"
            color="dark"
            class="select"
            formControlName="network"
            [okText]="'SIGNSTEPSIX.selectGenderOk' | translate"
            [cancelText]="'SIGNSTEPSIX.selectGenderCancel' | translate"
            placeholder="Ethereum"
            interface="action-sheet"
          >
            <ion-select-option
              [value]="n.value"
              *ngFor="let n of networks"
            >
              {{ n.label }}
            </ion-select-option>
          </ion-select> -->
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="fixed">Contract Address</ion-label>
        <ion-input formControlName="contract" color="dark"></ion-input>
        
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="fixed">Name</ion-label>
        <ion-input formControlName="name" color="dark"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="fixed">Symbol</ion-label>
        <ion-input formControlName="symbol" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="fixed">Decimals</ion-label>
        <ion-input formControlName="decimals" color="dark"></ion-input>
      </ion-item>
    </div>
  </form>


  <div class="warning-box">
    <ion-icon name="warning-outline"></ion-icon>
    <p class="txt">Be very careful about adding custom tokens. Anybody can create fake versions of exisiting tokens. Double check and learn about security risks.</p>
  </div>
</ion-content>
