<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">

    <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 9</div>

    <ion-progress-bar [value]="progress"></ion-progress-bar>

    <canvas #canvasx id="canvasx" style="height: 50px; display: contents;"></canvas>

    <h1 *ngIf="
    registrationSteps.ACCOUNT_CREATED  && 
    registrationSteps.DEVICE_BRANDED  && 
    registrationSteps.LOGGED_IN  && 
    registrationSteps.GEN_ENCRYPTION  && 
    registrationSteps.BACKUP_ENCRYPTION  && 
    registrationSteps.REFERRAL_CODE && 
    registrationSteps.FINISHING_UP ">{{ 'SIGNSTEPSEVEN.congrats' | translate }}</h1>

    <!-- <h3 *ngIf="
    registrationSteps.ACCOUNT_CREATED  && 
    registrationSteps.DEVICE_BRANDED  && 
    registrationSteps.LOGGED_IN  && 
    registrationSteps.GEN_ENCRYPTION  && 
    registrationSteps.BACKUP_ENCRYPTION  && 
    registrationSteps.REFERRAL_CODE && 
    registrationSteps.FINISHING_UP ">{{ 'SIGNSTEPSEVEN.congrats-subline' | translate }}</h3> -->

    <h1 *ngIf="
    !registrationSteps.ACCOUNT_CREATED  || 
    !registrationSteps.DEVICE_BRANDED  || 
    !registrationSteps.LOGGED_IN  || 
    !registrationSteps.GEN_ENCRYPTION  || 
    !registrationSteps.BACKUP_ENCRYPTION  || 
    !registrationSteps.REFERRAL_CODE  || 
    !registrationSteps.FINISHING_UP ">{{ 'REGISTRATIONSTEPS.HEADING' | translate }}</h1>

    <h3 *ngIf="
    !registrationSteps.ACCOUNT_CREATED  || 
    !registrationSteps.DEVICE_BRANDED  || 
    !registrationSteps.LOGGED_IN  || 
    !registrationSteps.GEN_ENCRYPTION  || 
    !registrationSteps.BACKUP_ENCRYPTION  || 
    !registrationSteps.REFERRAL_CODE  || 
    !registrationSteps.FINISHING_UP ">{{ 'REGISTRATIONSTEPS.SUBHEADING' | translate }}</h3>

    <ion-row style="padding-top: 20px;">
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.ACCOUNT_CREATED" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.ACCOUNT_CREATED" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.ACCOUNT_CREATED' | translate}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.DEVICE_BRANDED" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.DEVICE_BRANDED" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.DEVICE_BRANDED' | translate}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.LOGGED_IN" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.LOGGED_IN" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.LOGGED_IN' | translate}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.GEN_ENCRYPTION" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.GEN_ENCRYPTION" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.GEN_ENCRYPTION' | translate}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.BACKUP_ENCRYPTION" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.BACKUP_ENCRYPTION" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.BACKUP_ENCRYPTION' | translate}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.REFERRAL_CODE" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.REFERRAL_CODE" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.REFERRAL_CODE' | translate}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="1">
            <ion-spinner *ngIf="!registrationSteps.FINISHING_UP" name="lines"></ion-spinner>
            <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.FINISHING_UP" name="checkmark-done-outline"></ion-icon>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col style="text-align: left;" size="9.5">{{'REGISTRATIONSTEPS.FINISHING_UP' | translate}}</ion-col>
    </ion-row>

    <ion-row style="padding-top: 20px;" *ngIf="
    registrationSteps.ACCOUNT_CREATED  && 
    registrationSteps.DEVICE_BRANDED  && 
    registrationSteps.LOGGED_IN  && 
    registrationSteps.GEN_ENCRYPTION  && 
    registrationSteps.BACKUP_ENCRYPTION  && 
    registrationSteps.REFERRAL_CODE  && 
    registrationSteps.FINISHING_UP ">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
        <ion-button style="width: 100%;
        border-radius: 8px;
        font-size: var(--design-guidelines-button);
        text-transform: none;" (click)="nextStep()">{{ 'SIGNSTEPSEVEN.ready' | translate }}</ion-button>
    </ion-col>
    <ion-col size="3"></ion-col>
    </ion-row>
        
    
</ion-content>
