@import "../../../theme/index";

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  font-size: var(--design-guidelines-modal-window);
  p {
    text-align: justify;
  }
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

ion-title {
  text-align: center; 
  font-size: var(--design-guidelines-modal-window);
}

ion-card-content{ 
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    
    padding: 10px;
      .title {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: var(--design-guidelines-modal-window);
      }
      .value {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: var(--design-guidelines-modal-window);
      }
      ::ng-deep strong, ::ng-deep b {
        font-family: "Jost Bold", Helvetica, sans-serif;
      }
  }

.qr-container {

    margin: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &-timeout {
      text-align: center;
    }
  }
  
  .qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 3px solid var(--ion-text-color);
    background: #fff;
    width: 75vw;
    height: 75vw;
  
    // @media (max-height: 568px) {
    //   width: 25vw;
    //   height: 25vw;
    // }
  
  }
  
  .qr-code {
    width: 100%;
    height: 100%;
  
    opacity: 1;
    transition: opacity 2s linear;
  
    &.is-hidden {
      opacity: 0;
    }
  }