<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'VC_VALIDATION.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{'LEGALDOCUMENTS.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <div class="qr-container">
        <div class="qr-code-container">
          <qrcode
            cssClass="qr-code"
            elementType="url"
            [qrdata]="qrCode"
          >
          </qrcode>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>