<ion-content class="no-header-content">
  <div class="page-content">
    <ng-container *ngIf="jobPairs?.length > 0 && !allDone; else emptyTemplate">
      @for (pair of jobPairs; track pair; let i = $index) {
        <div class="card" #card [style.zIndex]="jobPairs.length - i">
          <div class="card-content card-content-a">
            <div class="card-container">
              <ion-card class="card-a" (click)="select(i, 'a')">
                <ion-card-content>
                  <img src="{{jobs()[pair.a].photo}}" alt="">
                </ion-card-content>
                <ion-grid class="card-footer">
                  <ion-row>
                    <ion-col class="ion-text-center ion-no-padding">
                      <h3 class="ion-no-margin label">{{jobs()[pair.a].name}}</h3>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
          </div>
          <div class="card-content card-content-b">
            <div class="card-container">
              <ion-card class="card-b" (click)="select(i, 'b')">
                <ion-card-content>
                  <img src="{{jobs()[pair.b].photo}}" alt="">
                </ion-card-content>
                <ion-grid class="card-footer">
                  <ion-row>
                    <ion-col class="ion-text-center ion-no-padding">
                      <h3 class="ion-no-margin label">{{jobs()[pair.b].name}}</h3>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
          </div>
        </div>
      }
    </ng-container>
  </div>

  <ng-template #emptyTemplate>
    <div class="center" *ngIf="allDone">
      <ion-icon name="checkmark-circle" color="primary"></ion-icon>
      <br>
      <ion-note class="all-done">All Done!</ion-note>
    </div>
  </ng-template>

  <ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="!allDone" id="click-trigger-a">
    <ion-fab-button size="small" color="secondary" class="fab-button">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!allDone" id="click-trigger-b">
    <ion-fab-button size="small" color="primary" class="fab-button">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-popover trigger="click-trigger-a" triggerAction="click">
    <ng-template>
      <app-popover-content class="popover">{{ descriptionA }}</app-popover-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="click-trigger-b" triggerAction="click">
    <ng-template>
      <app-popover-content class="popover">{{ descriptionB }}</app-popover-content>
    </ng-template>
  </ion-popover>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>