.icon-container {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
  border: 2px solid var(--ion-color-secondary-contrast);
  display: inline-block;
  .category-icon {
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 9px;
  }
}

ion-card {
  background-color: var(--helix-sort-background-color);
  border: 3px solid var(--ion-border-color);
  border-radius: 12px;
  box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}

ion-fab-button.fab-button {
  width: 60px;
  height: 60px;
  ion-icon {
    font-size: 22px;
  }
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  ion-icon {
      font-size: 45px;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.description {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.popover {
  padding: 10px;
}

.page-content {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: var(--ion-background-color);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-content-a {
  justify-content: end;
}

.card-content-b {
  justify-content: start;
}


.card-container {

  ion-card {
    border-radius: 16px;
    margin: 5px;

    ion-card-content {
        padding: 0;

        img {
            max-height: calc((100vh - 340px)/2);
            object-fit: cover;
            object-position: top;
        }

        ion-item {
            --padding-start: 0px;
            position: absolute;
            left: 0;
            bottom: 5%;
            width: 100%;
            text-align: center;
            --background: transparent;

            ion-label {
                h2 {
                    font-size: x-large;
                }

                p {
                    font-size: large;
                }
            }
        }
    }
  }
}

.card-a {
  border-color: var(--ion-color-secondary)
}

.card-b {
  border-color: var(--ion-color-primary)
}

.card-footer {
  --background: var(--jobgrader-color-background);
}

.label {
  color: var(--ion-text-color);
}