<ion-card transparent>
  <ion-toolbar>
    <ion-title>PIN</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-grid text-center>
    <ion-row>
      <ion-col><ion-item class="ion-activatable" color="light">1</ion-item></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">2</ion-item></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">3</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item class="ion-activatable" color="light">4</ion-item></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">5</ion-item></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">6</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-item class="ion-activatable" color="light">7</ion-item></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">8</ion-item></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">9</ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-item class="ion-activatable" color="light">0</ion-item></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <form [UntypedFormGroup]="changePinForm"> -->
    <!-- <ion-item>
      <ion-input 
      formControlName="existingPin" 
      name="existingPin"
      placeholder="Enter existing PIN" 
      [value]="saveObject.existingPin"
      maxLength="5" 
      [type]="visibility.input1"></ion-input>
      <ion-button (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
        <ion-icon [name]="visibility.input1 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-input 
      formControlName="newPin" 
      name="newPin" 
      placeholder="Enter new PIN" 
      [value]="saveObject.newPin"
      maxLength="5" 
      [type]="visibility.input2"></ion-input>
      <ion-button (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
        <ion-icon color="primary" [name]="visibility.input2 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-input 
      formControlName="confirmPin" 
      name="confirmPin" 
      placeholder="Confirm new PIN" 
      [value]="saveObject.confirmPin"
      maxLength="5" 
      [type]="visibility.input3"></ion-input>
      <ion-button (click)="togglePINVisibility('input3')" class="password-toggle" mode="md" fill="clear">
        <ion-icon color="primary" [name]="visibility.input3 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </ion-item> -->
    <!-- <ion-item><ion-button (click)="savePin()">Save Changes</ion-button></ion-item> -->

    <!-- <div class="title" *ngIf="ifPinExists">{{ 'PIN.form-existing-pin' | translate }}</div>
    <div class="value input" *ngIf="ifPinExists">
      <input formControlName="existingPin" name="existingPin" placeholder=" " maxLength="5" [type]="visibility.input1" class="input__field">
      <ion-button (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
        <ion-icon color="primary" [name]="visibility.input1 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </div>

    <div class="title">{{ 'PIN.form-new-pin' | translate }}</div>
    <div class="value input" >
      <input formControlName="newPin" name="newPin" placeholder=" " maxLength="5" [type]="visibility.input2" class="input__field">
      <ion-button (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
        <ion-icon color="primary" [name]="visibility.input2 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </div>

    <div class="title">{{ 'PIN.form-confirm-new-pin' | translate }}</div>
    <div class="value input" >
      <input formControlName="confirmPin" name="confirmPin" placeholder=" " maxLength="5" [type]="visibility.input3" class="input__field">
      <ion-button (click)="togglePINVisibility('input3')" class="password-toggle" mode="md" fill="clear">
        <ion-icon color="primary" [name]="visibility.input3 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </div>
    <br><br>
    <div class="buttons">
      <div class="button save-button ion-activatable" (click)="savePin()"><ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.save' | translate }}</div>
    </div>
  </form> -->

  <h1 class="proto-title" *ngIf="step == steps.step1">
    {{ 'PIN.form-existing-pin' | translate }}
  </h1>
  <code-input *ngIf="step == steps.step1" #codeInput1 [isCodeHidden]="visibility.input1"
    [codeLength]="5"
    (codeChanged)="onCodeChanged1($event)"
    (codeCompleted)="onCodeCompleted1($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step1" (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input1 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>

  <h1 class="proto-title" *ngIf="step == steps.step2">
    {{ 'PIN.form-new-pin' | translate }}
  </h1>
  <code-input *ngIf="step == steps.step2" #codeInput2 [isCodeHidden]="visibility.input2"
    [codeLength]="5"
    (codeChanged)="onCodeChanged2($event)"
    (codeCompleted)="onCodeCompleted2($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step2" (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input2 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>

  <h1 class="proto-title" *ngIf="step == steps.step3">
    {{ 'PIN.form-confirm-new-pin' | translate }}
  </h1>
  <code-input *ngIf="step == steps.step3" #codeInput3 [isCodeHidden]="visibility.input3"
    [codeLength]="5"
    (codeChanged)="onCodeChanged3($event)"
    (codeCompleted)="onCodeCompleted3($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step3" (click)="togglePINVisibility('input3')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input3 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>



</ion-card>