<proto-sign-up-header
  [onGoBack]="prevStep"
  [percentage]="100">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content page-content" *ngIf="resetPasswordStatus; else notSuccessContent">

    <div class="proto-title" *ngIf="resetPasswordStatus; else notSuccessTitle">{{ 'RESETPASSWORDSTEPFOUR.titleSuccess' | translate }}</div>
    <ng-template #notSuccessTitle>
        <div class="proto-title">{{ 'RESETPASSWORDSTEPFOUR.titleError' | translate }}</div>
    </ng-template>

    <div class="icon-success"></div>
    <div class="proto-text">{{ 'RESETPASSWORDSTEPFOUR.textSuccess' | translate }}</div>
    <div class="button-success" (click)="nextStep()">{{ 'RESETPASSWORDSTEPFOUR.buttonSuccess' | translate }}</div>
  </div>

  <ng-template #notSuccessContent>
    <div class="ion-padding" class="page-content">
      <div class="icon-error"></div>
      <div class="proto-text">{{ 'RESETPASSWORDSTEPFOUR.textError' | translate }}</div>
      <div class="button-error" (click)="prevStep()">{{ 'RESETPASSWORDSTEPFOUR.buttonError' | translate }}</div>
    </div>
  </ng-template>

</ion-content>
