.title {
    font-size: var(--design-guidelines-body);
    margin: 5px 10px;
    line-height: 1.35;
}

.button-success {
    text-align: center;
    padding: 10px 15px;
    color: #ffffff;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 98%;
    border: 2px solid var(--ion-color-primary);
    margin: 25px auto 0;
    position: relative;
    z-index: 13;
    // @media only screen and (max-width: 320px) {
    //   margin: 25px auto 0;
    // }

    &:active {
      background: #F2F2F2;
      border: 2px solid #F2F2F2;
    }

    &--inactive {
      pointer-events: none;
      color: #d7d7d7;
      background: #f7f7f7;
      border: 2px solid #d7d7d7;
    }
  }
  .button-error {
    text-align: center;
    padding: 10px 15px;
    color: #ffffff;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 50%;
    border: 2px solid var(--ion-color-primary);
    margin: 30px auto 0;
    // @media only screen and (max-width: 320px) {
    //   margin: 25px auto 0;
    // }

    &:active {
      background: #F2F2F2;
      border: 2px solid #F2F2F2;
    }

    &--inactive {
      pointer-events: none;
      color: #d7d7d7;
      background: #f7f7f7;
      border: 2px solid #d7d7d7;
    }
  }