ion-content {
  .step {
    width: 100%;
    font-size: 0.7rem;
    color: var(--ion-text-color);
    margin: 64px 0 6px 0;
  }
  ion-progress-bar {
    height: 8px;
    --background: var(--ion-color-primary);
    --buffer-background: var(--ion-color-primary);
    --progress-background: var(--ion-color-secondary);
  }

  h1 {
    font-size: var(--design-guidelines-heading);
    font-weight: bold;
    margin-bottom: 40px;
  }

  h3 {
    font-size: var(--design-guidelines-subline);
  }

  ion-input {
    border: 1px solid var(--ion-text-color);
  }
  ion-progress-bar {
    height: 8px;
    --background: var(--ion-color-primary);
    --buffer-background: var(--ion-color-primary);
    --progress-background: var(--ion-color-secondary);
  }
}
