<ion-header mode="ios">
  <app-job-header [showBackButton]="false" [userImage]="userImage"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.title' | translate }}</h3>
  </div>
</ion-header>
<ion-content [forceOverscroll]="false">
  <div class="page-content">

    <ion-item-divider class="menu-item-divider" *ngIf="appStateService.isAuthorized">
      <ion-label class="menu-item-divider-title">
        {{ 'SETTINGS.accountSettings' | translate }}
      </ion-label>
    </ion-item-divider>

    <ion-list class="menu">

      <ion-item class="menu-item account ion-activatable no-bottom-border" (click)="goToAccount()"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.account' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item devices ion-activatable" (click)="goToDevices()" *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.devices' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item (click)="goToSecurity()" class="menu-item privacy ion-activatable" *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.security' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item (click)="goToConnectedAccounts()" class="menu-item connected ion-activatable"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.connectedAccounts' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item (click)="goToReferrals()" class="menu-item referral ion-activatable"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.referrals' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item (click)="goToActivities()" class="menu-item activities ion-activatable"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.activities' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item password ion-activatable" (click)="goToChangePassword()"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.changePassword' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item logout ion-activatable no-top-border" (click)="confirmLogout()"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.logout' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

    </ion-list>

    <ion-item-divider class="menu-item-divider">
      <ion-label class="menu-item-divider-title settings">
        {{ 'SETTINGS.appSettings' | translate }}
      </ion-label>
    </ion-item-divider>

    <ion-list class="menu">

      <ion-item class="menu-item overview ion-activatable no-bottom-border" (click)="goToAbout()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.about' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <ion-item class="menu-item notification ion-activatable" (click)="goToNotifications()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.notifications' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <ion-item class="menu-item language ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <ion-label>{{ 'SETTINGS.language' | translate }}</ion-label>
        <ion-select [placeholder]="'SETTINGS.selectLanguagePlaceholder' | translate" (ionChange)="languageChanged()"
          [okText]="'SETTINGS.ok' | translate" [cancelText]="'SETTINGS.cancel' | translate"
          [(ngModel)]="selectedLanguage">
          <ion-select-option value="{{ lang.code }}" *ngFor="let lang of avaliableLangs">{{ lang.name }} ({{ lang.en
            }})</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="menu-item theme ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <ion-label>{{ 'SETTINGS.theme' | translate }}</ion-label>
        <ion-select [placeholder]="'SETTINGS.selectLanguagePlaceholder' | translate" (ionChange)="themeChanged()"
          [okText]="'SETTINGS.ok' | translate" [cancelText]="'SETTINGS.cancel' | translate" [(ngModel)]="selectedTheme">
          <ion-select-option value="{{ theme }}" *ngFor="let theme of themeSwitcher.availableThemes">{{ 'SETTINGS.' +
            theme |
            translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="menu-item currency ion-activatable no-top-border">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <ion-label>{{ 'SETTINGS.currency' | translate }}</ion-label>
        <ion-select [placeholder]="'SETTINGS.selectLanguagePlaceholder' | translate" (ionChange)="currencyChanged()"
          [okText]="'SETTINGS.ok' | translate" [cancelText]="'SETTINGS.cancel' | translate"
          [(ngModel)]="selectedCurrency">
          <ion-select-option value="{{ curr.currency_code }}" *ngFor="let curr of currencyList">{{ curr.currency_code }}
            - {{ curr.currency_name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item-divider class="menu-item-divider">
      <ion-label class="menu-item-divider-title">
        {{ 'JOIN_SOCIALS' | translate }}
      </ion-label>
    </ion-item-divider>

    <ion-list class="menu">

      <!-- <ion-item class="menu-item discord ion-activatable no-bottom-border" (click)="socialsDiscord()">
        <ion-ripple-effect></ion-ripple-effect>
        <img class="menu-item-icon" src="../../assets/icon/discord.png">
        <span class="menu-item-text">{{ 'JOIN_DISCORD' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item> -->

      <ion-item class="menu-item telegram ion-activatable no-bottom-border" (click)="socialsTelegram()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'JOIN_TELEGRAM' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <ion-item class="menu-item x ion-activatable" (click)="socialsX()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'JOIN_X' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <ion-item class="menu-item linkedin ion-activatable no-top-border" (click)="socialsLinkedin()">
        <ion-ripple-effect></ion-ripple-effect>
        <img class="menu-item-icon" src="../../assets/icon/linkedin.png">
        <span class="menu-item-text">{{ 'JOIN_LINKEDIN' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
    </ion-list>

    <ion-item-divider class="menu-item-divider">
      <ion-label class="menu-item-divider-title help">
        {{ 'SETTINGS.help' | translate }}
      </ion-label>
    </ion-item-divider>

    <ion-list class="menu">

      <ion-item class="menu-item help ion-activatable no-bottom-border" (click)="goToHelpPage()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.helpPage' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <ion-item class="menu-item feedback ion-activatable" (click)="goToFeedback()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.feedback' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <!-- <ion-item class="menu-item recovery ion-activatable" (click)="walletRecoveryPhraseHelper()" > -->
      <ion-item class="menu-item recovery ion-activatable no-top-border" (click)="walletRecoveryPhraseHelper()"
        *ngIf="appStateService.isAuthorized">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.recovery' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

    </ion-list>

    <ion-item-divider class="menu-item-divider">
      <ion-label class="menu-item-divider-title help">
        {{ 'SETTINGS.legalReference' | translate }}
      </ion-label>
    </ion-item-divider>

    <ion-list class="menu">

      <ion-item class="menu-item links ion-activatable no-bottom-border" (click)="goToPrivacy()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.privacyPolicies' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item links ion-activatable" (click)="goToTerms()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.termsOfUse' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item links ion-activatable" (click)="goToWEB3()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.web3' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item links ion-activatable" (click)="goToImprint()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.imprint' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="menu-item links ion-activatable no-top-border" (click)="goToOpenSourceLibraries()">
        <ion-ripple-effect></ion-ripple-effect>
        <i class="menu-item-icon"
          [ngClass]="{ 'light': themeSwitcher.getCurrentTheme() == 'dark', 'dark': themeSwitcher.getCurrentTheme() == 'light'}"></i>
        <span class="menu-item-text">{{ 'SETTINGS.openSource' | translate }}</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>

      <!-- <ion-item-divider class="menu-item-divider">
        <ion-label>
          {{ 'SETTINGS.feedback' | translate }}
        </ion-label>
      </ion-item-divider> -->



      <!-- <ion-item class="menu-item ion-activatable" (click)="goToInAppBrowser()">
        <ion-ripple-effect></ion-ripple-effect>
        <span class="menu-item-text">Test InAppBrowser</span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item> -->

    </ion-list>
  </div>
</ion-content>