@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.feedback-button-container {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  // margin: 0 auto;
  color: #FFFFFF;
  font-size: var(--design-guidelines-button);
  background: var(--ion-color-secondary);
  border-radius: 8px;
  width: 85%;
  border: 1px solid var(--ion-color-secondary);
}

.page-header {
  // padding: 0px 25px 0;
  // margin: 27px 0 24px 28px;
  background-color: var(--ion-background-color);
  position: relative;

  .blue-circle {
    width: 616px;
    height: 616px;
    position: absolute;
    background-size: cover;
    background-image: url('../../assets/small_circle_blue.png');
  }

  .red-circle {
    width: 616px;
    height: 616px;
    position: absolute;
    background-size: cover;
    background-image: url('../../assets/small_circle.png');

  }

  .page-title {
    margin: 27px 0 24px 28px;
    font-size: var(--design-guidelines-heading);
    color: var(--ion-text-color-rgb);
  }
}

.no-top-border {
  border-radius: 0 0 10px 10px;
}

.no-bottom-border {
  border-radius: 10px 10px 0 0;
}

.page-content {
  background-color: var(--ion-background-color);
  min-height: 100%;

  .menu {
    color: var(--ion-text-color);
    /* padding: 0 25px 5px 32px; */
    margin-left: 25px;
    margin-right: 32px;
    /* padding-top: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;
    --background: var(--ion-datetime-background);

    ion-item {
      --background: var(--ion-pitch);
      --border-width: 0;
      --inner-border-width: 0;
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --padding-end: 0;
      --padding-start: 0;
    }

    .menu-item-select {
      display: flex;
      flex-direction: row;
      padding: 0;
      font-size: 20px;
      color: var(--ion-text-color-rgb);
      letter-spacing: 0.1px;
      height: 38px;
      position: relative;
      padding: 0 8px 0 5px;
    }

    .menu-item {
      display: flex;
      flex-direction: row;
      padding: 0;
      font-size: 20px;
      letter-spacing: 0.1px;
      height: 38px;
      position: relative;

      .menu-item-icon {
        display: block;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 30px 0 6px;
        flex-shrink: 0;
      }

      .menu-item-text {
        flex-shrink: 0;
      }

      .menu-item-icon-arrow {

        height: 12px;
        width: 12px;
        position: absolute;
        top: 18px;
        right: 16px;
        border: solid var(--ion-text-color);
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg);

      }

    }

    $menuIcons: 'account', 'devices', 'privacy', 'connected', 'activities', 'referral', 'password', 'logout', 'feedback', 'links', 'notification', 'help', 'overview', 'language', 'theme', 'library', 'recovery', 'currency';

    @each $icon in $menuIcons {
      .menu-item.#{$icon} {
        .menu-item-icon.dark {
          background-image: url('../../assets/icon/#{$icon}.svg');
        }

        .menu-item-icon.light {
          background-image: url('../../assets/icon/#{$icon}-light.svg');
        }
      }
    }

    $socialSvgIcons: 'telegram', 'x';

    @each $icon in $socialSvgIcons {
      .menu-item.#{$icon} {
        .menu-item-icon.dark {
          background-image: url('../../assets/icon/#{$icon}.svg');
        }

        .menu-item-icon.light {
          background-image: url('../../assets/icon/#{$icon}.svg');
        }
      }
    }

  }

  ion-item-divider {
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: var(--ion-background-color);
  }

  .menu-item-divider {
    font-size: 15px;
    // margin-top: 12px;
    border-bottom: 2px solid var(--ion-background-color);

    .menu-item-divider-title {
      font-size: 14px;
      margin-right: 32px;
      color: var(--ion-text-color);
      line-height: 26px;
    }

    ion-label {
      position: absolute;
      right: 10px;
    }

    // .settings, .help {
    //   margin-top: 15px;
    // }
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}