<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">


    <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 9</div>

    <ion-progress-bar [value]="progress"></ion-progress-bar>

    <h1>{{ 'SIGNSTEPTWO.your_user_name' | translate }} </h1>    
    <b>{{ 'SIGNSTEPTWO.important' | translate }}</b>
    <p class="warning">{{ 'SIGNSTEPTWO.you_need_user_name' | translate }}</p>

    <form class="proto-form"
    autocomplete="new-password"
    [formGroup]="signForm">

      <div class="form__fields">

        <input autocomplete="new-password" style="opacity: 0;position: absolute;" type="text" name="fakeusernameremembered">
        <input autocomplete="new-password" style="opacity: 0;position: absolute;" type="email" name="fakeuseremailremembered">
        <input autocomplete="new-password" style="opacity: 0;position: absolute;" type="password" name="fakepasswordremembered">

        <div class="proto-input">
          <label>{{ 'SIGNSTEPTWO.username' | translate }}
          </label>
          <ion-input [ngClass]="{'error': signProcessing && signForm.controls.username.invalid}"
            #usernameField
            name="username"
            formControlName="username"
            (ionFocus)="displayRequirements.username = true"
            (ionBlur)="displayRequirements.username = false"
            (keyup.enter)="nextStep()"
            type="text"
            placeholder=" "></ion-input>

          <p class="proto-input__requirements"
            *ngIf="signForm.value.username.length == 0">
            {{ 'SIGNSTEPONE.REQUIREMENTS.USERNAME' | translate }}
          </p>

          <p class="proto-input__requirements sl-bad"
            *ngIf="signForm.value.username.length > 0 && !signForm.controls.username.valid">
            {{ 'SIGNSTEPONE.REQUIREMENTS.USERNAME' | translate }}
          </p>

          <p class="proto-input__requirements sl-good"
            *ngIf="signForm.value.username.length > 0 && signForm.controls.username.valid">
            {{ 'SIGNSTEPONE.username_great' | translate }}
          </p>
        </div>        
      </div>
      <ion-list mode="ios">
        <ion-item>
          <ion-checkbox color="primary" formControlName="termsConditions" class="proto-toggle"></ion-checkbox>
          <ion-label class="checkbox-label">
            {{ 'SIGNSTEPNINE.termsConditions.part1' | translate }}<a (click)="iabTermsConditions()"><u>{{ 'SIGNSTEPNINE.terms.termsConditions' | translate }}</u></a> {{ 'SIGNSTEPNINE.termsConditions.part2' | translate }}
          </ion-label> 
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" formControlName="dataPrivacy" class="proto-toggle"></ion-checkbox>
          <ion-label [ngClass]="{'error': signProcessing && signForm.controls.dataPrivacy.invalid}" class="checkbox-label">
            {{ 'SIGNSTEPNINE.dataPrivacy.part1' | translate }} <a (click)="iabDataPrivacy()"><u>{{ 'SIGNSTEPNINE.terms.privacyPolicy' | translate }}</u></a> {{ 'SIGNSTEPNINE.dataPrivacy.part2' | translate }}
          </ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-toggle color="primary" formControlName="accessThirdParty" class="proto-toggle"></ion-toggle>
          <ion-label [ngClass]="{'error': signProcessing && signForm.controls.accessThirdParty.invalid}" class="checkbox-label"
          (click)="iabThirdParty()">{{ 'SIGNSTEPNINE.accessThirdParty.part1' | translate }} <u>{{ 'SIGNSTEPNINE.terms.trustedPartners' | translate }}</u> {{ 'SIGNSTEPNINE.accessThirdParty.part2' | translate }}</ion-label>
        </ion-item> -->
      </ion-list>
    </form>
    <ion-footer>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="secondary" (click)="goToPreviousStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
</ion-content>
<!--
  <proto-sign-up-footer
  [currentFormIsValid]="signForm.valid"
  (primaryAction)="nextStep()"
  (secondaryAction)="skipReg()"
  [secondaryCaption]="''">
</proto-sign-up-footer>
-->

