ion-grid {
    font-size: var(--design-guidelines-modal-window);
}
ion-item-divider {
    --padding-start: 0;
    --inner-padding-end: 0;
}

.gridLayout {

    background-color: var(--ion-background-color);
    width: 100%;
    top: 20%;
    --overflow: hidden;
    border: 1px solid var(--ion-border-color);
    &::-webkit-scrollbar {
        display: none;
    }

    border-style: azure;
    border-radius: 20px;
    border-width: 2px;
    border-width: 0.05em;
    border-style: solid;
    margin-bottom: -1px;

    .buttons {
        display: flex;
        padding: 15px 15px 15px;
        justify-content: space-between;
        
        .confirm-button {
            text-align: center;
            padding: 10px 15px;
            background-color: var(--ion-color-primary);
            color: #FFFFFF;
            font-size: var(--design-guidelines-button);
            border-radius: 8px;
            width: 48%;
        }
        .cancel-button {
            text-align: center;
            padding: 10px 15px;
            background-color: var(--ion-color-secondary);
            color: #FFFFFF;
            font-size: var(--design-guidelines-button);
            border-radius: 8px;
            width: 48%;
        }
    }
}

.helix-border {
    border-bottom: 1px solid var(--helix-border-color);
    background: var(--ion-background-color); 
    height: 2px;   
    // margin: 0 14px 0 14px;  
}

ion-row {
    padding-top: 10px;
    padding-bottom: 10px;
}