<ion-content
  [forceOverscroll]="false"
  style="overflow: hidden"
  [fullscreen]="true"
>
  <ion-slides
    #slides
    id="slides"
    class="slides"
    [class.swiper-no-swiping]="locked"    
    pager="false"
    [options]="sliderOptions"
    (ionSlideWillChange)="slidesWillChange()"
    (ionSlideNextStart)="animateForward()"
    (ionSlidePrevStart)="animateBackward()"
  >

    <ion-slide class="slide slide-0">

      <div class="headerLarge">
        JOBGRADER
      </div>
      <div class="subline">
        upgrade the way you work
      </div>

      <div id="clickToActivate" class="button--start" *ngIf="isLoaded">
        
        <br><br>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button class="button ion-text-uppercase" (click)="goToNextSlide()">
                {{ 'BUTTON.SIGN-UP' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button class="button" (click)="goToSignIn()">
                {{ 'BUTTON.LOGIN' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button class="button" (click)="goToHome()">
                {{ 'BUTTON.BROWSE' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
       
      </div>
    </ion-slide>

    <!-- <ion-slide class="slide" style="
      background-color: black;
      background-size: cover;
      background-position: center;
      ">
      <div class="jobgraderSlideHeading">
        <img class="badge" [src]="jobgraderSlides[0].image">
      </div>

      <div class="jobgraderSlideContainer">
        <img [src]="jobgraderSlides[0].background">
      </div>
    </ion-slide>  -->

    <ion-slide class="slide" style="
      background-color: black;
      background-size: cover;
      background-position: center;
      ">
      <div class="jobgraderSlideHeading">
        <img class="badge" [src]="jobgraderSlides[1].image">
      </div>

      <div class="jobgraderSlideContainer">
        <img [src]="jobgraderSlides[1].background">
      </div>
    </ion-slide>

    <ion-slide class="slide" style="
      background-color: black;
      background-size: cover;
      background-position: center;
      ">
      <div class="jobgraderSlideHeading">
        <img class="badge" [src]="jobgraderSlides[2].image">
      </div>
      <div class="jobgraderSlideContainer">
        <img [src]="jobgraderSlides[2].background">
      </div>
    </ion-slide>

    <ion-slide class="slide" style="
      background-color: black;
      background-size: cover;
      background-position: center;
      ">
      <div class="jobgraderSlideHeading">
        <img class="badge" [src]="jobgraderSlides[3].image">
      </div>
      <div class="jobgraderSlideContainer">
        <img [src]="jobgraderSlides[3].background">
      </div>
      <div class="jobgraderSlideContainer">
        <img [src]="jobgraderSlides[3].background">
      </div>
    </ion-slide>

    <ion-slide class="slide" style="
      background-image: url({{jobgraderSlides[4].background}});
      background-color: black;
      background-size: cover;
      background-position: center;
      background-position-y: 26px;
      background-repeat: no-repeat;
      ">
      <div class="jobgraderSlideHeading">
        <img class="badge" [src]="jobgraderSlides[4].image">
      </div>

      <!-- <div class="jobgraderSlideContainer">
        <img [src]="jobgraderSlides[4].background">
      </div> -->

      <div class="exception">          
        <ion-button class="button ion-text-uppercase" style="top: 87.5%;" (click)="goToModNav()">
          {{ 'BUTTON.SIGN-UP' | translate }}
        </ion-button>
        <!-- <img [src]="jobgraderSlides[4].background">           -->
      </div>

      <!-- <div class="jobfooter">          
        <img src="../../assets/jobgrader-walkthrough/headlines/5_bottom.svg">        
      </div> -->

    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <div class="pagination" *ngIf="!isFirstSlide">
    <div class="pagination--indices">
      <div
        class="pagination--bullet"
        *ngFor="let item of ghostArray(5); let i = index;"
        [ngStyle]="{'background': activeSlideIndex > i + paginationOffset ? 'rgba(sliderColor,sliderColor,sliderColor,1)' : 'rgba(sliderColor,sliderColor,sliderColor,0.25)'}"
      ></div>
    </div>
    <div
      class="pagination--bullet pagination--bullet__active"
      [ngStyle]="{'left.px': activeSlideIndex * 20 - (20 * paginationOffset)}"
    ></div>
  </div>
</ion-footer>
