<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">
  <!--<div class="proto-text">{{ 'SIGNSTEPFOUR.otpHasBeenSent.part1' | translate }}<strong>{{ email }}</strong>{{ 'SIGNSTEPFOUR.otpHasBeenSent.part2' | translate }}</div>-->

  <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 9</div>

  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <h1>{{ 'SIGNSTEPSIX.enter_verification_code.part1' | translate }} {{ email }} {{ 'SIGNSTEPSIX.enter_verification_code.part2' | translate }}</h1>

    <form autocomplete="new-password"
      [formGroup]="signForm">

        <div class="proto-input">
          <ion-label style="font-size: var(--design-guidelines-body);">{{ 'SIGNSTEPSIX.verification_code' | translate }}</ion-label>
          <code-input #codeInput [isCodeHidden]="visibility.input"
            [initialFocusField]="0"
            [codeLength]="6"
            (codeChanged)="onCodeChanged($event)"
            (codeCompleted)="onCodeCompleted($event)">
          </code-input>
          
          <ion-button (click)="togglePINVisibility('input')" class="password-toggle" mode="md" fill="clear">
            <ion-icon color="primary" [name]="visibility.input ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
          </ion-button>
         
        </div>
    </form>
    <ion-footer>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="secondary" (click)="goToPreviousStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="activateNextButton" expand="block" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
          <ion-button disabled *ngIf="!activateNextButton" expand="block"> <ion-spinner slot="start" name="lines-small"></ion-spinner> </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
    <div class="proto-hyperlink addPadding">
      <span (click)="resendOtp()">{{ 'SIGNSTEPSIX.resend' | translate }}</span>
    </div>
</ion-content>

<!-- Original step 6-
<proto-sign-up-header
  [percentage]="10">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content page-content">

    <div class="proto-title">{{ 'SIGNSTEPSIX.title' | translate }}</div>

    <form class="proto-form" autocomplete="new-password" [UntypedFormGroup]="signForm">
      <div>
        <ion-label class="profile-picture-label">
          {{ 'SIGNSTEPSIX.profile-picture' | translate }}
        </ion-label>
        <app-image-selection
                [profilePictureSrc]="imageSelectionPayload ? imageSelectionPayload.base64Image : undefined"
                (imageChanged)="onImageChanged($event)"
                editMode="true">
        </app-image-selection>
      </div>

      <div class="form__fields">-->
        <!-- <ion-item class="proto-item menu-item-select pure-select ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="proto-label" style="width: 100%;" [ngClass]="{'error': signProcessing && signForm.controls.gender.invalid}">
            {{ 'SIGNSTEPSIX.gender' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </ion-label>
          <ion-select
            mode="md"
            appTabIndex="1"
            class="select"
            formControlName="gender"
            [okText]="'SIGNSTEPSIX.selectGenderOk' | translate"
            [cancelText]="'SIGNSTEPSIX.selectGenderCancel' | translate"
            [placeholder]="''"
            interface="action-sheet">
            <ion-select-option [value]="gender.value" *ngFor="let gender of avaliableGenders">{{ 'SIGNSTEPSIX.' + gender.title | translate }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="proto-item menu-item-select pure-select ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="proto-label" style="width: 100%;">{{ 'PERSONALDETAILS.maritalstatus' | translate }} </ion-label>
          <ion-select
            mode="md"
            appTabIndex="2"
            class="select"
            formControlName="maritalstatus"
            [okText]="'SIGNSTEPSIX.selectGenderOk' | translate"
            [cancelText]="'SIGNSTEPSIX.selectGenderCancel' | translate"
            [placeholder]="''"
            interface="action-sheet">
            <ion-select-option [value]="maritalstatus.value" *ngFor="let maritalstatus of avaliableMaritalStatus">{{ 'PERSONALDETAILS.' + maritalstatus.title | translate }}</ion-select-option>
          </ion-select>
        </ion-item> -->
<!--
        <div class="proto-item menu-item-select ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <span class="checkmark" *ngIf="!signForm.controls.birthday.value"></span>
          <ion-label style="width: 250px;" [ngClass]="{'error': signProcessing && signForm.controls.birthday.invalid}">
            {{ 'SIGNSTEPSIX.birthday' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </ion-label>
          <ion-datetime
                  appTabIndex="3"
                  [monthShortNames]="'GENERAL.month-short-names' | translate"
                  [monthNames]="'GENERAL.month-names' | translate"
                  [cancelText]="'GENERAL.cancel' | translate"
                  [doneText]="'GENERAL.choose' | translate"
                  displayFormat="D MMM YYYY"
                  min="1903-01-01"
                  [max]="timesService.birthdayMax"
                  value=""
                  formControlName="birthday"></ion-datetime>--><!--[monthShortNames]="getMonthShortNames()"-->
        <!--</div>-->

        <!-- <div class="proto-input">
          <ion-input class="proto-input__field"
            [ngClass]="{'error': signProcessing && signForm.controls.place.invalid}"
            name="place"
            appTabIndex="4"
            formControlName="place"
            type="text"
            placeholder=" ">
          </ion-input>
          <label class="proto-input__label"
            [ngClass]="{'error': signProcessing && signForm.controls.place.invalid}">
            {{ 'SIGNSTEPSIX.place' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </label>
        </div> -->

<!--        <div class="proto-input">-->
<!--          <ion-input class="proto-input__field"-->
<!--            [ngClass]="{'error': signProcessing && signForm.controls.province.invalid}"-->
<!--             appTabIndex="4"-->
<!--             name="province"-->
<!--            formControlName="province"-->
<!--            type="text"-->
<!--            placeholder=" ">-->
<!--          </ion-input>-->
<!--          <label class="proto-input__label"-->
<!--            [ngClass]="{'error': signProcessing && signForm.controls.province.invalid}">-->
<!--            {{ 'SIGNSTEPSIX.province' | translate }}-->
<!--          </label>-->
<!--        </div>-->

        <!-- <ion-item class="proto-item pure-select menu-item-select sign-up-select ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label style="width: 150px;" [ngClass]="{'error': signProcessing && signForm.controls.country.invalid}">
            {{ 'SIGNSTEPSIX.country' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </ion-label>
          <ion-select
                  mode="md"
                  appTabIndex="5"
                  id="select-flag-1"
                  formControlName="country"
                  [okText]="'GENERAL.choose' | translate"
                  [cancelText]="'GENERAL.cancel' | translate"
                  [placeholder]="''">
            <ion-select-option [value]="country.code3"
                               *ngFor="let country of signService.countries">
              {{ country.countryTranslateKey | translate }}
            </ion-select-option>
          </ion-select>
        </ion-item> -->
<!--
        <ion-item class="proto-item pure-select menu-item-select ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="proto-label" style="width: 130px;" [ngClass]="{'error': signProcessing && signForm.controls.citizenship.invalid}">
            {{ 'SIGNSTEPSIX.citizenship' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </ion-label>
          <ion-select
                  mode="ios"
                  appTabIndex="6"
                  id="select-flag-2"
                  formControlName="citizenship"
                  [okText]="'GENERAL.choose' | translate"
                  [cancelText]="'GENERAL.cancel' | translate"
                  [placeholder]="''">
            <ion-select-option [value]="country.code3"
                               *ngFor="let country of signService.countries">
              {{ country.countryTranslateKey | translate }}
            </ion-select-option>
          </ion-select>
        </ion-item>

      </div>
    </form>
  </div>

</ion-content>

<proto-sign-up-footer
  [currentFormIsValid]="signForm.valid"
  (primaryAction)="nextStep()"
  (secondaryAction)="skipReg()"
  [secondaryCaption]="'SIGNSTEPTWO.later' | translate">
</proto-sign-up-footer>
-->
