@import "../../theme/index";


// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
  padding: 30px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;
  
  
}

.page-title {
  // width: 88%;
  font-size: var(--design-guidelines-heading);
  text-align: left;
  margin-bottom: 20px;
  color: var(--ion-text-color);
}

.page-disclaimer {
  width: 88%;
  text-align: left;
  margin: 0 0 0 28px;
  color: var(--ion-text-color);
  font-size: var(--design-guidelines-body);
}

.page-content {
  background-color: var(--ion-background-color);
  .driverlicence {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/mobility.svg');
        width: 71px;
        height: 26px;
        background-size: cover;
        display: block;
        margin-left: 17px;
        margin-top: 30px;
      }
    }

  }

  .idcard {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/wallet.svg');
        width: 68px;
        height: 60px;
        background-size: cover;
        display: block;
        margin-left: 17px;
        margin-top: 10px;
      }
    }
  }

  .authada {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/s-home.svg');
        width: 78px;
        height: 60px;
        background-size: cover;
        display: block;
        margin-left: 12px;
        margin-top: 10px;
      }
    }
  }

  .eid {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/eID.svg');
        width: 78px;
        height: 60px;
        background-size: cover;
        display: block;
        margin-left: 12px;
        margin-top: 10px;
      }
    }
  }

  .government {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/government.svg');
        width: 74px;
        height: 61px;
        background-size: cover;
        display: block;
        margin-left: 14px;
        margin-top: 10px;
      }
    }
  }

  .otc {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/community.svg');
        width: 74px;
        height: 61px;
        background-size: cover;
        display: block;
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }

  .telco {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/telco.svg');
        width: 61px;
        height: 61px;
        background-size: cover;
        display: block;
        margin-left: 17px;
        margin-top: 10px;
      }
    }
  }

  .inactive {
    opacity: 0.5;
    z-index: 3;
    pointer-events: none;
  }

  ion-card {
    width: 140px;
    margin-left: calc(50% - 70px);
    border-radius: 10px;
    position: relative;
  }

  ::ng-deep app-country-selection-item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    ion-item {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  ion-card-header {
    background-color: var(--ion-color-primary);
    height: 127px;
  }

  ion-card-content {
    padding: 5px;
    font-family: "Jost Regular", Helvetica, sans-serif;
    font-size: 15px;
    color: var(--ion-color-dark);
    letter-spacing: 0.1px;
    text-align: center;
  }
}

.next-button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: var(--design-guidelines-button);
  background: var(--ion-color-primary);
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--ion-color-primary);
}

.skip-button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: var(--design-guidelines-button);
  background: var(--ion-color-secondary);
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--ion-color-secondary);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

tooltip-box {
  position: relative;
  top: 0;
}
