<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
  <br>
  <div class="page-header">
    <div class="page-title">{{ 'KYC.hello' | translate }}</div>
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="page-content">
    <div class="page-disclaimer">
      {{ 'KYC.disclaimer' | translate }}
    </div>
    <form [formGroup]="kycForm">
      <ion-grid class="ion-no-margin">
      <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="ion-text-center">
          <!-- <ion-card class="ion-no-margin idcard">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.VERIFF_IDCARD' | translate }}</span>
            </ion-card-content> -->
            <div class="buttons" (click)="goBack()">
              <div class="skip-button">
                {{ 'BUTTON.SKIP' | translate }}
              </div>
              
            </div>

          <!-- </ion-card> -->
        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <!-- <ion-card class="ion-no-margin idcard">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.VERIFF_IDCARD' | translate }}</span>
            </ion-card-content> -->
            <div class="buttons" (click)="showVerificationOptions()">
              
              <div class="next-button">
                {{ 'ALTWALKTHROUGH.next' | translate }}
                <!-- <app-country-selection-item
                (valueChanged)="veriffIdentity($event)"
                (selectOndatoEmitter)="initiateOndato($event)"
                [required]="true"
                [setBackAfterSelect]="true"
                [mode]="countryModes.IDENTITY"
                [label]="'KYC.ID_CARD_COUNTRIES' | translate"
                [formControlName]="formControlNames.identity">
              </app-country-selection-item> -->
              </div>
            </div>

          <!-- </ion-card> -->
        </ion-col>
        <!-- <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin driverlicence inactive">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.VERIFF_DRIVERLICENCE' | translate }}</span>
            </ion-card-content>
            <app-country-selection-item
                    (valueChanged)="veriffDriverLicense($event)"
                    (selectOndatoEmitter)="initiateOndato($event)"
                    [required]="true"
                    [mode]="countryModes.DRIVERLICENSE"
                    [setBackAfterSelect]="true"
                    [label]="'KYC.DRIVERLICENCE_COUNTRIES' | translate"
                    [formControlName]="formControlNames.driverLicence">
            </app-country-selection-item>
          </ion-card>
        </ion-col> -->
      </ion-row>
      <!-- <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin eid inactive">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.AUTHADA' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin government inactive">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.GOVERNMENT' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin telco inactive"><tooltip="{{ 'CONTACT.title' | translate }}" positionV="top" duration="500" arrow
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.TELCO' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card (click)="otc()" class="ion-no-margin otc inactive">tooltip="{{ 'CONTACT.title' | translate }}" positionV="top" duration="500" arrow
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'KYC.OTC' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> -->
    </ion-grid>
    </form>
  </div>
</ion-content>
<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->