<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBackToSettings()" [userImage]="profilePictureSrc"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGSACCOUNT.title' | translate }}</h3>
  </div>
</ion-header>


<ion-content>

  <div class="page-content">
    <ion-list class="account__list">

      <ion-item>
        <div class="account__list_item">
          <div class="item__title">{{ 'SETTINGSACCOUNT.username' | translate }}</div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'username', username)">
              {{ username }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="account__list_item">
          <div class="item__title">{{ 'SETTINGSACCOUNT.callname' | translate }} <span *ngIf="editMode">({{ 'SETTINGSACCOUNT.maxlength' | translate }})</span></div>
          <div class="item__content">
            <div class="item__content_value" *ngIf="!editMode" (press)="onPress($event, 'callname', callname)">
              {{ callname }}
            </div>
            <ion-icon *ngIf="!editMode" button class="create" src="../assets/icon/create-outline.svg" (click)="editCallname()"></ion-icon>
            <form [hidden]="!editMode" [formGroup]="editForm">
              <input class="input-field" [ngClass]="{'error': editForm.controls.callname.invalid}" type="text" placeholder=" " name="callname" formControlName="callname">
            </form>
            <ion-icon *ngIf="editMode" button class="create" src="../assets/icon/save-outline.svg" (click)="saveCallname()"></ion-icon>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="account__list_item">
          <div class="item__title">({{ 'SETTINGSACCOUNT.tapHere' | translate }})</div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.did">
        <div class="account__list_item">
          <div class="item__title"> {{ 'SETTINGSACCOUNT.did' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'did', crypto.did)">
              <ion-icon (click)="onPress($event, 'did', crypto.did)" name="copy-outline"></ion-icon> {{ crypto?.did.substr(0,25) || '' }}...
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="account__list_item">
          <div class="item__title">({{ 'SETTINGSACCOUNT.mnemonic' | translate }})</div>
        </div>
      </ion-item>

      <ion-item>
        <div class="account__list_item">
          <div class="item__title" *ngIf="!viewLockedContent"> {{ 'SETTINGSACCOUNT.seedPhrase' | translate }} ({{ 'SETTINGSACCOUNT.tapToAccess' | translate }})</div>
          <div class="item__title" *ngIf="viewLockedContent"> {{ 'SETTINGSACCOUNT.seedPhrase' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" *ngIf="!viewLockedContent" (click)="unlockContent()">
              <ion-skeleton-text animated style="width: 50vw; height: 26px;"></ion-skeleton-text>
            </div>
            <div class="item__content_value" *ngIf="viewLockedContent" (press)="onPress($event, 'mnemonic', crypto.userMnemonic)">
              {{ crypto?.userMnemonic || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <!-- <ion-item>
        <div class="account__list_item">
          <div class="buttons">
            <div class="button button--blue" (click)="exportKeys()">{{ 'WALLET.exportKeys' | translate }}</div>
          </div>
        </div>
      </ion-item> -->

      <!-- <ion-item>
        <div class="account__list_item">
          <div *ngIf="moreMode" class="item__title">({{ 'SETTINGSACCOUNT.hideMore' | translate }})</div>
          <div *ngIf="!moreMode" class="item__title">({{ 'SETTINGSACCOUNT.clickForMore' | translate }})</div>
        </div>
      </ion-item>

      <ion-item class="moreButtonPlace">
        <ion-icon *ngIf="moreMode" button class="moreButton" src="../assets/icon/chevron-down-outline.svg" (click)="toggleMore()"></ion-icon>
        <ion-icon *ngIf="!moreMode" button class="moreButton" src="../assets/icon/chevron-forward-outline.svg" (click)="toggleMore()"></ion-icon>
      </ion-item> -->

      <!-- <ion-item></ion-item>
      <ion-item></ion-item> -->

      <ion-item *ngIf="!!crypto.userPublicKey && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> {{ 'SETTINGSACCOUNT.devicePublicKeyDelegate' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'userPublicKey', crypto.userPublicKey)">
              {{ crypto?.userPublicKey || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.userPrivateKey && powerUserMode">
        <div class="account__list_item">
          <div class="item__title" *ngIf="!viewLockedContent"> {{ 'SETTINGSACCOUNT.devicePrivateKeyDelegate' | translate }} ({{ 'WALLET.tap-access' | translate }})</div>
          <div class="item__title" *ngIf="viewLockedContent"> {{ 'SETTINGSACCOUNT.devicePrivateKeyDelegate' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" *ngIf="!viewLockedContent" (click)="unlockContent()">
              <ion-skeleton-text animated style="width: 50vw; height: 26px;"></ion-skeleton-text>
            </div>
            <div class="item__content_value" *ngIf="viewLockedContent" (press)="onPress($event, 'userPrivateKey', crypto.userPrivateKey)">
              {{ crypto?.userPrivateKey || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.devicePublicKeyEncryption && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> {{ 'SETTINGSACCOUNT.devicePublicKeyEncryption' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'devicePublicKeyEncryption', crypto.devicePublicKeyEncryption)">
              {{ crypto?.devicePublicKeyEncryption || '' | uint82Base64 }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.devicePrivateKeyEncryption && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> {{ 'SETTINGSACCOUNT.devicePrivateKeyEncryption' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'devicePrivateKeyEncryption', crypto.devicePrivateKeyEncryption)">
              {{ crypto?.devicePrivateKeyEncryption || '' | uint82Base64 }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.chatPublicKey && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> {{ 'SETTINGSACCOUNT.chatPublicKey' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'chatPublicKey', crypto.chatPublicKey)">
              {{ crypto?.chatPublicKey || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.chatPrivateKey && powerUserMode">
        <div class="account__list_item">
          <div class="item__title" *ngIf="!viewLockedContent"> {{ 'SETTINGSACCOUNT.chatPrivateKey' | translate }} ({{ 'WALLET.tap-access' | translate }})</div>
          <div class="item__title" *ngIf="viewLockedContent"> {{ 'SETTINGSACCOUNT.chatPrivateKey' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" *ngIf="!viewLockedContent" (click)="unlockContent()">
              <ion-skeleton-text animated style="width: 50vw; height: 26px;"></ion-skeleton-text>
            </div>
            <div class="item__content_value" *ngIf="viewLockedContent" (press)="onPress($event, 'chatPrivateKey', crypto.chatPrivateKey)">
              {{ crypto?.chatPrivateKey || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.encryptedChatPrivateKey && powerUserMode">
        <div class="account__list_item">
          <div class="item__title" *ngIf="!viewLockedContent"> {{ 'SETTINGSACCOUNT.encryptedChatPrivateKey' | translate }} ({{ 'WALLET.tap-access' | translate }})</div>
          <div class="item__title" *ngIf="viewLockedContent"> {{ 'SETTINGSACCOUNT.encryptedChatPrivateKey' | translate }} </div>
          <div class="item__content">
            <div class="item__content_value" *ngIf="!viewLockedContent" (click)="unlockContent()">
              <ion-skeleton-text animated style="width: 50vw; height: 26px;"></ion-skeleton-text>
            </div>
            <div class="item__content_value" *ngIf="viewLockedContent" (press)="onPress($event, 'encryptedChatPrivateKey', crypto.encryptedChatPrivateKey)">
              {{ crypto?.encryptedChatPrivateKey || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> firebaseToken </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'firebase', crypto.firebase)">
              {{ crypto?.firebase || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!kycStatus && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> kycStatus </div>
          <div class="item__content">
            <div class="item__content_value kyc-status">
              {{ kycStatus }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.didDocument && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> didDocument </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'didDocument', crypto.didDocument)">
              {{ crypto?.didDocument || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.verifiableCredentialEncrypted && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> verifiableCredentialEncrypted </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'verifiableCredentialEncrypted', crypto.verifiableCredentialEncrypted)">
              {{ crypto?.verifiableCredentialEncrypted || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.userKeyEncryptedVC && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> userKeyEncryptedVC </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'userKeyEncryptedVC', crypto.userKeyEncryptedVC)">
              {{ crypto?.userKeyEncryptedVC || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.userKeyEncryptedBackup && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> userKeyEncryptedBackup </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'userKeyEncryptedBackup', crypto.userKeyEncryptedBackup)">
              {{ crypto?.userKeyEncryptedBackup || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.userKeyEncryptedUser && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> userKeyEncryptedUser </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'userKeyEncryptedUser', crypto.userKeyEncryptedUser)">
              {{ crypto?.userKeyEncryptedUser || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="!!crypto.vcId && powerUserMode">
        <div class="account__list_item">
          <div class="item__title"> vcId </div>
          <div class="item__content">
            <div class="item__content_value" (press)="onPress($event, 'vcId', crypto.vcId)">
              {{ crypto?.vcId || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="powerUserMode">
        <div class="account__list_item">
          <div class="item__title" *ngIf="!viewLockedContent"> hashUDID ({{ 'WALLET.tap-access' | translate }})</div>
          <div class="item__title" *ngIf="viewLockedContent"> hashUDID </div>
          <div class="item__content">
            <div class="item__content_value" *ngIf="!viewLockedContent" (click)="unlockContent()">
              <ion-skeleton-text animated style="width: 50vw; height: 26px;"></ion-skeleton-text>
            </div>
            <div class="item__content_value" *ngIf="viewLockedContent" (press)="onPress($event, 'hashUDID', crypto.hashUDID)">
              {{ crypto?.hashUDID || '' }}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="account__list_item">
          <div class="buttons" *ngIf="powerUserMode">
              <div class="button button--blue"  (click)="showVCSK()">{{ 'SETTINGSACCOUNT.showvcsk' | translate }}</div>
              <span style="width: 10px;"></span>
              <div class="button button--red"  (click)="showBackupSK()">{{ 'SETTINGSACCOUNT.showbackupsk' | translate }}</div>
          </div>
          <div class="buttons" *ngIf="powerUserMode">
            <div class="button button--red"  (click)="showVC()">{{ 'SETTINGSACCOUNT.showvc' | translate }}</div>
            <span style="width: 10px;"></span>
              <div class="button button--blue"  (click)="showDid()">{{ 'SETTINGSACCOUNT.showdid' | translate }}</div>
          </div>
        <div class="buttons" *ngIf="powerUserMode">
          <div class="button button--red"  (click)="showUserSK()">{{ 'SETTINGSACCOUNT.showusersk' | translate }}</div>

        </div>
        <div class="buttons" *ngIf="powerUserMode && !prodEnv">
          <div class="button button--blue"  (click)="showChatPassword()">{{ 'SETTINGSACCOUNT.chat-password' | translate }}</div>

        </div>
        <!-- <div class="buttons" *ngIf="!prodEnv">
          <div class="button button--blue"  (click)="testAdjust()">Adjust Testing</div>
        </div>
        <div class="buttons" *ngIf="!prodEnv">
          <div class="button button--red"  (click)="testAltWalkthrough()">Alt Walkthrough</div>
        </div> -->
        <div class="buttons" *ngIf="powerUserMode">
          <div class="button button--red"  (click)="showGifSettings()">{{ 'SETTINGSACCOUNT.gif-settings' | translate }}</div>
        </div>

        <br>

        </div>
      </ion-item>
        <!-- </ng-container> -->

      <ion-item></ion-item>

      <ion-item>
        <div class="account__list_item">
          <div class="buttons" (click)="deleteUser()">
              <div class="button">{{ 'SETTINGSACCOUNT.delete' | translate }}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
