@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));


// ion-alert {
  // div {
    // .alert-wrapper.sc-ion-alert-md {
    //   overflow-y: scroll;
    //   max-height: 75%;
    // }
  // }
// }

.input-field {
  margin: 10px 0 10px 0;
    margin-top: 0;
    font-size: 16px;
    padding: 5px;
    padding-left: 0;
    display: block;
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--ion-border-color);
    border-radius: 0;
    background-color: transparent !important;
    outline: none;
    &:focus~label,
    &:not(:placeholder-shown)~label {
      top: -10px;
      font-size: 12px;
    }
    &:focus~.bar:after,
    &:focus~.bar:before {
      width: 50%;
    }
    :focus~.highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
}

.kyc-status {
  width: 100%;
}

.page-header {
  // padding: 0px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;

  .page-title {
    margin: 27px 0 24px 28px;
    font-size: var(--design-guidelines-heading);
    color: var(--ion-text-color-rgb);
  }
}

.page-content {
  background-color: var(--ion-background-color);
  min-height: 100%;
  .account {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);
      .item {
        --background: transperent;
        --border-width: 0;
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        --border-radius: 8px;
        margin-bottom: 0;
      }
      &_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        border-bottom: none;
        width: 100%;
        .item {
          &__title {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &_value {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: var(--ion-color-light);
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--ion-color-primary);
    &--inactive {
      pointer-events: none;
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
    }
    &--disabled {
      pointer-events: none;
      background: #D7D7D7;
      border: 1px solid #D7D7D7;
    }
    &--blue {
      background: #BF7B54;
      border: 1px solid #BF7B54;
    }
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.create {
  font-size: 25px;
}

.error {
  color: #733122 !important;
}

.moreButtonPlace {
  float: left;
  padding-bottom: 15px;
  .moreButton {
    font-size: var(--design-guidelines-button);
  }
}