.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  position: relative;
 
  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   bottom: 0;
  //   left: -172px;
  //   background-size: cover;
  //   background-image: url("../../assets/red-circle.svg");
  //   z-index: -1;
  // }
  // &:after {
  //   display: none;
  // }
}

.page-content {
  width: 100%;
  padding: 55px 42px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  
  z-index: 11;
  &__title {
    font-size: var(--design-guidelines-heading);
    text-align: center;
  }
  &__icon {
    width: 102px;
    height: 102px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-failed.svg");
  }
  &__subtitle {
    font-size: var(--design-guidelines-subline);
    text-align: center;
  }
  &__button {
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 170px;
    border: 1px solid var(--ion-color-primary);
    &:active {
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
    }
  }
}

.page-footer {
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 225px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
}
