p {
    margin: 0;
  }
  ion-content {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding: 10px 0px;
      .add-icon {
        font-size: 35px;
        color: var(--ion-text-color);
      }
      .txt {
        color: var(--ion-text-color);
        font-size: medium;
      }
    }
    .search-div {
      ion-searchbar {
        --background: transparent;
        background: transparent;
  
        padding: 0px 15px;
        border-radius: 0px;
        font-style: normal;
        font-weight: 600;
        font-size: medium;
        letter-spacing: 0.2px;
  
        // color: white;
        border-bottom: 1px solid var(--ion-text-color);
        ::ng-deep .searchbar-input-container {
          height: 100% !important;
          --background: transparent;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .txt {
        text-transform: uppercase;
        font-size: small;
        letter-spacing: 0.1em;
        color: var(--ion-text-color);
        margin: 1rem 0rem;
        margin-top: 2rem;
      }
    }
    .currencies-list-div {
      margin-top: 2rem;
      .list-item {
        ion-label {
          h5 {
            font-size: medium;
          }
          p {
            color: var(--ion-text-color);
          }
        }
        .currency-icon {
          font-size: 25px;
        }
      }
    }
  }
  