ion-datetime {
  width: 100%;
  text-align: right;
}

ion-card {
  width: 140px;
  margin-left: calc(50% - 70px);
  border-radius: 10px;
  position: relative;
}

ion-card-header {
  background-color: var(--ion-color-primary);
  height: 127px;
}

ion-card-content {
  padding: 5px;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 15px;
  color: var(--ion-color-dark);
  letter-spacing: 0.1px;
  text-align: center;
}

ion-select {
  --color: var(--ion-text-color);
  --background: var(--ion-background-color);
}

.alert-checkbox-label {
  color: var(--ion-text-color) !important;
  --color: var(--ion-text-color) !important;
}

ion-progress-bar {
  height: 8px;
  --background: var(--ion-color-primary);
  --buffer-background: var(--ion-color-primary);
  --progress-background: var(--ion-color-secondary);
}

ion-content{
  .step {
    width: 100%;
    font-size: 0.7rem;
    color: var(--ion-text-color);
    margin: 64px 0 6px 0;
  }
}

h1 {
  font-size: var(--design-guidelines-heading);
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: var(--design-guidelines-subline);
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-background-color);
  position: relative;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 254px;
  //   height: 254px;
  //   top: -145px;
  //   right: -45px;
  //   background-size: cover;
  //   background-image: url("../../../../assets/red-circle.svg");
  //   z-index: -1;
  // }

  i.helix_id {
    position: absolute;
    top: 85px;
    left: 25px;
    width: 94px;
    height: 28px;
    background: url("../../../../assets/icon/helix_id.svg") no-repeat center;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    font-size: 20px;
    color: var(--ion-text-color);
 
  }
}

.page-content {
  width: 100%;
  min-height: 100%;
  padding: 10px 15px 10px;
  background-color: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
    color: var(--ion-text-color);

  }
  .form {
    margin: 20px 15px;
    padding-top: 20px;
   
    &__fields {
      display: flex;
      flex-direction: column;
      .menu-item-select {
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.1px;
        height: 38px;
        position: relative;
        padding: 0;
        margin: 10px 10px 8px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--ion-border-color);;

        .checkmark {
          // display: block;
          // position: absolute;
          // right: 12px;
          // top: 15px;
          // width: 21px;
          // height: 11px;
          // background: url("../../../../assets/icon/checkmark.svg") no-repeat center;
          // background-size: cover;

          right: 5px;
          top: 50%;
          margin-top: -3px;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: currentColor;
          opacity: .33;
          pointer-events: none;
        }

      }
      .input {
        position: relative;
        margin: 5px 10px 10px 0;
        padding-left: 0;
  
        &__field {
          margin: 10px 0 10px 0;
          margin-top: 0;
          font-size: 16px;
          padding: 5px;
          padding-left: 0;
          display: block;
          width: 100%;
          height: 48px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid var(--ion-border-color);
          border-radius: 0;
          background-color: transparent !important;
          outline: none;
          &:focus~label,
          &:not(:placeholder-shown)~label {
            top: -10px;
            font-size: 12px;
          }
          &:focus~.bar:after,
          &:focus~.bar:before {
            width: 50%;
          }
          :focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
          }
        }
        &__label {
          color: #000;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 14px;
          font-size: 12px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
}


.page-footer {
  padding-top: 115pt;
  position: relative;
  z-index: 1;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 220px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
  .skip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 25px 27px;
    color: white;
  }
  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 15px 45px;
  

    &__next {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      top: 10px;
      right: 36px;
      transform: rotate(0deg);
      cursor: pointer;
      &:active {
        transform: rotate(0deg);
        background-size: cover;
        background-image: url("../../../../assets/icon/active-prev-next-sign.svg");
      }
    }
    &__back {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      right: 185px;
      top: 25px;
      cursor: pointer;
      transform: rotate(180deg);
      &:active {
        background-size: cover;
        background-image: url("../../../../assets/icon/active-prev-next-sign.svg");
      }
    }
    .button-reject {
      float: left;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-secondary);
      &:active {
        background: var(--ion-color-secondary-tint);
        border: 2px solid var(--ion-color-secondary-tint);
      }
    }
    .button-submit {
      float: right;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-primary);
      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }
      &--inactive {
        pointer-events: none;
        color: #D7D7D7;
        background: #F7F7F7;
        border: 2px solid #D7D7D7;
      }
    }
  }
}

.error {
  color: #733122 !important;
}


.alert-radio-group button:nth-child(3) .alert-radio-label:before {
  content: url('/assets/flags/ZMB.png');
}

ion-item{
  --background: var(--ion-background-color);
  --border-width: 0;
  --inner-border-width: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  --padding-start: 0;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
