<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">

  <!-- <div class="ion-text-center step">{{ 'SIGNSTEPEIGHT.altTitle' | translate }}</div> -->

  <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 9
  </div>

  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <h1> {{ 'SIGNSTEPEIGHT.altSubtitle' | translate }} </h1>

  <h3> {{ 'SIGNSTEPEIGHT.subheading' | translate }} </h3>

  <form [formGroup]="additionalInformationForm" style="padding-top: 20px;">

    <ion-item>
      <div>{{ 'SIGNSTEPEIGHT.gender' | translate }}</div>
      <ion-select label="Gender" label-placement="fixed" [placeholder]="placeholders.choose" formControlName="gender">
        <ion-select-option value="male">{{ 'FORTUNE.DETAILS.GENDER_OPTIONS.m' | translate }}</ion-select-option>
        <ion-select-option value="female">{{ 'FORTUNE.DETAILS.GENDER_OPTIONS.f' | translate }}</ion-select-option>
        <ion-select-option value="diverse">{{ 'FORTUNE.DETAILS.GENDER_OPTIONS.d' | translate }}</ion-select-option>
        <ion-select-option value="undefined">{{ 'FORTUNE.DETAILS.GENDER_OPTIONS.u' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <div>{{ 'SIGNSTEPEIGHT.nationalities' | translate }}</div>

      <ion-select id="country-selection" label="Nationalities" label-placement="fixed"
        [placeholder]="placeholders.choose" formControlName="nationalities" [multiple]="true" mode="ios"
        [okText]="'GENERAL.choose' | translate" [cancelText]="'GENERAL.cancel' | translate"
        [interfaceOptions]="{header: nationalitiesHeader}">
        <ion-select-option style="color: var(--ion-text-color);" [value]="country.code3"
          *ngFor="let country of countrySelector">{{ country.countryTranslateKey | translate }}
        </ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item>
      <div>{{ 'SIGNSTEPEIGHT.languageProficiencies' | translate }}</div>
      <ion-select label="Language Proficiencies" label-placement="fixed" id="language-selection"
        [interfaceOptions]="{header: languageHeader}" mode="ios" [placeholder]="placeholders.choose"
        formControlName="languageProficiencies" [multiple]="true">
        <ion-select-option [value]="language.code" *ngFor="let language of proficiencyLanguages">{{ language.name }} ({{
          language.en }})
        </ion-select-option>
      </ion-select>
    </ion-item>

  </form>


  <ion-row style="padding-top: 20px;">

    <ion-col size="6">
      <ion-button style="width: 100%;
            border-radius: 8px;
            font-size: var(--design-guidelines-button);
            --background: var(--ion-color-secondary);
            text-transform: none;" (click)="prevStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button style="width: 100%;
          border-radius: 8px;
          font-size: var(--design-guidelines-button);
          --background: var(--ion-color-primary);
          text-transform: none;" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
    </ion-col>

  </ion-row>

</ion-content>