.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
 
}

.page-content {
  width: 100%;
  padding: 0 42px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  // align-items: center;
  justify-content: space-between;

  z-index: 11;
  &__title {
    font-size: var(--design-guidelines-heading);
    text-align: left;
  }
  &__icon1 {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-thanks.svg");
  }
  &__icon2 {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-failed.svg");
  }
  &__icon3 {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-home.svg");
  }
  &__subtitle {
    // font-size: var(--design-guidelines-subline);
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  &__button1 {
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 98%;
    border: 1px solid var(--ion-color-primary);
    &:active {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
    }
  }
  &__button2 {
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-secondary);
    border-radius: 8px;
    width: 98%;
    border: 1px solid var(--ion-color-secondary);
    &:active {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
    }
  }
}

.page-footer {
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 225px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
}
