<ion-header mode="ios">
  <div class="page-header">
    <div class="profile">
      <ion-avatar class="header-avatar">
        <img
          #profileImg
          [src]="profilePictureSrc"
          (click)="displayPictureOptions()"
        />
        <!-- <ion-icon
          *ngIf="displayVerifiedTick"
          class="innovator-badge"
          src="../../assets/icon/helixid_tick_Verified.svg"
        ></ion-icon> -->
      </ion-avatar>
    </div>
    <h3 class="page-title" *ngIf="source == 'smart'">
      {{ 'PROFILE.smart-wallet' | translate }}
    </h3>
    <h3 class="page-title" *ngIf="source == 'web3'">
      {{ 'PROFILE.web3-wallet' | translate }}
    </h3>
  </div>
  <div class="search">
    <ion-searchbar
      [placeholder]="'PROFILE.search' | translate"
      disabled="true"
    ></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <div class="page-content">
    <ion-list class="superMenu-1__list" *ngIf="source == 'smart'">
      <ion-item>
        <!-- <ion-ripple-effect></ion-ripple-effect> -->
        <div class="superMenu-1__list_item">
          <i class="item__icon"></i>
          <div class="item__title">Smart ID Wallet</div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="vault__list" *ngIf="source == 'smart'">
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/dashboard/personal-details')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">
            {{ 'PROFILE.personalDetails' | translate }}
          </div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/event-tickets')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">
            {{ 'PROFILE.eventTickets' | translate }}
          </div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/kassen-belege')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'PROFILE.receipts' | translate }}</div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/health-certificates')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">
            {{ 'PROFILE.healthDocuments' | translate }}
          </div>
        </div>
      </ion-item>
      <ion-item class="ion-activatable" (click)="navigateToPage('/ceo-cabin')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">
            {{ 'PROFILE.trusttrace' | translate }}
            <ion-badge
              *ngIf="badgeLength.length > 0"
              class="certificates-badge"
              mode="ios"
              color="danger"
              >{{ badgeLength.length }}</ion-badge
            >
          </div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/legal-documents')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">
            {{ 'PROFILE.legalDocuments' | translate }}
          </div>
        </div>
      </ion-item>
      <ion-item (click)="navigateToPage('/requests')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'PROFILE.requests' | translate }}</div>
        </div>
      </ion-item>
      <ion-item (click)="navigateToPage('/dashboard/tab-contact')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'TABS.contacts' | translate }}
            <!-- <ion-badge *ngIf="_ChatService.hasUnreadChatsOrFriendRequests" mode="ios" color="danger">&nbsp;</ion-badge> -->
          </div>
        </div>
      </ion-item>
      <ion-item
        [ngClass]="{ 'ion-activatable': (!isProduction && powerUserMode) }"
        (click)="comingSoon()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i
            [ngClass]="{
            'item__icon': (!isProduction && powerUserMode),
            'item__frozenicon': (isProduction || !powerUserMode)
         }"
          ></i>
          <div
            [ngClass]="{
            'item__title': (!isProduction && powerUserMode),
            'item__title__frozen': (isProduction || !powerUserMode)
         }"
          >
            {{ 'PROFILE.financialDocuments' | translate }}
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list class="superMenu-2__list" *ngIf="source == 'web3'">
      <ion-item
        class="ion-activatable"
        *ngIf="!tapToInitiate && !tapToActivate"
        (click)="navigateToPage('/payments')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="superMenu-2__list_item">
          <i class="item__icon"></i>
          <div class="item__title">Web3 Wallets</div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        *ngIf="tapToInitiate"
        (click)="tapToInitiateMethod()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="superMenu-2__list_item">
          <i class="item__frozenicon"></i>
          <div class="item__title">
            Web3 Wallets ({{ 'IMPORTKEY.tap-to-initiate' | translate }})
          </div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        *ngIf="tapToActivate"
        (click)="tapToActivateMethod()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="superMenu-2__list_item">
          <i class="item__frozenicon"></i>
          <div class="item__title">Web3 Wallets</div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list class="vault__list" *ngIf="source == 'web3'">
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/nft?mode=loyalty')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">THXC Tokens</div>
        </div>
      </ion-item>

      <!-- <ion-item *ngIf="!tapToInitiate && !tapToActivate" class="ion-activatable" (click)="navigateToPage('/nft?mode=nft')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">NFTs</div>
        </div>
      </ion-item>

      <ion-item *ngIf="tapToInitiate || tapToActivate" class="ion-activatable" (click)="navigateToPage('/nft?mode=nft')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__frozenicon"></i>
          <div class="item__title__frozen">NFTs</div>
        </div>
      </ion-item>

      <ion-item *ngIf="!tapToInitiate && !tapToActivate" class="ion-activatable" (click)="navigateToPage('/nft?mode=walletconnect')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'WALLET.connect' | translate }}</div>
        </div>
      </ion-item>

      <ion-item *ngIf="tapToInitiate || tapToActivate" class="ion-activatable" (click)="navigateToPage('/nft?mode=walletconnect')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__frozenicon"></i>
          <div class="item__title__frozen">{{ 'WALLET.connect' | translate }}</div>
        </div>
      </ion-item> -->

      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/marketplace/crypto?source=%2Fdashboard%2Ftab-profile')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">Web3 Apps</div>
        </div>
      </ion-item>

      <!-- <ion-item class="ion-activatable" (click)="navigateToPage('/crypto-activities')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">Activities</div>
        </div>
      </ion-item> -->

      <ion-item class="ion-activatable" (click)="navigateToPage('/grace')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">News</div>
        </div>
      </ion-item>
      <ion-item
        class="ion-activatable"
        (click)="navigateToPage('/celebrity-nfts')"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__icon"></i>
          <div class="item__title">Celebrity NFTs</div>
        </div>
      </ion-item>
      <!-- <ion-item (click)="navigateToPage('/dashboard/tab-contact')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <i class="item__frozenicon"></i>
          <div class="item__title__frozen">
            {{ 'WALLET.contacts' | translate }}
          </div>
        </div>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>
