.qr-container {

    margin: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &-timeout {
      text-align: center;
    }
  }
  
  .qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--ion-text-color);
    background: #fff;
    width: 50vw;
    height: 50vw;
  
    @media (max-height: 568px) {
      width: 25vw;
      height: 25vw;
    }
  
  }

  strong {
    font-size: 16px;
    font-family: "Jost Bold", Helvetica, sans-serif;
  }
  
  .qr-code {
    width: 100%;
    height: 100%;
  
    opacity: 1;
    transition: opacity 2s linear;
  
    &.is-hidden {
      opacity: 0;
    }
  }

  .buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 15px 15px 0;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: var(--ion-text-color);
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .did-button {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: var(--design-guidelines-button);
    }
  }

  ion-card {
    margin-top: 10%;
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
  }
  
  ion-toolbar {
    padding-top: 20px;
  }

  ion-item {
    --border-color: var(--ion-border-color);
  }

  ion-list {
    padding-top: 10px;
    padding-bottom: 10px;
  }