<ion-card transparent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div style="text-align: center; font-size: 25px;" *ngIf="isMnemonic">{{ 'RECOVERYPHRASE.heading' | translate }}</div>
  <div style="text-align: left; font-size: 16px; padding: 20px;" *ngIf="isMnemonic">{{ 'RECOVERYPHRASE.message' | translate }}</div>

  <div style="text-align: center; font-size: 25px;" *ngIf="!isMnemonic">{{ 'RECOVERYPHRASE.heading-privateKey' | translate }}</div>
  <div style="text-align: left; font-size: 16px; padding: 20px;" *ngIf="!isMnemonic">{{ 'RECOVERYPHRASE.message-privateKey' | translate }}</div>

  <div style="text-align: center; padding-left: 10px; padding-right: 10px;" (press)="onPress($event, data)">
    {{ data }}
  </div>

  <br><br>

  <div class="buttons">
    <div class="button button--save" (click)="copy()">{{ 'BUTTON.COPY' | translate }}</div>
  </div>

  <div style="text-align: left; padding: 20px;">{{ 'RECOVERYPHRASE.disclaimer' | translate }}</div>

</ion-card>