.container {
  .big_red_circle {
    display: block;
    width: 616px;
    height: 616px;
    position: absolute;
    top: -488px;
    left: -164px;
    background: url("../../assets/big_red_circle.svg") no-repeat center;
  }

  .blue_bottom {
    display: block;
    width: 375px;
    height: 352px;
    position: absolute;
    top: 598px;
    background: url("../../assets/blue_fotter.png") no-repeat;
    background-size: 100%;
  }

  .content_container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .phone {
      display: block;
      width: 119px;
      height: 126px;
      margin-left: 46px;
      margin-top: 120px;
      background: url("../../assets/phone.svg") no-repeat center;
    }

    .text {
      margin-top: 41px;
    }

    .button {
      width: 164px;
      height: 51px;
      border-radius: 8px;
      background-color: var(--ion-color-primary);
      margin-top: 79px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
