<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">

  <!-- <div class="ion-text-center step">{{ 'SIGNSTEPEIGHT.altTitle' | translate }}</div> -->

  <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 9</div>

  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <h1> {{ 'SIGNSTEPNINE.altSubtitle' | translate }} </h1>

  <h3> {{ 'SIGNSTEPNINE.subheading' | translate }} </h3>

  <form class="proto-form" [formGroup]="referralForm">

    <div class="form__fields">
      <div class="proto-input">
        <ion-label>{{ 'SIGNSTEPNINE.referral' | translate }}</ion-label>
        <ion-input
          name="usedReferralCode"
          formControlName="usedReferralCode"
          (keyup.enter)="nextStep()"
          (ionChange)="onCodeChange($event.target.value)"
          type="text"
          placeholder=" ">
        </ion-input>
      </div>
    </div>    

  </form>

  <ion-row style="padding-top: 20px;" >
    
    <ion-col size="6">
      <div class="button-login"
          (click)="goToPreviousStep()">
          <p>{{ 'BUTTON.LOGIN-SMALL' | translate }}</p>
          </div>
        <!-- <ion-button style="width: 100%;
        border-radius: 8px;
        font-size: var(--design-guidelines-button);
        --background: var(--ion-color-secondary);
        text-transform: none;" (click)="goToPreviousStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button> -->
    </ion-col>
    <ion-col size="6">
      <ion-button [ngClass]="{'deactivateButton': deactivateConfirmButton, 'nextButton': !deactivateConfirmButton}" (click)="nextStep()">{{ 'ALTWALKTHROUGH.confirm' | translate }}</ion-button>
  </ion-col>
    
  </ion-row>

  <ion-row>
    
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
      <ion-button class="skipButton" (click)="skipStep()">{{ 'BUTTON.SKIP' | translate }}</ion-button>
  </ion-col>
    
  </ion-row>

</ion-content>
