<proto-sign-up-header
  [easter]="true"
  [percentage]="25">
</proto-sign-up-header>

<ion-content>
  <div class="proto-content">
    <div class="proto-title">
      {{ 'RESETPASSWORDSTEPONE.title' | translate }}
    </div>
    <div class="proto-text">{{ 'RESETPASSWORDSTEPONE.text' | translate }}</div>

    <form
      class="proto-form"
      autocomplete="new-password"
      [formGroup]="resetPasswordForm"
    >
      <div class="form__fields">
        <input
          autocomplete="new-password"
          style="opacity: 0;position: absolute;"
          type="text"
          name="fakeusernameremembered"
        />
        <input
          autocomplete="new-password"
          style="opacity: 0;position: absolute;"
          type="email"
          name="fakeuseremailremembered"
        />
        <input
          autocomplete="new-password"
          style="opacity: 0;position: absolute;"
          type="password"
          name="fakepasswordremembered"
        />

        <div class="proto-input">
          <ion-input
            class="proto-input__field"
            [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetUsername.invalid}"
            name="resetUsername"
            formControlName="resetUsername"
            (keyup.enter)="nextStep()"
            type="text"
            placeholder=" "
          >
          </ion-input>
          <label
            class="proto-input__label"
            [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetUsername.invalid}"
            >{{ 'RESETPASSWORDSTEPONE.username' | translate }}</label
          >
        </div>
      </div>
    </form>
  </div>
</ion-content>

<proto-sign-up-footer
  currentFormIsValid="true"
  (primaryAction)="nextStep()"
  (secondaryAction)="skipReg()"
  [secondaryCaption]="'RESETPASSWORDSTEPONE.later' | translate">
</proto-sign-up-footer>
