@import "../../../theme/index";


// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
  padding: 30px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;
  
  
}

.page-title {
  // width: 88%;
  font-size: var(--design-guidelines-heading);
  text-align: left;
  margin-bottom: 20px;
  color: var(--ion-text-color);
}

.requisiteDocuments {
  display: table-cell; 
  vertical-align: middle; 
  text-align: left; 
  font-size: var(--design-guidelines-body);
}

.page-disclaimer {
  width: 88%;
  text-align: left;
  margin: 0 0 0 28px;
  color: var(--ion-text-color);
  font-size: var(--design-guidelines-body);
}

.page-content {
  background-color: var(--ion-background-color);

  .inactive {
    opacity: 0.5;
    z-index: 3;
    pointer-events: none;
  }

}

.next-button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: var(--design-guidelines-button);
  background: var(--ion-color-primary);
  border-radius: 8px;
  width: 98%;
  border: 1px solid var(--ion-color-primary);
  .inactive {
    background: var(--ion-color-primary-tint);
    border: 1px solid var(--ion-color-primary-tint);
    pointer-events: none;
  }
}

.skip-button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: var(--design-guidelines-button);
  background: var(--ion-color-secondary);
  border-radius: 8px;
  width: 98%;
  border: 1px solid var(--ion-color-secondary);
  .inactive {
    background: var(--ion-color-secondary-tint);
    border: 1px solid var(--ion-color-secondary-tint);
    pointer-events: none;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}


ion-card {
  width: 105px;
  margin-left: calc(50% - 50px);
  border-radius: 10px;
  position: relative;
  background: transparent;
}

ion-card-header {
  background-color: transparent;
  height: 121px;
  display: table-cell; 
  vertical-align: middle;
}

.unavailable {
  opacity: 0.5;
}

ion-card-content {
  // padding: 5px;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 15px;
  background-color: transparent;
  color: var(--ion-text-color);
  letter-spacing: 0.1px;
  text-align: center;
  min-height: 60px;
}
.passport {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/reisepass.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }

}

.passport-light {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/reisepass-light.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }

}

.driverlicence {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/fuehrerschein.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }

}

.driverlicence-light {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/fuehrerschein-light.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }

}

.residencepermit {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/aufenthaltserlaubnis.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }

}

.idcard {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/personalausweis.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }
}

.idcard-light {
  .nav-item-icon {
    text-align: -webkit-right;
    i {
      background-image: url('../../../assets/icon/personalausweis-light.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      zoom: 0.6;
    }
  }
}