<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
  <br>
  <div class="page-header">
    <div class="page-title">{{ 'KYC.INTERMEDIARY.title' | translate }}</div>
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="page-content">
    <div class="page-disclaimer">
      {{ 'KYC.INTERMEDIARY.message' | translate }}
    </div>
    <br>
    <div class="page-disclaimer">
      {{ 'KYC.INTERMEDIARY.select' | translate }}
    </div>
    <!-- <div>
      <ul>
        <li>{{ 'PERSONALDETAILS.radioPassport' | translate }}</li>
        <li>{{ 'PERSONALDETAILS.radioIDCard2' | translate }}</li>
        <li>{{ 'PERSONALDETAILS.radioDL' | translate }}</li>
      </ul>
    </div> -->
    <!-- <ion-list class="list">
      <ion-item class="list_item" [ngClass]="{'passport': (_Theme.getCurrentTheme() == 'dark'), 'passport-light': (_Theme.getCurrentTheme() == 'light')}">
        <div class="nav-item-icon">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'PERSONALDETAILS.radioPassport' | translate }}</div>
        </div>
      </ion-item>
      <ion-item class="list_item" [ngClass]="{'idcard': (_Theme.getCurrentTheme() == 'dark'), 'idcard-light': (_Theme.getCurrentTheme() == 'light')}">
        <div class="nav-item-icon">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'PERSONALDETAILS.radioIDCard2' | translate }}</div>
        </div>
      </ion-item>
      <ion-item class="list_item" [ngClass]="{'driverlicence': (_Theme.getCurrentTheme() == 'dark'), 'driverlicence-light': (_Theme.getCurrentTheme() == 'light')}">
        <div class="nav-item-icon">
          <i class="item__icon"></i>
          <div class="item__title">{{ 'PERSONALDETAILS.radioDL' | translate }}</div>
        </div>
      </ion-item>
    </ion-list> -->
    <ion-grid>
      <ion-row style="margin-left: 15px;">
        <ion-col size="2" [ngClass]="{'passport': (_Theme.getCurrentTheme() == 'dark'), 'passport-light': (_Theme.getCurrentTheme() == 'light')}">
          <div class="nav-item-icon"><i></i></div>
        </ion-col>
        <ion-col size="10" style="display: table;">
          <div class="requisiteDocuments">{{ 'PERSONALDETAILS.radioPassport' | translate }}</div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 15px;">
        <ion-col size="2" [ngClass]="{'idcard': (_Theme.getCurrentTheme() == 'dark'), 'idcard-light': (_Theme.getCurrentTheme() == 'light')}">
          <div class="nav-item-icon"><i></i></div>
        </ion-col>
        <ion-col size="10" style="display: table;">
          <div class="requisiteDocuments">{{ 'PERSONALDETAILS.radioIDCard2' | translate }}</div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 15px;">
        <ion-col size="2" [ngClass]="{'driverlicence': (_Theme.getCurrentTheme() == 'dark'), 'driverlicence-light': (_Theme.getCurrentTheme() == 'light')}">
          <div class="nav-item-icon"><i></i></div>
        </ion-col>
        <ion-col size="10" style="display: table;">
          <div class="requisiteDocuments">{{ 'PERSONALDETAILS.radioDL' | translate }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="skip-button" [ngClass]="{ 'inactive': !activateButton}" style="margin-bottom: 20px;" (click)="cancel()">
            {{ 'BUTTON.SKIP' | translate }}
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="next-button" [ngClass]="{ 'inactive': !activateButton}" style="margin-bottom: 20px;" (click)="next()">
            {{ 'ALTWALKTHROUGH.next' | translate }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-grid>
      <ion-row class="ion-margin-vertical">
        <ion-col size="4">
          <ion-card class="ion-no-margin" [ngClass]="{'passport': (_Theme.getCurrentTheme() == 'dark'), 'passport-light': (_Theme.getCurrentTheme() == 'light')}">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-no-margin" [ngClass]="{'idcard': (_Theme.getCurrentTheme() == 'dark'), 'idcard-light': (_Theme.getCurrentTheme() == 'light')}">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioIDCard2' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-no-margin" [ngClass]="{'driverlicence': (_Theme.getCurrentTheme() == 'dark'), 'driverlicence-light': (_Theme.getCurrentTheme() == 'light')}">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    
  </div>
</ion-content>
<ion-footer>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="skip-button" [ngClass]="{ 'inactive': !activateButton}" style="margin-bottom: 20px;" (click)="cancel()">
          {{ 'BUTTON.SKIP' | translate }}
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="next-button" [ngClass]="{ 'inactive': !activateButton}" style="margin-bottom: 20px;" (click)="next()">
          {{ 'ALTWALKTHROUGH.next' | translate }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
  
</ion-footer>
