ion-content {
    background-color: var(--ion-background-color);
    width: 100%;
    bottom: 20%;
    --overflow: hidden;
    border: 1px solid var(--ion-border-color);
    font-size: var(--design-guidelines-modal-window);
    &::-webkit-scrollbar {
        display: none;
    }
}
.buttons {
    display: flex;
    padding: 0 15px 0;
    justify-content: space-between;
    
    .button {
      text-align: center;
      padding: 10px 15px;
      background-color: var(--ion-color-primary);
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 98%;
      margin-bottom: 20px;
    }
}