<div class="backg">
  <h1 class="heading">
    {{ heading }}
  </h1>
  <div class="avatar ion-padding ion-text-center">
    <img [src]="image">
  </div>

  <div class="ion-padding ion-text-center" *ngIf="request == 'session_proposal'">
    <ion-button color="medium">
      <img *ngFor="let icon of icons" style="width: 15px; margin-right: 10px;" [src]='icon'> {{ selfAddress.slice(0,4) }}...{{ selfAddress.slice(selfAddress.length-4,selfAddress.length) }}
    </ion-button>
    <ion-icon name="information-circle-outline" style="font-size: 20px;"  (click)="tooltipEventInformation()"></ion-icon>
  </div>

  <div class="ion-padding ion-text-center" style="overflow-y: scroll; max-height: 50%;">
    {{ message }} <br>
    <div *ngIf="request == 'helix_kyc'">
      <ion-grid>
        <ion-row *ngFor="let h of basicdataFields">
          <ion-col style="text-align: left;" size="2">{{ returnEmoji(parsed.trust[h]) }}</ion-col>
          <ion-col style="text-align: left;" size="5">{{ keyTranslations[h] }}</ion-col>
          <ion-col style="text-align: left;" size="5">{{ parseValue(h, parsed.basicdata[h]) }}</ion-col>
        </ion-row>
        <ion-row *ngIf="minAgeCheckExists == true">
          <ion-col style="text-align: left;" size="2">{{ returnEmoji(parsed.minAgeCheck) }}</ion-col>
          <ion-col style="text-align: left;" size="5">Age &gt; 18 ?</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="button-container">
    <div class="contact-add-modal-button contact-add-modal-button--disabled" style="height: 38px;" (click)="cancel()">
      {{ 'WALLET.cancel' | translate }}
    </div>
    <div *ngIf="request != 'helix_kyc'" class="contact-add-modal-button contact-add-modal-button--disabled" style="height: 38px;" (click)="moreInfo()">
      {{ 'WALLET.moreInfo' | translate }}
    </div>
    <div class="contact-add-modal-button" style="height: 38px; color: white;" (click)="add()">
      {{ buttonText1 }}
    </div>
  </div>
  
</div>
