<ion-header
  mode="ios"
  class="header ion-padding"
>
  <ion-toolbar class="toolbar"> </ion-toolbar>
  <ion-avatar class="header-avatar">
    <img
      #profileImg
      *ngIf="displayPicture"
      [src]="displayPicture"
      (click)="displayPictureOptions()"
    />
    <img
      #profileImg
      *ngIf="!displayPicture"
      [src]="placeholderImage"
      (click)="displayPictureOptions()"
    />
  </ion-avatar>
</ion-header>

<ion-content [forceOverscroll]="false" class="ion-content">
  <div class="content">
    <div class="contact-container" style="width: 100%">
      <ion-skeleton-text
        animated
        style="width: 50vw; height: 26px"
        *ngIf="!displayHelixUsername"
      >
      </ion-skeleton-text>
      <h1 class="contact-heading" *ngIf="displayHelixUsername">
        <span style="font-size: 16px">{{ 'LOGIN.myUsername' | translate}}</span
        ><br />
        {{ displayHelixUsername }}
      </h1>
    </div>
    <div class="qr-container" *ngIf="!showDiscalimer">
      <div class="qr-code-container">
        <qrcode
          cssClass="qr-code"
          elementType="url"
          [qrdata]="qrCodeValue"
          *ngIf="qrCodeValue"
          [ngClass]="{ 'is-hidden': qrCodeIsHidden }"
        >
        </qrcode>
      </div>
      <p>{{ qrCodeCaptionCountdown }}</p>
    </div>
    <div class="qr-container" *ngIf="showDiscalimer">
      <div class="qr-code-container">
        <img [src]="disclaimerIcon" />
      </div>
    </div>
  </div>
</ion-content>

<div class="footer"></div>

<ion-icon
  src="../../assets/icon/Plus-Button-qr.svg"
  class="button-scan"
  (click)="contactAdditionOptions()"
></ion-icon>
