$--top-element-size: 60vw;
$--top-element-offset-x: 100vw;
$--top-element-offset-y: 0vw;
$--top-element-translate-x: -50vw;
$--top-element-translate-y: -35vw;

$--bottom-element-size: 100vw;
$--bottom-element-offset-x: 0vw;
$--bottom-element-offset-y: 0vw;
$--bottom-element-translate-x: 0vw;
$--bottom-element-translate-y: 50px;

$--header-height: calc($--top-element-size / 2);

$--footer-height: 32.5vh;
$--footer-max-height: 200px;

@import "../../../theme/index.scss";

@include header-just-before-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));



@mixin background-element-top {
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100vw;
  //   height: 100vw;
  //   margin-top: -75%;
  //   margin-right: -20%;
  //   background-size: cover;
  //   background-image: url("../../../assets/red-circle.svg");
  //   z-index: -1;
  //   overflow: hidden;
  // }
}

@mixin background-element-bottom {
  width: 100vw;
  height: $--footer-height;
  max-height: $--footer-max-height;

  background-image: url("../../../assets/blue-footer.svg");
  background-repeat: no-repeat;
  background-size: #{$--bottom-element-size};
  background-position-x: calc(#{$--bottom-element-offset-x} + #{$--bottom-element-translate-x});
  background-position-y: calc(#{$--bottom-element-offset-y} + #{$--bottom-element-translate-y});
}

.innovator-badge {
  position: absolute;
  bottom: -30px;
  right: -20px;
  font-size: 80px;
}

.h1 {
  margin: 0;
}

.id {
  display: none;
}

.list {
  --background: transparent;
  background: transparent;
}

.item {
  --background: transparent;
  background: transparent;
  --padding-start: 0;
  // --padding-top: 12.5px;
  // --inner-padding-top: 12.5px;
}

.avatar {
  margin-top: 15px;
  width: 75px;
  height: 75px;
  --border-radius: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 50px;
  &-avatar {
    width: 111px;
    height: 111px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    border: 5px solid white;
    top: 25px;
    background: white;
  }
  @include background-element-top;
}

.content {
  min-height: 100%;
  padding: 25px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ion-content {
  overflow: hidden;
}

.toolbar {
  //--background: #F7F7F7;
  --background: transparent;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --border-style: none;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.back {
  font-size: 40px;
  height: 50px;
}

.logo {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 85px;
  height: 50px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: blue;
}

.percentage {
  height: 100%;
  background: red;
  transition: width 5s ease;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    text-align: center;
  }
}

.contact-heading {
  margin: 10px;
  padding-top: 20px;
}

.contact-email {
  margin: 2.5px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-scan {
  font-size: 65px;
  background: var(--ion-background-color);
  color: var(--ion-background-color);
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 2;
  border: 2px solid var(--helix-link-color);
  border-radius: 50%;
}

.qr-container {

  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-timeout {
    text-align: center;
  }
}

.qr-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--ion-text-color);
  background: #fff;
  width: 50vw;
  height: 50vw;

  @media (max-height: 568px) {
    width: 25vw;
    height: 25vw;
  }

}

.qr-code {
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 2s linear;

  &.is-hidden {
    opacity: 0;
  }
}

.footer {
  @include background-element-bottom;

  position: absolute;
  bottom: 0;
}
