ion-content {
    --background: transparent;
}

.square {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    width: 200px;
    height: 200px;
    border: 6px solid white;
    box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

.zoom-ratio-wrapper {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    width: 50%;
}

ion-fab-button {
    --background: transparent;
    --background-activated: transparent;
}

ion-fab {
    &[slot="fixed"] {
      &.ios {
        // Top FAB button
        &[vertical="top"] {
          margin-top: var(--ion-safe-area-top, 0);
        }

        // Bottom FAB button
        &[vertical="bottom"] {
          margin-bottom: var(--ion-safe-area-bottom, 0);
        }
      }
    }
  }

ion-range {
    &.ios {
        margin-bottom: var(--ion-safe-area-bottom, 0);
    }
}