<ion-content>
    <div #square class="square"></div>
    <div class="zoom-ratio-wrapper">
        <ion-range
            [min]="minZoomRatio"
            [max]="maxZoomRatio"
            [disabled]="minZoomRatio === undefined || maxZoomRatio === undefined"
            (ionChange)="setZoomRatio($any($event))"
        ></ion-range>
    </div>

    <ion-fab slot="fixed" horizontal="end" vertical="top">
        <ion-fab-button (click)="closeModal()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    @if (isTorchAvailable) {
        <ion-fab slot="fixed" horizontal="end" vertical="bottom">
            <ion-fab-button (click)="toggleTorch()">
                <ion-icon name="flashlight"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    }
</ion-content>