.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 83px;
    background-color: var(--ion-background-color);
    position: relative;
   // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   bottom: 56px;
    //   right: -172px;
    //   background-size: cover;
    //   background-image: url("../../assets/red-circle.svg");
    //   z-index: -1;
    // }
  
    .profile {
      text-align: center;
      width: 100%;
    }
  
    .profile-cover {
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      width: 170px;
      height: 170px;
      object-fit: cover;
      object-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border: 5px solid var(--ion-border-color);
      background-color: #fff;
      overflow: hidden;
    }
  
  }
  
  
  .profile-background {
    height: 100%;
    width: 100%;
    background: var(--ion-background-color);
  }
  
  .top-fixed-shape {
    position: fixed;
    top: -400px;
    right: -130px;
    height: 600px;
    width: 600px;
    max-width: 600px;
  }
  
  .bottom-fixed-shape {
    position: fixed;
    width: 700px;
    max-width: 700px;
    bottom: -240px;
    left: -160px;
  }
  
  
  .profile-content {
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    width: 100%;
    min-height: 100%;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
  
  .access-texts {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: var(--ion-text-color);
  }
  
  .welcome-title {
    font-size: var(--design-guidelines-heading);
    color: var(--ion-text-color);
  }
  
  .access-message {
    line-height: 1.5;
    font-size: 20px;
    color: var(--ion-text-color);
  }
  
  .border-button {
    // position: absolute;
    float: left;
    text-align: center;
    padding: 10px 15px;
    color: var(--ion-text-color);
    font-size: var(--design-guidelines-button);
    // margin: 0 20px;
    background: var(--ion-background-color);
    border-radius: 8px;
    // min-width: 150px;
    width: 48%;
    border: 2px solid var(--ion-border-color);
  }
  
  .strock-button {
    // position: absolute;
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    // margin: 0 20px;
    background: var(--ion-color-primary);
    border-radius: 8px;
    // min-width: 150px;
    width: 48%;
    border: 1px solid var(--ion-color-primary);
    &--inactive {
      pointer-events: none;
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
    }
  }
  
  .access-texts {
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
  }
  
  .access-texts svg {
    padding-right: 15px;
  }
  
  .verified {
    color: var(--ion-text-color) !important;
    svg > path,
    svg > rect,
    svg > g > * {
      stroke: var(--ion-text-color) !important;
    }
  }
  
  .not-verified {
    color: #733122 !important;
    svg > path,
    svg > rect,
    svg > g > * {
      stroke: #733122 !important;
    }
  }
  
  .page-footer {
    padding-top: 90pt;
    position: relative;
    background-color: transparent !important;
    
    .buttons {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 15px 15px 45px;
      
      .button-reject {
        float: left;
        text-align: center;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-secondary);
        border-radius: 8px;
        width: 48%;
        border: 2px solid var(--ion-color-secondary);
        &:active {
          background: #F2F2F2;
          border: 2px solid #F2F2F2;
        }
      }
      .button-submit {
        float: right;
        text-align: center;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-primary);
        border-radius: 8px;
        width: 48%;
        border: 2px solid var(--ion-color-primary);
        &:active {
          background: var(--ion-color-primary-tint);
          border: 2px solid var(--ion-color-primary-tint);
        }
        &--inactive {
          pointer-events: none;
          color: #D7D7D7;
          background: #F7F7F7;
          border: 2px solid #D7D7D7;
        }
      }
    }
  }
  
  
  