<ion-header mode="md" class="ion-no-border">
  <ion-toolbar class="custom-disappeary-toolbar {{shadowClass}}" mode="md">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/dashboard/tab-contact"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="_ChatService.chatThreadToView && _ChatService.chatThreadToView.userWrapper">
      {{ _ChatService.chatThreadToView.userWrapper.username }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="checkToApplyShadow($event)">

  <ion-infinite-scroll [disabled]="!enableInfiniteScroll"
    position="top"
    threshold="15%"
    (ionInfinite)="getPreviousXMessages($event)">
    <ion-infinite-scroll-content loadingSpinner="lines-small"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-grid *ngIf="_ChatService.chatThreadToView">
    <ion-row *ngIf="_ChatService.threadChatKeyPairs[theirUsername]">
      <ion-col size="9" class="message other-message key-exchange">
        <span class="msg-key-exchange" style="color:grey; font-style: italic;"><ion-icon name="lock-closed-outline"></ion-icon> {{ 'CHAT.sharePublicKey' | translate }}</span>
      </ion-col>
      <ion-col offset="3" size="9" class="message my-message key-exchange">
        <span class="msg-key-exchange" style="color:wheat; font-style: italic;"><ion-icon name="lock-closed-outline"></ion-icon> {{ 'CHAT.sharePublicKey' | translate }}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="_ChatService.threadChatKeyPairs[theirUsernameWithDNS]">
      <ion-col size="9" class="message other-message key-exchange">
        <span class="msg-key-exchange" style="color:grey; font-style: italic;"><ion-icon name="lock-closed-outline"></ion-icon> {{ 'CHAT.sharePublicKey' | translate }}</span>
      </ion-col>
      <ion-col offset="3" size="9" class="message my-message key-exchange">
        <span class="msg-key-exchange" style="color:wheat; font-style: italic;"><ion-icon name="lock-closed-outline"></ion-icon> {{ 'CHAT.sharePublicKey' | translate }}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of _ChatService.chatThreadToView.messages" (press)="copyMessage(item.message)" id="msg-{{ item.numericId }}">
      <ion-col offset="3" size="6" class="date-display" *ngIf="displayDateIf(item)">{{ processDateDisplay(item.date) }}</ion-col>
      <ion-col size="9" *ngIf="(myUsername && item.from) && (_ChatService.stripDNS(myUsername) !== _ChatService.stripDNS(item.from)) && item.parsedMessage.type != messageTypes.keyExchange" class="message other-message" [ngClass]="{'key-exchange': (item.parsedMessage.type == 'verifiableCredential')}">
        <!-- <span class="msg-key-exchange" *ngIf=" item.parsedMessage.type == messageTypes.keyExchange " style="color:grey; font-style: italic;"><ion-icon name="lock-closed-outline"></ion-icon> {{ 'CHAT.sharePublicKey' | translate }}</span> -->
        <span class="msg-text" *ngIf=" item.parsedMessage.type == messageTypes.string ">{{ !!item.parsedMessage ? item.parsedMessage.value : item.message }}</span>
        <span class="msg-url" *ngIf=" item.parsedMessage.type == messageTypes.url "><a (click)="previewURL(item.parsedMessage.value)" style="color:grey;">{{ !!item.parsedMessage ? item.parsedMessage.value : item.message }}</a></span>
        <span class="msg-key-exchange" *ngIf=" item.parsedMessage.type == messageTypes.verifiableCredential " style="color:grey; font-style: italic;" (click)="showCertificate(item.parsedMessage.value, 'normal')"><ion-icon name="download-outline"></ion-icon> {{ 'CERTIFICATES.kycCertificate' | translate }}</span>
        <span class="msg-key-exchange" *ngIf=" item.parsedMessage.type == messageTypes.certificate " style="color:grey; font-style: italic;" (click)="showCertificate(item.parsedMessage.value, 'use-case')"><ion-icon name="download-outline"></ion-icon> {{ 'CERTIFICATES.title' | translate }}</span>
        <span class="qr-code-container" *ngIf=" item.parsedMessage.type == messageTypes.qrCode " style="color:grey; font-style: italic;"> <qrcode cssClass="qr-code" elementType="url" [qrdata]="item.parsedMessage.value"></qrcode></span>
        <span class="qr-code-container" *ngIf=" item.parsedMessage.type == messageTypes.healthCertificate " style="color:grey; font-style: italic;"> <qrcode cssClass="qr-code" elementType="url" [qrdata]="item.parsedMessage.value"></qrcode></span>
        <div class="time ion-text-right">{{ item.date | date:'HH:mm' }}</div>
      </ion-col>
      <ion-col offset="3" size="9" *ngIf="(myUsername && item.from) && (_ChatService.stripDNS(myUsername) === _ChatService.stripDNS(item.from)) && item.parsedMessage.type != messageTypes.keyExchange" class="message my-message" [ngClass]="{'key-exchange': (item.parsedMessage.type == 'verifiableCredential')}">
        <!-- <span class="msg-key-exchange" *ngIf=" item.parsedMessage.type == messageTypes.keyExchange " style="color:wheat; font-style: italic;"><ion-icon name="lock-closed-outline"></ion-icon> {{ 'CHAT.sharePublicKey' | translate }}</span> -->
        <span class="msg-text" *ngIf=" item.parsedMessage.type == messageTypes.string ">{{ !!item.parsedMessage ? item.parsedMessage.value : item.message }}</span>
        <span class="msg-url" *ngIf=" item.parsedMessage.type == messageTypes.url "><a (click)="previewURL(item.parsedMessage.value)" style="color:wheat;">{{ !!item.parsedMessage ? item.parsedMessage.value : item.message }}</a></span>
        <span class="msg-key-exchange" *ngIf=" item.parsedMessage.type == messageTypes.verifiableCredential" style="color:wheat; font-style: italic;" (click)="showCertificate(item.parsedMessage.value, 'normal')"><ion-icon name="download-outline"></ion-icon> {{ 'CERTIFICATES.kycCertificate' | translate }}</span>
        <span class="msg-key-exchange" *ngIf=" item.parsedMessage.type == messageTypes.certificate" style="color:wheat; font-style: italic;" (click)="showCertificate(item.parsedMessage.value, 'use-case')"><ion-icon name="download-outline"></ion-icon> {{ 'CERTIFICATES.title' | translate }}</span>
        <span class="qr-code-container" *ngIf=" item.parsedMessage.type == messageTypes.qrCode " style="color:grey; font-style: italic;"> <qrcode cssClass="qr-code" elementType="url" [qrdata]="item.parsedMessage.value"></qrcode></span>
        <span class="qr-code-container" *ngIf=" item.parsedMessage.type == messageTypes.healthCertificate " style="color:grey; font-style: italic;"> <qrcode cssClass="qr-code" elementType="url" [qrdata]="item.parsedMessage.value"></qrcode></span>
        <div class="time ion-text-right">{{ item.date | date:'HH:mm' }}</div>
      </ion-col>
    </ion-row>
    <div id="msgsLoadedElement" *ngIf="_ChatService.chatThreadToView.messages && _ChatService.chatThreadToView.messages.length > 0"></div>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-row *ngIf="!isLoading && canReplyToConversation" class="ion-align-items-center ion-no-padding">
      <ion-col size="8">
        <textarea id="txtMsg" autosize maxRows="4" rows="1" [(ngModel)]="newMsg" class="message-input" placeholder="{{ 'CHAT.typeAMessage' | translate }}"
        [disabled]="inputDisabled" (keyup.enter)="sendMessage()"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button id="btnSend" expand="block" fill="clear" (click)="sendMessage()"
          [color]="!newMsg || newMsg.trim().length == 0 ? 'medium' : 'primary'"
          [disabled]="!newMsg || newMsg.trim().length == 0" class="msg-btn">
          <ion-icon name="paper-plane-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button id="btnSend" expand="block" fill="clear" (click)="onPress()"
          [color]="!newMsg || newMsg.trim().length == 0 ? 'medium' : 'primary'"
          [disabled]="!newMsg || newMsg.trim().length == 0" class="msg-btn">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="!isLoading && !canReplyToConversation" line="none" detail="false" class="conversation-locked">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>{{ 'CHAT.cannotReply' | translate }}</ion-label>
    </ion-item>

    <ion-item *ngIf="isLoading" line="none" detail="false" class="loading-conversation">
      <ion-spinner slot="start" name="lines-small"></ion-spinner>
      <ion-label>{{ 'LOADER.pleaseWait' | translate }}</ion-label>
    </ion-item>

  </ion-toolbar>
</ion-footer>
