ion-slides {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Public Sans';
  ion-slide {
    height: 120px;
    background-color: var(--ion-pitch);
    color: var(--ion-text-color);
    border-radius: 5px;
  }
  .inactive-card {
    pointer-events: none;
  }
}
.swiper-slide-active {
  transform: scale(1.05, 1.05);
  ion-card {
    img {
      transform: scale(1,1);
      padding: 20px;
      border-radius: 5px;
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.spinnerContainer {
  text-align: center; 
  font-size: 50px; 
  width: 100%;
}

.inactive-text {
  color: grey;
}

.descriptionContainer {
  width: 100%; 
  position: absolute; 
  top: 0; 
  padding: 10px;
  .iconContainer {
    display: block;
    text-align: left;
  }
  .taskDescription {
    font-size: 12px; 
    text-align: left;
  }
}

.buttonContainer {
  width: 100%; 
  position: absolute; 
  bottom: 0; 
  padding: 10px;
  .earningsContainer {
    font-size: 12px;
    padding-top: 3px;
    float: left;
  }
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
  float: right;
  height: 20px;
  .button {
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
    padding-top: 2px;
    &--inactive {
        pointer-events: none;
        color: var(--ion-color-light);
        border: 1px solid var(--ion-color-secondary);
        background: var(--ion-color-secondary);
    }
 }

}

#referralContainer {
  animation: vibration 1s;
}

@keyframes vibration {
  0% {
      transform: translateX(0);
  }
  10% {
      transform: translateX(20px);
  }
  20% {
      transform: translateX(-18px);
  }
  30% {
      transform: translateX(16px);
  }
  40% {
      transform: translateX(-14px);
  }
  50% {
      transform: translateX(12px);
  }
  60% {
      transform: translateX(-10px);
  }
  70% {
      transform: translateX(8px);
  }
  80% {
      transform: translateX(-6px);
  }
  90% {
      transform: translateX(4px);
  }
  100% {
      transform: translateX(0);
  }
}