<ion-slides [options]="option" *ngIf="_SocialMediaTasks.length == 0">
  <div class="spinnerContainer">
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>
</ion-slides>
<ion-slides [options]="option" *ngIf="_SocialMediaTasks.length > 0">
  <ion-slide (click)="goToReferral()" id="referralContainer">
    <div class="descriptionContainer">
      <div class="iconContainer">
        <ion-icon name="share-social-outline"></ion-icon>
      </div>
      <div class="taskDescription">
        {{ 'SOCIALSHARING.refer' | translate }}
      </div>
    </div>
    <div class="buttonContainer">
        <div class="earningsContainer">{{ 'SOCIALSHARING.earn' | translate }} {{ points }} {{ 'SOCIALSHARING.points' | translate }}</div>
        <div class="buttons">
          <div class="button" *ngIf="!referralGenerated"> Go! </div>
          <div class="button" *ngIf="referralGenerated"> Done! </div>
        </div>
    </div>
  </ion-slide>
  @for (task of _SocialMediaTasks; track trackByData; let i = $index) {
    <!-- IMPORTANT: normal is unusual to check if the object exists on a loop
    but we had the problem, that the endpoint didnt return a valid taskId
    when this happens the view brakes and we on iOS devices even the
    ionic/angular navigation breaks, so we prefer to check this here -->
    @if (task) {
      <ion-slide (click)="openTask(task)" [ngClass]="{ 'inactive-card': !task.active }">
        <div class="descriptionContainer">
          <div class="iconContainer">
            <ion-icon *ngIf="task.taskCode == 'share'" name="share-social-outline"></ion-icon>
            <ion-icon *ngIf="task.taskCode == 'follow'" name="add-circle-outline"></ion-icon>
            <ion-icon *ngIf="task.taskCode == 'subscribe'" name="color-wand-outline"></ion-icon>
            <ion-icon *ngIf="task.taskCode == 'post'" name="arrow-redo-outline"></ion-icon>
          </div>
          <div class="taskDescription" [ngClass]="{ 'inactive-text': !task.active }">
            {{ !!task.taskDescription[lang] ? task.taskDescription[lang] : task.taskDescription['en'] }}
          </div>
        </div>
        <div class="buttonContainer">
            <div class="earningsContainer" [ngClass]="{ 'inactive-text': !task.active }">{{ 'SOCIALSHARING.earn' | translate }} {{ task.earnings }} {{ (task.earningsToken == 'Points') ? ('SOCIALSHARING.points' | translate) : task.earningsToken }}</div>
            <div class="buttons">
              <div class="button" *ngIf="!task.done"> Go! </div>
              <!-- <div class="button" *ngIf="!task.done"> {{ 'SOCIALSHARING.go' | translate }} </div> -->
              <!-- <ion-icon name="checkmark-done-circle-outline" *ngIf="task.done"></ion-icon> -->
              <div class="button button--inactive" *ngIf="task.done"> Done! </div>
              <!-- <div class="button button--inactive" *ngIf="task.done"> {{ 'SOCIALSHARING.done' | translate }} </div> -->
            </div>
        </div>
      </ion-slide>
    }
  }
</ion-slides>