@import "../../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.header {
  &-avatar {
   @include avatar();
  }
}

.scroll-wrapper {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  background: var(--ion-background-color);
}

.page-header {
    background-color: var(--ion-background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-primary);
    //   top: -430px;
    //   left: -90px;
    //   transform: translate3d(0, 0, 0);
    // }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-secondary);
    //   top: -490px;
    //   left: -170px;
    //   transform: translate3d(0, 0, 0);
    // }
  
    .page-title {
      position: relative;
      font-size: var(--design-guidelines-heading);
      color: var(--ion-text-color);
      z-index: 1;
      margin: 27px 0 24px 28px;
    }
  
    .profile {
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 1;
      padding-top: 35px;
      height: 170px;
    }
  
    .profile-cover {
      text-align: center;
      display: inline-block;
      width: 111px;
      height: 111px;
      object-fit: cover;
      object-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 5px solid #FFFFFF;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  
  }
  
  
  .page-content {
    background-color: var(--ion-background-color);
    min-height: 100%;
    margin: 20px 0 0;
    .vault {
      &__list {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 0;
        overflow-x: scroll;
        background-color: var(--ion-background-color-rgb);
        .item {
          --background: var(--helix-sort-background-color);
          --inner-border-width: 0;
          --inner-padding-bottom: 17px;
          --inner-padding-end: 13px;
          --inner-padding-start: 19px;
          --inner-padding-top: 14px;
          --padding-end: 0;
          --padding-start: 0;
          border-radius: 8px;
          border: 1px solid var(--ion-border-color);
          margin-bottom: 15px;
        }
        &_item {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border-bottom: none;
          background-color: var(--helix-sort-background-color);
          .item {
            &__icon {
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../../assets/icon/folder.svg");
              margin-right: 25px;
              color: var(--ion-text-color);
            }
            &__frozenicon{
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../../assets/icon/folder-frozen.svg");
              margin-right: 25px;
              pointer-events: none;
            }
            &__title {
              font-size: 20px;
              color: var(--ion-text-color);
              &__frozen{
                color: #cdcdcd;
                pointer-events: none;
              }
              .certificates-badge {
                position: absolute;
                top: 30%;
                right: 15px;
              }
            }
          }
        }
      }
    }
  }
  
  .ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  .buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 10px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 98%;
     
      
    }

   .import-button {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      font-size: var(--design-guidelines-button);
      &--blue-inactive {
        pointer-events: none;
        background: var(--ion-color-primary-shade);
        border: 1px solid var(--ion-color-primary-shade);
      }
    }

    .create-button {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
      font-size: var(--design-guidelines-button);
      &--red-inactive {
        pointer-events: none;
        background: var(--ion-color-secondary-shade);
        border: 1px solid var(--ion-color-secondary-shade);
      }
    }
}
