<ion-header mode="ios">
  <div class="page-header">
    <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>

    <!-- <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="profilePictureSrc" />
      </ion-avatar>
    </div> -->
    <h3 class="page-title">
      {{ heading }}{{ 'WALLETSETTINGS.settings' | translate }}
    </h3>
  </div>
</ion-header>
<ion-content>
  <div class="page-content">
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activateCopyAddress}"
        (click)="copyAddress()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.copy-address' |
        translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activateCloudBackup}"
        (click)="cloudBackup()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.cloud-backup' |
        translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activateFileBackup}"
        (click)="fileBackup()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.file-backup' |
        translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activatePaperBackup}"
        (click)="paperBackup()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.paper-backup'
        | translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activateSeedphrase}"
        (click)="showSeed()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.show-seed' |
        translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activatePrivatekey}"
        (click)="showPrivatekey()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.show-privatekey' |
        translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activateRecoverWallet}"
        (click)="recoverWallet()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{
        'WALLETSETTINGS.recover-wallet' | translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activateRenameWallet}"
        (click)="renameWallet()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.rename-wallet'
        | translate }}
      </div>
    </div>
    <div class="buttons" *ngIf="powerUserMode">
      <div
        class="button ion-activatable import-button"
        [ngClass]="{'import-button--blue-inactive' : !activatemakeIDTetheredWallet}"
        (click)="makeIDTetheredWallet()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.link-wallet' |
        translate }}
      </div>
    </div>
    <div class="buttons" style="padding-bottom: 30px;">
      <div
        class="button ion-activatable create-button"
        [ngClass]="{'create-button--red-inactive' : !activateDeleteWallet}"
        (click)="deleteWallet()"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.delete-wallet' |
        translate }}
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <!-- <div class="buttons">
    <div
      class="button ion-activatable create-button"
      [ngClass]="{'create-button--red-inactive' : !activateDeleteWallet}"
      (click)="deleteWallet()"
    >
      <ion-ripple-effect></ion-ripple-effect>{{ 'WALLETSETTINGS.delete-wallet' |
      translate }}
    </div>
  </div> -->
  <!-- <tabs></tabs> -->
</ion-footer>
