.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}


.cards {
  position: relative;
  height: calc(100vh - (78px + 80px)); // 78px is toolbar height 80px is footer height
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
      position: absolute;
      margin: auto;
      height: 100%;
      width: 100%;

      ion-card {
          position: relative;
          background-color: var(--ion-background-color);
          box-shadow: none;
          margin-top: 0px;
          margin-left: 8px;
          height: 100%;

          ion-card-content {
            padding-top: 0;
          }

      }
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  ion-icon {
      font-size: 45px;
  }
}

.label {
  font-size: var(--design-guidelines-body);
  color: var(--ion-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.expand {
  width: 100%;
}

.expand-vertically {
  height: 100%;
}

.flex {
  display: flex;
}

.button-margin-left {
  margin-left: 4px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

ion-item::part(native) {
  --border-color: var(--ion-text-color);
  --highlight-background: var(--ion-text-color);
  border-radius: 4px;
  border-width: 1px;
}

ion-item.editable::part(native) {
  --border-color: var(--ion-color-secondary);
  --highlight-background: var(--ion-color-secondary);
}

ion-item.checked::part(native) {
  --border-color: var(--ion-color-primary);
  --highlight-background: var(--ion-color-primary);
}

.job-header-text {
  margin-left: 50px;
}