<ion-content class="no-header-content">
  <ion-grid>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1 class="job-header-text">
              {{ 'FORTUNE.OCR.TITLE' | translate }}
            </h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

  <div class="page-content">
    <div class="cards" *ngIf="jobs().length > 0 && !allDone; else emptyTemplate">
      @for (job of jobs(); track trackByData; let i = $index) {
        <div class="card" #card [style.zIndex]="jobs().length - i" id="{{'card-'+i}}">
          <ion-card>
            <ion-card-content>
              <h5 class="label">{{ 'FORTUNE.OCR.HEADER' | translate }}</h5>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="flex ion-no-padding ion-justify-content-end">
                    <ion-button size="small" color="tertiary" fill="clear" (click)="setOpen(true)">
                      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-margin-bottom">
                  <ion-col class="ion-no-padding">
                    <img class="expand" src="{{job.scan}}" alt="">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="flex">
                    <div class="ion-text-nowrap">
                      {{ 'FORTUNE.OCR.DATATYPE' | translate }}
                    </div>
                    <div class="expand ion-text-end">
                      {{ 'FORTUNE.OCR.ACCURACY' | translate }}: {{ job.typeAccuracy }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-margin-bottom">
                  <ion-col>
                    <ion-item fill="outline" [class.editable]="typeEditable" [class.checked]="typeChecked">
                      <!-- ATTENTION: this is a workaround as setting focus on a input after removing the readonly status
                      on mobile devices didnt work -->
                      <ion-input [value]="solutions[i].type" readonly="true" [hidden]="typeEditable"></ion-input>
                      <ion-input #datatypeInput [(ngModel)]="solutions[i].type" [hidden]="!typeEditable"></ion-input>
                      @if(!typeEditable) {
                        <ion-button slot="end" size="small" color="secondary" (click)="editDatatype(datatypeInput)">
                          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                        </ion-button>
                      }
                      @if(!typeChecked) {
                        <ion-button slot="end" class="button-margin-left" size="small" color="primary" (click)="submitDatatype()">
                          <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
                        </ion-button>
                      }
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="flex">
                    <div class="ion-text-nowrap">
                      {{ 'FORTUNE.OCR.OCR_RESULT' | translate }}
                    </div>
                    <div class="expand ion-text-end">
                      {{ 'FORTUNE.OCR.ACCURACY' | translate }}: {{ job.valueAccuracy }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-margin-bottom">
                  <ion-col>
                    <ion-item fill="outline" [class.editable]="valueEditable" [class.checked]="valueChecked">
                      <!-- ATTENTION: this is a workaround as setting focus on a input after removing the readonly status
                        on mobile devices didnt work -->
                        <ion-input [value]="solutions[i].value" readonly="true" [hidden]="valueEditable"></ion-input>
                        <ion-input #valueInput [(ngModel)]="solutions[i].value" [hidden]="!valueEditable"></ion-input>
                      @if(!valueEditable) {
                        <ion-button slot="end" size="small" color="secondary" (click)="editValue(valueInput)">
                          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                        </ion-button>
                      }
                      @if(!valueChecked) {
                        <ion-button slot="end" class="button-margin-left" size="small" color="primary" (click)="submitValue()">
                          <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
                        </ion-button>
                      }
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="secondary" expand="block" (click)="reset(i)">{{ 'FORTUNE.OCR.RESET' | translate }}</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="block" [disabled]="!typeChecked || !valueChecked" (click)="submit(i)">{{ 'FORTUNE.OCR.SUBMIT' | translate }}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
      }
    </div>

    <ng-template #emptyTemplate>
      <div class="center" *ngIf="allDone">
        <ion-icon name="checkmark-circle" color="primary"></ion-icon>
        <br>
        <ion-note class="all-done">All Done!</ion-note>
      </div>
    </ng-template>
  </div>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">{{ 'BUTTON.CLOSE_MODAL' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <swiper-container
            zoom-max-ratio="3"
            zoom-min-ratio="1"
            class="expand expand-vertically">
          <swiper-slide>
            <div class="swiper-zoom-container">
              <img src="{{ scan }}" alt="">
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>