code-input {
  --item-border: 1px solid var(--ion-tab-icon-color);
  --item-border-bottom: 1px solid var(--ion-tab-icon-color);
  --item-border-has-value: 1px solid var(--ion-color-primary);
  --item-border-bottom-has-value: 1px solid var(--ion-color-primary);
  --item-border-focused: 1px solid var(--ion-color-secondary);
  --item-border-bottom-focused: 1px solid var(--ion-color-secondary);
  --item-height: 3em;
  --item-border-radius: 20px;
  --item-spacing: 10px;
  font-size: 30px;
}

.buttons {
  margin-top: 100px;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__button {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
}

.no-pointer {
  pointer-events: none;
}

.finger-print {
  width: 90px;
  height: 90px;
  position: relative;
  left: calc(50% - 45px);
  margin-top: 30px;
  z-index: 10;
}

.forget-password {
  width: 100%;
  text-align: right;
  color: var(--ion-color-primary);
  font-size: var(--design-guidelines-body);
  font-weight: bold;
  text-decoration: underline;
}

.page-footer {
  background-color: var(--ion-color-primary);
  position: relative;
  z-index: auto;

  .submit-button {

    bottom: 111px;
    right: 36px;
    width: 77px;
    height: 77px;
    background-size: cover;
    background-image: url("../../assets/icon/prev-next-sign.svg");
    position: absolute;
    transform: rotate(0deg);
    cursor: pointer;
   z-index: 13;
    &:active {
      transform: rotate(0deg);
      background-size: cover;
      background-image: url("../../assets/icon/active-prev-next-sign.svg");
    }
  }

  &__auth {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .signup {
      padding: 10px 15px;
      color: white;
      font-size: var(--design-guidelines-body);
      margin: 0;
    
    }

    .forgotpassword {
      text-align: right;
      padding: 10px 15px;
      color: white;
      font-size: var(--design-guidelines-body);
      margin: 0;
     
    }
  }
}

.error {
  color: #733122;
}

.password-toggle {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  position: absolute;
  top: -2px;
  right: 0px;
  z-index: 2;
}

.pin-toggle {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  position: absolute;
  display: contents;
  z-index: 2;
}

.proto-hyperlink {
  span {
    display: block;
    margin-top: 20px;
  }
}

.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}

.button_unlock {
  width: 70px;
  height: 70px;
}
