<ion-content class="no-header-content">

  <ion-grid>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1 class="job-header-text">
              {{ 'FORTUNE.QUIZ.TITLE' | translate }}
            </h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

  <div class="page-content">
    <div class="cards" *ngIf="jobs().length > 0 && !allDone; else emptyTemplate">
      @for (job of jobs(); track trackByData; let i = $index) {
        <div class="card" #card [style.zIndex]="jobs().length - i" id="{{'card-'+i}}">
          <ion-card>
            <card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center ion-no-padding">
                  <h2 class="label">{{ job.question }}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-no-padding">
                  <div>
                    @for (answer of job.answers; track trackByData; let i = $index) {
                      <ion-button class="ion-text-wrap answer-button" mode="ios" size="large" fill="outline" expand="block" (click)="select(i)" >{{ answer }}</ion-button>
                    }
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </card-content>
          </ion-card>
        </div>
      }
    </div>

    <ng-template #emptyTemplate>
      <div class="center" *ngIf="trusted == null && solutionsCorrect == null">
        <!-- <ion-icon name="checkmark-circle" color="primary"></ion-icon>
        <br> -->
        <ion-spinner class="all-done" name="dots"></ion-spinner>
      </div>
      <div class="center" *ngIf="trusted == false && solutionsCorrect == true">
        <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
        <br>
        <!-- We don't translate the message as this scenario is not anymore possible as you need to have a valid KYC to do jobs -->
        <ion-note class="all-done">Congratulations! You have answered the quiz correctly, but since you have not gone through a verification process, you will not receive the Soulbound NFT. You can try the quiz again after going through a verification process.</ion-note>
        <div class="buttons" (click)="goBack()">
          <div class="button">
            {{ 'FORTUNE.QUIZ.BACK' | translate }}
          </div>
        </div>
      </div>
      <div class="center" *ngIf="trusted == true && solutionsCorrect == true">
        <ion-icon name="checkmark-circle" color="primary"></ion-icon>
        <br>
        <ion-note class="all-done">{{ 'FORTUNE.QUIZ.MESSAGES.SUCCESS' | translate }}</ion-note>
        <div class="buttons" (click)="goBack()">
          <div class="button">
            {{ 'FORTUNE.QUIZ.BACK' | translate }}
          </div>
        </div>
      </div>
      <div class="center" *ngIf="solutionsCorrect == false">
        <!-- <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
        <br> -->
        <ion-note class="all-done">{{ 'FORTUNE.QUIZ.MESSAGES.ERROR' | translate }}</ion-note>
        <div class="buttons" (click)="goBack()">
          <div class="button">
            {{ 'FORTUNE.QUIZ.BACK' | translate }}
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>