.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

::-webkit-scrollbar {
  display: none;
}

.cards {
  position: relative;
  height: calc(100vh - (78px + 80px)); // 78px is toolbar height 80px is footer height
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
      position: absolute;
      margin: auto;
      height: 100%;
      width: 100%;

      ion-card {
          position: relative;
          background-color: var(--helix-sort-background-color);
          box-shadow: none;

          height: 100%;
          max-height: calc(100vh - 200px);

          margin-top: 0px;
      }
  }

  .answer-button {
    margin-top: 10px;
    text-transform: none;
    display: inline-table;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;

  ion-icon {
      font-size: 45px;
  }
}

.label {
  color: var(--ion-text-color);
  margin-top: 0px;
  margin-bottom: 20px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.buttons {
  display: flex;
  background-color: var(--ion-color-primary);
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 20px;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    width: 98%;
 }
}

.job-header-text {
  margin-left: 50px;
}