<ion-header mode="ios" class="ion-no-border">
  <div class="page-header"></div>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="ion-padding" class="profile-content">
    <div style="text-align: center">
      <h1 class="welcome-title">
        {{ 'WEB3WALLET.STEP5.heading' | translate }}
      </h1>
      <div style="text-align: left; padding-top: 15px; padding-bottom: 15px" *ngIf="!displayEmoji">
        <img [src]="icon" alt="" />
      </div>
      <div style="text-align: left; padding-top: 15px; padding-bottom: 15px; font-size: 32px;" *ngIf="displayEmoji">
        ⚠️
      </div>
      <h3 class="access-message" *ngIf="stage == '2'">
        {{ 'WEB3WALLET.STEP5.body' | translate }}
      </h3>
      <div class="access-texts">{{ customContent1 }}</div>
      <div class="access-texts">{{ customContent2 }}</div>
      <div class="access-texts">{{ customContent3 }}</div>
    </div>
  </div>
  <div class="page-footer">
    <div class="buttons">
      <div class="button ion-activatable" (click)="confirm()">
        <ion-ripple-effect></ion-ripple-effect>{{ 'WEB3WALLET.STEP5.button' |
        translate }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <!-- <div class="page-footer">
    <div class="buttons">
      <div class="button ion-activatable" (click)="confirm()">
        <ion-ripple-effect></ion-ripple-effect>{{ 'WEB3WALLET.STEP5.button' |
        translate }}
      </div>
    </div>
  </div> -->
</ion-footer>
