.page-header {
  // padding: 0px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;

  .page-title {
    margin: 27px 0 24px 28px;
    font-size: var(--design-guidelines-heading);
    color: var(--ion-text-color-rgb);
  }
}

.page-content {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  min-height: 100%;
  .about {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);
      .item {
        --background: transperent;
        --border-width: 0;
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        --border-radius: 8px;
        margin-bottom: 0;
      }
      &_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        border-bottom: none;
        width: 100%;
        .item {
          &__title {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &_value {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.buttons {
  display: contents;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-secondary);
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--ion-color-secondary);
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
