ion-card {
  margin-top: 10px;
  background-color: var(--helix-sort-background-color);
  border: 1px solid var(--ion-border-color);
  border-radius: 12px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}


.job-header-text {
  margin-left: 50px;
}