<ion-content [scrollEvents]="true" class="no-header-content">

  <ion-grid>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1 class="job-header-text">
              {{ 'FORTUNE.HCAPTCHA.TITLE' | translate }}
            </h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

  <div class="page-content" >
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="initCaptcha()" disabled="{{ hCaptchaShowing }}" expand="block" size="large" style="text-transform: none;">
              {{ 'FETCH_JOB' | translate }}
            </ion-button>
          </ion-col>

        </ion-row>
        <ion-row *ngIf="hCaptchaShowing">
          <ion-col size="12">
            <ion-text class="ion-text-center">
              <h4 *ngIf="!jobReloading">{{ 'HCAPTCHA_DASHBOARD.loadJob' | translate }}</h4>
              <h4 *ngIf="jobReloading">{{ 'HCAPTCHA_DASHBOARD.reloadJob' | translate }}</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="captchaContent" class="ion-text-center" size="4">
            <div id="h-captcha" [hidden]="!hCaptchaShowing"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>