<ion-content class="no-header-content">

  <ion-grid>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1 class="job-header-text">
              {{ 'FORTUNE.AUDIO_LABELLING.TITLE' | translate }}
            </h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

  <div class="page-content ion-padding">
    @if(this.job?.manifest?.annotations?.audio?.max) {
    <ion-progress-bar [value]="progress" [class.minimum-length]="isMinimumLength"></ion-progress-bar>
    }
    <div class="information">
      {{ 'TIMER.MIN' | translate }}: {{ formatTime(this.job?.manifest?.annotations?.audio?.min) }} <br>
      {{ 'TIMER.MAX' | translate }}: {{ formatTime(this.job?.manifest?.annotations?.audio?.max) }} <br>
      {{ 'TIMER.ELAPSED' | translate }}: {{ formatTime(this.timer) }}
    </div>
    <div class="buttonContainer">
      <div *ngIf="playbackData && !isPlaying" class="button" (click)="playRecording()">
        <ion-icon class="icon" name="play-outline"></ion-icon>
      </div>
      <div *ngIf="playbackData && isPlaying" class="button button-orange" (click)="pausePlaying()">
        <ion-icon class="icon" name="pause-outline"></ion-icon>
      </div>
      <div *ngIf="!isRecording" class="button" (click)="startRecording()">
        <ion-icon class="icon" name="mic-outline"></ion-icon>
      </div>
      <div *ngIf="isRecording" class="button button-orange" (click)="stopRecording()">
        <ion-icon class="icon" name="stop-outline"></ion-icon>
      </div>
      <div *ngIf="playbackData" class="button" (click)="submit()">
        <ion-icon class="icon" name="share-outline"></ion-icon>
      </div>
    </div>
    <div id="waveform" #waveform *ngIf="!isRecording"></div>
    <div class="placeholderText" *ngIf="!playbackData && !isRecording">{{ 'FORTUNE.AUDIO_LABELLING.READ_AUDIO' |
      translate }} {{ 'FORTUNE.AUDIO_LABELLING.PRESS_RECORD_AUDIO' | translate }}</div>
    <div class="placeholderText" *ngIf="isRecording">{{ 'FORTUNE.AUDIO_LABELLING.RECORDING' | translate }}</div>
    <div class="textContent" [innerHTML]="text">
    </div>

  </div>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>