<ion-content class="no-header-content">

  <div class="page-content">
    <div class="cards" *ngIf="jobs().length > 0; else emptyTemplate">
      <div class="card" #card *ngFor="let job of jobs(); trackBy: trackByData; let i=index;" [style.zIndex]="jobs().length - i" id="{{'card-'+i}}">
        <ion-card mode="ios" color="primary">
          <ion-card-content mode="md">
            <img src="{{job.photo}}" alt="">
          </ion-card-content>
          <ion-grid class="card-footer">
            <ion-row>
              <ion-col class="ion-text-center ion-no-padding">
                <h2 class="ion-no-margin label">{{job.name}}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center ion-no-padding">
                <h3 class="ion-no-margin label">{{job.price}}</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>

       <!-- Icons -->
       <ion-icon #up name="arrow-up-outline" class="icon icon-up" color="primary"></ion-icon>
       <ion-icon #down name="arrow-down-outline" class="icon icon-down" color="secondary"></ion-icon>
       <ion-icon #heart name="heart" class="icon icon-heart" id="heart-icon"></ion-icon>
    </div>

    <ng-template #emptyTemplate>
      <div class="center" *ngIf="allDone">
        <ion-icon name="checkmark-circle" color="primary"></ion-icon>
        <br>
        <ion-note class="all-done">All Done!</ion-note>
      </div>
    </ng-template>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!allDone" id="click-trigger">
    <ion-fab-button size="small" class="fab-button">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <app-popover-content class="popover">{{ description }}</app-popover-content>
    </ng-template>
  </ion-popover>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>