.buttons {
  display: flex;
  background-color: var(--ion-color-primary);
  border-radius: 8px;
  margin-top: 15px;
  justify-content: space-between;

  .button {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    width: 98%;
  }

}


.inactive {
  pointer-events: none;
  background-color: var(--ion-color-primary-tint);
}

.reload {
  --background: var(--ion-color-secondary);
  --background-activated: var(--ion-color-secondary-tint);
  width: 60px;
  height: 60px;

  ion-icon {
    font-size: 22px;
  }
}

.icon-container {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
  border: 2px solid var(--ion-color-secondary-contrast);
  display: inline-block;

  .category-icon {
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 9px;
  }
}

ion-card {
  margin-top: 10px;
  background-color: var(--helix-sort-background-color);
  // border: 3px solid var(--ion-border-color);
  border-radius: 12px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.dashboard-heading {
  text-align: left;
  font-size: 20px;
  color: var(--ion-text-color);
}

.dashboard-subheading {
  text-align: center;
  font-size: 14px;
  color: var(--ion-text-color);
}

.dashboard-reload {
  font-size: 25px;
  float: right;
  padding-right: 20px;
}

.dashboard-value {
  text-align: center;
  font-size: 16px;
  color: var(--ion-text-color);
}

.dashboard-key {
  text-align: center;
  font-size: 12px;
  color: var(--ion-text-color);
}

.job-card {
  padding: 5px;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 15px;
  // color: var(--ion-color-dark);
  letter-spacing: 0.1px;
  // text-align: center;
  background-size: cover;
}

.skeleton-title {
  margin: auto;
}

ion-skeleton-text {
  --background: white;
}

.center {
  width: 100%;
  text-align: center;
}

.no-jobs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  ion-icon {
    font-size: 45px;
  }

  ion-note {
    color: var(--ion-text-color)
  }
}

.no-border {
  border: 0px !important;
}

.job-header-text {
  margin-left: 50px;
}

.subline {
  margin-top: 30px;
}