<ion-content class="no-header-content">
  <ion-grid>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          @if (!address && !demo) {
            <ion-label class="ion-text-wrap">
              <h1 class="job-header-text">
                {{ 'WALLET_INITIATION.missing-wallet-0' | translate}}
              </h1>
              <div class="subline">
                {{ 'WALLET_INITIATION.missing-wallet' | translate}}
              </div>
            </ion-label>
          } @else {
            <ion-label class="ion-text-wrap">
              <h1 class="job-header-text">
                {{ 'FORTUNE.' + label + '.TITLE' | translate }}
              </h1>
            </ion-label>
          }
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

  <div class="page-content">
    @if (!reloadJobs) {
    @if (jobs?.length > 0) {
    <ion-list style="background: transparent;">
      <ion-card *ngFor="let job of jobs" class="job-card" style="background-image: url({{ job.manifest.imageUrl }});">
        <ion-card-title style="text-align: center; padding: 10px;">
          <div *ngIf="theme.getCurrentTheme() == 'light'" style="
              background-color: rgb(255,255,255,0.8);
              padding-top: 10px;
              padding-bottom: 10px;
              border-radius: 8px;
              color: var(--ion-text-color);">
            {{ job.manifest.requesterTitle }}
          </div>
          <div *ngIf="theme.getCurrentTheme() == 'dark'" style="
              background-color: rgb(0,0,0,0.8);
              padding-top: 10px;
              padding-bottom: 10px;
              border-radius: 8px;
              color: var(--ion-text-color);">
            {{ job.manifest.requesterTitle }}
          </div>
        </ion-card-title>
        <ion-card-content>
          <div *ngIf="theme.getCurrentTheme() == 'light'" style="
              background-color: rgb(255,255,255,0.8);
              padding: 15px;
              border-radius: 8px;
              color: var(--ion-text-color);">
            <h2 [innerHTML]="job.manifest.requesterDescription"></h2>
          </div>
          <div *ngIf="theme.getCurrentTheme() == 'dark'" style="
              background-color: rgb(0,0,0,0.8);
              padding: 15px;
              color: #d1d1d1;
              border-radius: 8px;">
            <h2 [innerHTML]="job.manifest.requesterDescription"></h2>
          </div>
          <!-- <br>
              {{ 'FORTUNE.price' | translate }}: {{ job.manifest.estimatedPrice }}
              <br>
              {{ 'FORTUNE.solutionsRequired' | translate }}: {{ job.manifest.solutionsRequired }} -->
          <div class="buttons" (click)="openJob(job)" [ngClass]="{ 'inactive': returnInactiveStatus(job) }">
            <div class="button" *ngIf="!returnInactiveStatus(job) && label != 'QUIZ' ">{{ 'FORTUNE.DASHBOARD.open_job' |
              translate }}</div>
            <div class="button" *ngIf="!returnInactiveStatus(job) && label == 'QUIZ' ">{{ 'START_COURSE' | translate }}
            </div>
            <div class="button" *ngIf="returnInactiveStatus(job)">{{ 'FORTUNE.DASHBOARD.certificate_granted' | translate
              }}</div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
    } @else if (!address) {
    <ion-list style="background: transparent;">
      <ion-card class="no-border">
        <ion-card-content>
          <div class="center">
            <div class="buttons" style="margin-top: 0;">
              <div class="button import-button" (click)="goToWalletGeneration()">
                {{ 'IMPORTKEY.square' | translate }}
              </div>
            </div>
            <!-- <ion-button (click)="goToWalletGeneration()">{{ 'IMPORTKEY.square' | translate }}</ion-button> -->
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
    } @else {
    <div class="center">
      <div class="no-jobs">
        <ion-icon name="albums-outline"></ion-icon>
        <br>
        <ion-note>{{ 'FORTUNE.MESSAGES.EMPTY_LIST' | translate: { label: ('FORTUNE.' + label + '.TITLE') | translate }
          }}</ion-note>
      </div>
    </div>
    }
    }
    @else {
    <ion-list>
      <ion-card class="job-card" *ngFor="let i of [1, 2]">
        <ion-card-title style="text-align: center; padding: 10px;">
          <div *ngIf="theme.getCurrentTheme() == 'light'" style="
            background-color: rgb(255,255,255,0.8);
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 8px;
            color: var(--ion-text-color);">
            <ion-skeleton-text [animated]="true" style="width: 50%" class="skeleton-title"></ion-skeleton-text>
          </div>
          <div *ngIf="theme.getCurrentTheme() == 'dark'" style="
            background-color: rgb(0,0,0,0.8);
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 8px;
            color: var(--ion-text-color);">
            <ion-skeleton-text [animated]="true" style="width: 50%" class="skeleton-title"></ion-skeleton-text>
          </div>
        </ion-card-title>
        <ion-card-content>
          <div *ngIf="theme.getCurrentTheme() == 'light'" style="
            background-color: rgb(255,255,255,0.8);
            padding: 15px;
            border-radius: 8px;
            color: var(--ion-text-color);">
            <h2>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </h2>
          </div>
          <div *ngIf="theme.getCurrentTheme() == 'dark'" style="
            background-color: rgb(0,0,0,0.8);
            padding: 15px;
            color: #d1d1d1;
            border-radius: 8px;">
            <h2>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text><br>
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </h2>
          </div>
          <br>
          <div *ngIf="theme.getCurrentTheme() == 'light'" style="
            background-color: rgb(255,255,255,0.8);
            padding: 15px;
            border-radius: 8px;
            color: var(--ion-text-color);">
            <h2><ion-skeleton-text [animated]="true" style="width: 100px"></ion-skeleton-text></h2>
          </div>
          <div *ngIf="theme.getCurrentTheme() == 'dark'" style="
            background-color: rgb(0,0,0,0.8);
            padding: 15px;
            color: #d1d1d1;
            border-radius: 8px;">
            <h2><ion-skeleton-text [animated]="true" style="width: 100px"></ion-skeleton-text></h2>
          </div>
          <!-- <div class="buttons">
              <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
            </div> -->
        </ion-card-content>
      </ion-card>
    </ion-list>
    }
  </div>
  @if(address) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="fetchJobs()" class="reload">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goHome()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>