<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.connectedAccounts' | translate }}</h3>
  </div>
</ion-header>

<ion-content>

  <div class="page-content">
    <ion-list mode="ios">
      <ion-item>
        <ion-toggle [(ngModel)]="iCloudOSSupport" color="primary" disabled="true" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/icloud_logo.svg"></ion-icon>
          {{ 'ICLOUD' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="googleDriveOSSupport"
        [ngStyle]="{'--border-color': (_GDrive.user && _GDrive.user.email) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="_GDrive.user" color="primary" (ngModelChange)="alterGoogleDriveAuth($event)"
          class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/googledrive_logo.svg"></ion-icon>
          {{ 'GOOGLE_DRIVE' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_GDrive.user && _GDrive.user.email" style="text-align: center;">
        <ion-label *ngIf="_GDrive.user && _GDrive.user.email">
          <ion-icon name="logo-google"></ion-icon> {{ _GDrive.user.email }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="dropboxOSSupport"
        [ngStyle]="{'--border-color': (_Dropbox.user) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="dropboxStatus" (ngModelChange)="alterDropbox($event)" color="primary"
          class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/dropbox_logo.svg"></ion-icon>
          {{ 'DROPBOX' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Dropbox.user" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/dropbox_logo.svg"></ion-icon> {{ _Dropbox.user.email }}
        </ion-label>
      </ion-item>
      <!-- <ion-item *ngIf="onedriveOSSupport">
        <ion-toggle [(ngModel)]="onedriveStatus" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/onedrive_logo.svg"></ion-icon>
          {{ 'ONEDRIVE' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Onedrive.user" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/onedrive_logo.svg"></ion-icon> {{ _Onedrive.user.mail }}
        </ion-label>
      </ion-item> -->
      <!-- <ion-item *ngIf="discordOSSupport" [ngStyle]="{'--border-color': (_Discord.user) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="discordStatus" (ngModelChange)="alterDiscord($event)" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/discord.svg"></ion-icon>
          {{ 'DISCORD' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Discord.user" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/discord.svg"></ion-icon> {{ _Discord.user.me.global_name }}
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="linkedinOSSupport" [ngStyle]="{'--border-color': (_Discord.userToken) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="linkedinStatus" (ngModelChange)="alterLinkedin($event)" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/linkedin.svg"></ion-icon>
          {{ 'LINKEDIN' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Linkedin.user_data" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/linkedin.svg"></ion-icon> {{ _Linkedin.user_data.email }}
        </ion-label>
      </ion-item>

      <ion-item *ngIf="telegramOSSupport" [ngStyle]="{'--border-color': (_Telegram.user) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="telegramStatus" (ngModelChange)="alterTelegram($event)" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/telegram.svg"></ion-icon>
          {{ 'TELEGRAM' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Telegram.user" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/telegram.svg"></ion-icon> {{ _Telegram.user.username }}
        </ion-label>
      </ion-item> -->

    </ion-list>
    <!-- <ion-list mode="ios">
      <div class="buttons">
        <div class="button" (click)="shareOnTwitter()">
          <ion-icon name="logo-twitter"></ion-icon>
          Share on Twitter
        </div>
      </div>
      <div class="buttons">
        <div class="button" (click)="shareOnFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
          Share on Facebook
        </div>
      </div>
      <div class="buttons">
        <div class="button" (click)="shareOnInstagram()">
          <ion-icon name="logo-instagram"></ion-icon>
          Share on Instagram
        </div>
      </div>
      <div class="buttons">
        <div class="button" (click)="shareOnWhatsApp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
          Share on WhatsApp
        </div>
      </div>

      <div class="buttons">
        <div class="button" (click)="customShare()">
          Custom Sharing
        </div>
      </div>
    </ion-list> -->
  </div>

</ion-content>