
@import "ionic/ion-datetime";
@import "ionic/ion-select";
@import "ionic/ion-slides";

@font-face {
  font-family: 'Jost Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/bold/Jost-Bold.ttf");
}

@font-face {
  font-family: 'Jost Regular';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/regular/Jost-Medium.ttf");
}

@font-face {
  font-family: 'FredokaOne Regular';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/regular/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/regular/PublicSans-Medium.ttf");
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #54BF7B;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #f7f7f7;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #98D8B0;
  --ion-color-primary-tint: #98D8B0;
  --ion-font-family: 'Jost Regular';
  /** secondary **/
  --ion-color-secondary: #FF9C00;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #FFCD7F;
  --ion-color-secondary-tint: #FFCD7F;
  --ion-font-family: 'Jost Regular';
  /** tertiary **/
  --ion-color-tertiary: #D7D7D7;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  --ion-font-family: 'Jost Regular';
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  --ion-font-family: 'Jost Regular';
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  --ion-font-family: 'Jost Regular';
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  --ion-font-family: 'Jost Regular';
  /** dark **/
  --ion-color-dark: #252525;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2F2F2F;
  --ion-color-dark-tint: #383a3e;
  --ion-font-family: 'Jost Regular';
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #8E8E8E;
  --ion-color-medium-tint: #D8D8D8;
  --ion-font-family: 'Jost Regular';
  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #733122;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f7f7f7;
  --ion-color-light-tint: #f5f6f9;
  --ion-font-family: 'Jost Regular';
  // Custom
  --content-Value: '(in 3 easy steps)';
  --content-Value-de: '(in 3 einfachen Schritten)';
  --helix-link-color: #BF7B54;
  --helix-sort-background-color: #FFFFFF;
  --helix-border-color: #D1D2D1;

  --design-guidelines-heading: 24pt;
  --design-guidelines-subline: 20pt;
  --design-guidelines-body: 15pt;

  --design-guidelines-alert-notification: 13pt;
  --design-guidelines-toast-notification: 13pt;
  --design-guidelines-modal-window: 13pt;
  --design-guidelines-button: 12pt;

  --jobgrader-color-background: #FFFFFF;
}

ion-content, ion-header {
  --background: var(--ion-background-color);
  background-color: var(--ion-background-color);
}

ion-toast {
  text-align: center;
  font-size: var(--design-guidelines-toast-notification);
}

ion-select {
  ::ng-deep .select-icon {
    opacity: 0;
    --opacity: 0;
    .select-icon .select-icon-inner {
      color: brown;
  }
    .select-icon-inner {
       color : brown !important;
    }
  }
}

app-document-modal {
  align-items: center;
}

ion-backdrop {
  opacity: 0.33 !important;
}

body {
  --ion-text-color: #2f2f2f;
  --ion-text-color-rgb: 47,47,47;
  --ion-background-color: #d7d7d7;
  --ion-background-color-rgb: 215,215,215;
  --ion-border-color: #f7f7f7;
  --ion-item-background: #d7d7d7;
  --ion-item-divider-background: #d7d7d7;
  --ion-tab-bar-background: #f7f7f7;
  --ion-card-background: #c7c7c7,
  --ion-toolbar-background: #f7f7f7;
  --helix-link-color: #BF7B54;
  --helix-border-color: #ccc;
  --helix-sort-background-color: #FFFFFF;
  --ion-tab-icon-color: #4A4A4A;
  --ion-datetime-background: #FFFFFF;
  --ion-datetime-background-rgb: 255,255,255;
  --ion-button-text-color: #FA3C50;
  --ion-circle-fill: #FFFFFF;
  --ion-circle-ring-profile: #D7D7D7;
  --ion-circle-fill-category: #54BF7B;
  --ion-circle-icon: #260F0A;
  --ion-circle-selected: #260F0A;
  --ion-circle-around-selection: #260F0A;
  --ion-pitch: #ffffff;
  --ion-nft-background: rgba(255, 255, 255, 0.6);

  --ion-color-step-50: #cfcfcf;
	--ion-color-step-100: #c6c6c6;
	--ion-color-step-150: #bebebe;
	--ion-color-step-200: #b5b5b5;
	--ion-color-step-250: #adadad;
	--ion-color-step-300: #a5a5a5;
	--ion-color-step-350: #9c9c9c;
	--ion-color-step-400: #949494;
	--ion-color-step-450: #8b8b8b;
	--ion-color-step-500: #838383;
	--ion-color-step-550: #7b7b7b;
	--ion-color-step-600: #727272;
	--ion-color-step-650: #6a6a6a;
	--ion-color-step-700: #616161;
	--ion-color-step-750: #595959;
	--ion-color-step-800: #515151;
	--ion-color-step-850: #484848;
	--ion-color-step-900: #404040;
	--ion-color-step-950: #373737;
}

body.dark {
  --ion-text-color: #d1d2d1;
  --ion-text-color-rgb: 221,221,221;
  --ion-background-color: #222528;
  --ion-background-color-rgb: 34,37,40,
  --ion-border-color: #d1d2d1;
  --ion-item-background: #222528;
  --ion-item-divider-background: #222528;
  --ion-tab-bar-background: #1f1f1f;
  --ion-card-background: #d7d7d7;
  --ion-toolbar-background: #1f1f1f;
  --helix-link-color: #d1d2d1;
  --helix-border-color: #757575;
  --helix-sort-background-color: #222528;
  --ion-tab-icon-color: #D7D7D7;
  --ion-datetime-background: #4A4A4A;
  --ion-datetime-background-rgb: 74,74,74;
  --ion-button-text-color: #f7f7f7;
  --ion-circle-fill: #F2F2F2;
  --ion-circle-ring-profile: #F2F2F2;
  --ion-circle-fill-category: #54BF7B;
  --ion-circle-icon: #260F0A;
  --ion-circle-selected: #260F0A;
  --ion-circle-around-selection: #F2F2F2;
  --ion-pitch: #000000;
  --ion-nft-background: rgba(0, 0, 0, 0.6);

  --jobgrader-color-background: #252525;


  --ion-color-step-50: #2b2e30;
	--ion-color-step-100: #343639;
	--ion-color-step-150: #3c3f41;
	--ion-color-step-200: #45484a;
	--ion-color-step-250: #4e5052;
	--ion-color-step-300: #57595b;
	--ion-color-step-350: #5f6263;
	--ion-color-step-400: #686a6c;
	--ion-color-step-450: #717374;
	--ion-color-step-500: #7a7c7d;
	--ion-color-step-550: #828485;
	--ion-color-step-600: #8b8d8d;
	--ion-color-step-650: #949596;
	--ion-color-step-700: #9c9e9e;
	--ion-color-step-750: #a5a7a7;
	--ion-color-step-800: #aeafaf;
	--ion-color-step-850: #b7b8b8;
	--ion-color-step-900: #c0c1c0;
	--ion-color-step-950: #c8c9c9;
}


/**
  * Barcode Scanning
  * -------------------------------------------
  */
body.barcode-scanning-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

.barcode-scanning-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanning-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
