.videoContainer {
    background-image: url('../../../assets/video_labelling_background.jpeg');
    background-blend-mode: darken, luminosity;
    background-size: cover;
    height: 270px;
}

.information {
    display: flex;
    position: absolute;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
}

.buttonContainer {
    display: flex;
    text-align: center;
    width: 100%;
    padding-top: 20px;

    .button {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        top: 50px;
        background: var(--ion-color-primary);
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 20px;

        &-orange {
            background: var(--ion-color-secondary);
        }

        .icon {
            font-size: 22px;
            color: black;
            margin-top: 19px;
            margin-left: 0;
        }
    }
}

.textContent {
    max-height: 275px;
    text-overflow: clip;
    overflow: auto;
    font-size: 22px;
    padding: 10px;
    margin: 10px 0 0 0;
    border: 2px solid black;
}

// .placeholderText {
//     text-align: center;
//     font-size: 22px;
//     opacity: 0.8;
//     height: 130px;
//     padding-top: 45px;
// }

ion-icon {
    --ionicon-stroke-width: 16px;
}

ion-progress-bar {
    --background: gray;
    --progress-background: red;
    height: 5px;
}

ion-progress-bar.minimum-length {
    --progress-background: green;
}

.job-header-text {
    margin-left: 50px;
}