<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'IMPORTKEY.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close(false)">{{ 'LEGALDOCUMENTS.closeModal' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <h1 class="proto-title">
    {{ 'IMPORTKEY.subheading' | translate }}
  </h1>

  <div>
    <div class="buttons">
      <div class="button ion-activatable button--save" (click)="importFile()">
        <ion-ripple-effect></ion-ripple-effect>
    {{ 'IMPORTKEY.selectFile' | translate }}
      </div>
    </div>
    <div class="buttons">
      <div class="button ion-activatable button--save" (click)="importText()">
        <ion-ripple-effect></ion-ripple-effect>
    {{ 'IMPORTKEY.pasteSeedPhrase' | translate }}
      </div>
    </div>
    <div class="buttons">
      <div class="button ion-activatable button--save" (click)="importPrivate()">
        <ion-ripple-effect></ion-ripple-effect>
    {{ 'IMPORTKEY.pastePrivateKey' | translate }}
      </div>
    </div>

    <!-- <div class="buttons" *ngIf="initial">
      <div class="button ion-activatable button--save" (click)="generateWallet()">
        <ion-ripple-effect></ion-ripple-effect>
    {{ 'IMPORTKEY.newWallet' | translate }}
      </div>
    </div> -->
  </div>


</ion-card>