
  <ion-header mode="ios">
    <app-job-header [showBackButton]="false" [userImage]="profilePictureSrc"></app-job-header>

    <h3 class="page-title" *ngIf="!tapToInitiate"> 
      {{ 'TABS.wallet-heading' | translate }} 
      <ion-icon *ngIf="_AppStateService.isAuthorized" class="addIcon" name="add-circle-outline" (click)="showOptions()"></ion-icon> 
    </h3>
    <h3 class="page-title" *ngIf="tapToInitiate"> 
      {{ 'TABS.activate-wallet-heading' | translate }} 
    </h3>
    <h3 class="page-subtitle" *ngIf="tapToInitiate"> 
      {{ 'TABS.activate-wallet-subheading' | translate }} 
    </h3>
  </ion-header>

<ion-content>
<div class="page-content">

  <h3 class="page-subtitle" *ngIf="tapToInitiate" style="margin-top: 0;"> 
    {{ 'WALLET_INITIATION.body-0' | translate }} 
    {{ 'WALLET_INITIATION.body-1' | translate }}
  </h3>

    <ion-grid class="ion-no-margin" *ngIf="!tapToInitiate && _AppStateService.isAuthorized">
      <ion-row>
        <ion-col size="12">
          <div class="buttons" (click)="goToTHXC()">
            <div class="button new-button">
              {{ 'NFT.redeem-tokens-page-heading' | translate }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-list class="ion-no-margin menu" *ngIf="(tapToInitiate && _AppStateService.isAuthorized && isLoaded) || (!_AppStateService.isAuthorized)">
      <ion-item class="menu-item ion-activatable" *ngIf="tapToInitiate && _AppStateService.isAuthorized && isLoaded" (click)="tapToInitiateMethod()">
        <ion-ripple-effect></ion-ripple-effect>
        <span class="menu-item-text">
          {{ 'IMPORTKEY.circle' | translate }}
        </span>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
    </ion-list> -->

    <ion-grid class="ion-no-margin" *ngIf="(tapToInitiate && _AppStateService.isAuthorized && isLoaded) || (!_AppStateService.isAuthorized)">
      <ion-row *ngIf="tapToInitiate && _AppStateService.isAuthorized && isLoaded">
        <ion-col size="12" class="ion-text-center">
          <div class="buttons">
            <!-- <div class="buttons" style="margin: 0 30px 0 18px;"> -->
            <div class="button import-button" (click)="tapToInitiateMethod()">
              {{ 'IMPORTKEY.square' | translate }}
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!_AppStateService.isAuthorized">
        <ion-col size="12">
          <div class="buttons">
            <div class="button import-button ion-activatable" (click)="goToLogin()">
              <ion-ripple-effect></ion-ripple-effect>
              {{ 'BROWSEMODE.buttons.login' | translate }}
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!_AppStateService.isAuthorized">
        <ion-col size="12">
          <div class="buttons">
            <div class="button import-button ion-activatable" (click)="goToSignUp()">
              <ion-ripple-effect></ion-ripple-effect>
              {{ 'BROWSEMODE.buttons.signup' | translate }}
            </div>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div style="text-align: center; font-size: 50px;">
      <ion-spinner *ngIf="displayLoader" name="lines-sharp"></ion-spinner>
    </div>

    <!-- <div class="page-sliding" *ngFor="let card of cards">
      <ion-item no-lines style="padding-bottom: 20px;
      --border-color: transparent;">
        <ion-grid [class.cardON]="card.state=='ON'" [class.cardOFF]="card.state=='OFF'">
          <ion-row>
            <ion-col class="state">
              <div class="msg">
                <span [class.ON]="card.state=='ON'" [class.OFF]="card.state=='OFF'"></span> Card {{card.state}}
              </div>
            </ion-col>
            <ion-col class="logo">
              <img class="brand" [src]="card.logo">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="chip">
              <img src="assets/img/chip.png">
            </ion-col>
          </ion-row>
          <ion-row class="digits">
            <ion-col class="number">
              {{card.a}}
            </ion-col>
            <ion-col class="number">
              {{card.b}}
            </ion-col>
            <ion-col class="number">
              {{card.c}}
            </ion-col>
            <ion-col class="number">
              {{card.d}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="date">
              Expires: {{card.expires}}
            </ion-col>
            <ion-col class="bank">
              {{card.bank}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div> -->

    <ion-grid class="ion-no-margin" *ngIf="isLoaded">

      <ion-row *ngIf="!tapToInitiate && _AppStateService.isAuthorized">
        <ion-col size="12" class="ion-text-center" *ngFor="let account of accounts; let indice = index; trackBy: trackByAccounts;">
          <app-wallet-card
            [account]="account"
            [indice]="indice+1"
            [symbol]="FIAT_SYMBOL"
            [color]="!!account.color ? account.color :
            (!!account.primary && !!account.mnemonic ? 'green' :
            (!!account.primary && !account.mnemonic ? 'grey' : null))"
            (onSettingsClick)="goToWalletSettings(account)"
            (onShowAccount)="showAccount(account)"
            (onTrackNFT)="trackNfts(account.publicKey, account.heading)"
            (onNavigateClick)="navigateToPage($event)"
            (onMoreClick)="goToWalletSettings(account)"
            (onCopyClick)="copyAddress(account.publicKey)"
          ></app-wallet-card>

        </ion-col>
      </ion-row>

    </ion-grid>

  </div>
</ion-content>

