<ion-content class="no-header-content">

  <ion-grid>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1 class="job-header-text">
              {{ 'FORTUNE.PROMPT.TITLE' | translate }}
            </h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

  <div class="page-content">
    @if (jobs().type === 'attributes') {
      @if (!allDone) {
        <h5 class="description">{{ 'FORTUNE.AI_TRAINING.Annotate' | translate }}</h5>
      }
      <div class="cards" *ngIf="jobs().data?.length > 0 && !allDone; else emptyTemplate">
        @for (job of jobs().data; track trackByData; let i = $index) {
          <div class="card" #card [style.zIndex]="jobs().length - i" id="{{'card-'+i}}" [ngStyle]="{ 'display': i !== index ? 'none' : 'block' }">
            @if (i === index) {
              <ion-card>
                <card-content>
                  <ion-grid style="margin: 8px;">
                    <ion-row>
                      <ion-col class="ion-no-padding">
                        <ion-text color="primary">
                          <h6 class="ion-no-margin">{{ 'FORTUNE.AI_TRAINING.PROMPT' | translate }}</h6>
                        </ion-text>
                        <h5 class="label">{{ job.prompt }}</h5>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-no-padding">
                        <div>
                          <ion-grid class="ion-no-padding">
                            <ion-row>
                              <ion-text color="secondary">
                                <h6 class="ion-no-margin">{{ 'FORTUNE.AI_TRAINING.OUTPUT' | translate }}</h6>
                              </ion-text>
                              <ion-button disabled class="ion-text-wrap result-button keep-color" mode="ios" size="small" fill="outline" expand="block"><h5 class="label" [innerHTML]="job.output"></h5></ion-button>
                               <!-- <div class="ion-text-wrap result-button">
                                <h5 class="label" [innerHTML]="job.output"></h5>
                              </div> -->
                            </ion-row>
                            <ion-row class="ion-margin-bottom">
                              @if(speakIndex !== 0) {
                                <ion-button fill="outline" size="small" (click)="speak(job.output, 0)" color="tertiary">
                                  <ion-icon slot="icon-only" name="volume-medium-outline"></ion-icon>
                                </ion-button>
                              } @else {
                                <ion-button fill="outline" size="small" (click)="stop()" color="primary">
                                  <ion-icon slot="icon-only" name="stop-circle-outline"></ion-icon>
                                </ion-button>
                              }
                              <ion-col><h5 class="source-label ion-text-right">{{ job.source }}</h5></ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-text color="primary">
                                {{ 'FORTUNE.AI_TRAINING.Helpfulness' | translate }}
                              </ion-text>
                              <ion-icon name="help-circle-outline" class="helper-icon" (click)="presentPopover($event, 'FORTUNE.AI_TRAINING.HelpfulnessHelper')"></ion-icon>
                            </ion-row>
                            <ion-row>
                              <ion-range mode="ios" [min]="0" [max]="5" [pin]="true" [ticks]="true" [snaps]="true" [(ngModel)]="attributes.helpfulness" [class.invalid]="attributes.helpfulness === 0"></ion-range>
                            </ion-row>
                            <ion-row>
                              <ion-text color="primary">
                                {{ 'FORTUNE.AI_TRAINING.Correctness' | translate }}
                              </ion-text>
                              <ion-icon name="help-circle-outline" class="helper-icon" (click)="presentPopover($event, 'FORTUNE.AI_TRAINING.CorrectnessHelper')"></ion-icon>
                            </ion-row>
                            <ion-row>
                              <ion-range mode="ios" [min]="0" [max]="5" [pin]="true" [ticks]="true" [snaps]="true" [(ngModel)]="attributes.correctness" [class.invalid]="attributes.correctness === 0"></ion-range>
                            </ion-row>
                            <ion-row>
                              <ion-text color="primary">
                                {{ 'FORTUNE.AI_TRAINING.Coherence' | translate }}
                              </ion-text>
                              <ion-icon name="help-circle-outline" class="helper-icon" (click)="presentPopover($event, 'FORTUNE.AI_TRAINING.CoherenceHelper')"></ion-icon>
                            </ion-row>
                            <ion-row>
                              <ion-range mode="ios" [min]="0" [max]="5" [pin]="true" [ticks]="true" [snaps]="true" [(ngModel)]="attributes.coherence" [class.invalid]="attributes.coherence === 0"></ion-range>
                            </ion-row>
                            <ion-row>
                              <ion-text color="primary">
                                {{ 'FORTUNE.AI_TRAINING.Complexity' | translate }}
                              </ion-text>
                              <ion-icon name="help-circle-outline" class="helper-icon" (click)="presentPopover($event, 'FORTUNE.AI_TRAINING.ComplexityHelper')"></ion-icon>
                            </ion-row>
                            <ion-row>
                              <ion-range mode="ios" [min]="0" [max]="5" [pin]="true" [ticks]="true" [snaps]="true" [(ngModel)]="attributes.complexity" [class.invalid]="attributes.complexity === 0"></ion-range>
                            </ion-row>
                            <ion-row>
                              <ion-text color="primary">
                                {{ 'FORTUNE.AI_TRAINING.Verbosity' | translate }}
                              </ion-text>
                              <ion-icon name="help-circle-outline" class="helper-icon" (click)="presentPopover($event, 'FORTUNE.AI_TRAINING.VerbosityHelper')"></ion-icon>
                            </ion-row>
                            <ion-row>
                              <ion-range mode="ios" [min]="0" [max]="5" [pin]="true" [ticks]="true" [snaps]="true" [(ngModel)]="attributes.verbosity" [class.invalid]="attributes.verbosity === 0"></ion-range>
                            </ion-row>
                            <ion-row class="last-row">
                              <ion-col size="6">
                                <ion-button color="secondary" expand="block" (click)="reset()">{{ 'FORTUNE.AI_TRAINING.RESET' | translate }}</ion-button>
                              </ion-col>
                              @if(i === jobs().data.length-1) {
                                <ion-col size="6">
                                  <ion-button expand="block" (click)="submit(i)">{{ 'FORTUNE.AI_TRAINING.SUBMIT' | translate }}</ion-button>
                                </ion-col>
                              } @else {
                                <ion-col size="6">
                                  <ion-button expand="block" (click)="submit(i)">{{ 'FORTUNE.AI_TRAINING.NEXT' | translate }}</ion-button>
                                </ion-col>
                              }
                            </ion-row>
                          </ion-grid>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </card-content>
              </ion-card>
            }
          </div>
        }
      </div>
    } @else if (jobs().type === 'select') {
      @if(!allDone) {
        <h5 class="description">{{ 'FORTUNE.AI_TRAINING.HEADER' | translate }}</h5>
      }
      <div class="cards" *ngIf="jobs().length > 0 && !allDone; else emptyTemplate">
        @for (job of jobs(); track trackByData; let i = $index) {
          <div class="card" #card [style.zIndex]="jobs().length - i" id="{{'card-'+i}}" [ngStyle]="{ 'display': i !== index ? 'none' : 'block' }">
            @if (i === index) {
              <ion-card>
                <card-content>
                  <ion-grid style="margin: 8px;">
                    <ion-row>
                      <ion-col class="ion-no-padding">
                        <ion-text color="primary">
                          <h6 class="ion-no-margin">{{ 'FORTUNE.AI_TRAINING.PROMPT' | translate }}</h6>
                        </ion-text>
                        <h5 class="label">{{ job.prompt }}</h5>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-no-padding">
                        <ion-text color="primary">
                          <h6 class="ion-no-margin">{{ 'FORTUNE.AI_TRAINING.EXPECTED_OUTCOME' | translate }}</h6>
                        </ion-text>
                        <h5 class="label">{{ job.expectedOutcome }}</h5>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-no-padding">
                        <div>
                          @for (result of job.results; track trackByData; let k = $index) {
                            <ion-grid class="ion-no-padding">
                              <ion-row>
                                <ion-text color="secondary">
                                  <h6 class="ion-no-margin">{{ 'FORTUNE.AI_TRAINING.RESULT_' + k | translate }}</h6>
                                </ion-text>
                                <ion-button class="ion-text-wrap result-button" mode="ios" size="small" fill="outline" expand="block" (click)="select(i, k)" >{{ result }}</ion-button>
                              </ion-row>
                              <ion-row class="ion-margin-bottom">
                                <ion-button fill="outline" size="small" (click)="up(i, k)"  color="{{ solutions[i].results[k].weight === 1 ? 'primary' : 'tertiary'}}">
                                  <ion-icon slot="icon-only" name="thumbs-up-outline"></ion-icon>
                                </ion-button>
                                <ion-button fill="outline" size="small" (click)="down(i, k)" color="{{ solutions[i].results[k].weight === -1 ? 'secondary' : 'tertiary'}}">
                                  <ion-icon slot="icon-only" name="thumbs-down-outline"></ion-icon>
                                </ion-button>
                                <ion-button fill="outline" size="small" (click)="copy(result)" color="tertiary">
                                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                                </ion-button>
                                @if(speakIndex !== k) {
                                <ion-button fill="outline" size="small" (click)="speak(result, k)" color="tertiary">
                                  <ion-icon slot="icon-only" name="volume-medium-outline"></ion-icon>
                                </ion-button>
                                } @else {
                                  <ion-button fill="outline" size="small" (click)="stop()" color="primary">
                                    <ion-icon slot="icon-only" name="stop-circle-outline"></ion-icon>
                                  </ion-button>
                                }
                              </ion-row>
                            </ion-grid>
                          }
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </card-content>
              </ion-card>
            }
          </div>
        }
      </div>
    }

    <ng-template #emptyTemplate>
      <div class="center" *ngIf="allDone">
        <ion-icon name="checkmark-circle" color="primary"></ion-icon>
        <br>
        <ion-note class="all-done">All Done!</ion-note>
      </div>
    </ng-template>
  </div>

  <ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
    <ng-template>
      <ion-content class="ion-padding">{{ message }}</ion-content>
    </ng-template>
  </ion-popover>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>