.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.cards {
  position: relative;
  height: calc(100vh - (78px + 80px)); // 78px is toolbar height 80px is footer height
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;

    ion-card {
      position: relative;
      background-color: var(--helix-sort-background-color);
      box-shadow: none;
      // margin-left: 8px;
    }
  }

  .result-button {
    margin-top: 10px;
    text-align: left;
    text-transform: none;
    display: inline-table;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --color: var(--ion-text-color);
    font-size: 17px;
  }

  .keep-color {
    opacity: 1 !important;
  }
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  ion-icon {
    font-size: 45px;
  }
}

.label {
  color: var(--ion-text-color);
  margin-top: 0px;
  margin-bottom: 20px;
}

.source-label {
  color: var(--ion-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.description {
  margin: 0 12px 0 28px;
  font-size: var(--design-guidelines-body);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

ion-range {
  --bar-background: var(--ion-color-secondary);
  --bar-background-active: var(--ion-color-secondary);
  --knob-background: transparent;
  padding-top: 0px !important;
  --jobgrader-knob-color: var(--ion-color-primary);
  --jobgrader-knob-color-invalid: var(--ion-color-secondary);

  &.invalid {
    --jobgrader-knob-color: var(--jobgrader-knob-color-invalid);
  }
}

ion-range::part(tick) {
  background: var(--ion-color-secondary);
}

ion-range::part(tick-active) {
  background: var(--ion-color-secondary);
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--jobgrader-knob-color);
  color: black;
  font-size: 20px;

  border-radius: 50%;
  transform: scale(1.01);

  top: 14px;

  width: var(--knob-size);
  height: var(--knob-size);
  transition: transform 120ms ease, background 120ms ease;

  -webkit-box-shadow: var(--knob-box-shadow);
  box-shadow: var(--knob-box-shadow);
  pointer-events: none;
}

.helper-icon {
  font-size: 20px;
  padding-left: 10px;
  color: var(--ion-color-primary);
}

.last-row {
  padding-bottom: 30px;
}

.job-header-text {
  margin-left: 50px;
}