<div class="scroll-wrapper">
  <ion-header mode="ios">
    <div class="page-header">
      <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>

      <h3 class="page-title">{{ 'PROFILE.certificates' | translate }}</h3>
    </div>
  </ion-header>

  <div>
    <div class="page-content">
      <ion-grid class="ion-no-margin">
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-card class="ion-no-margin addDoc" (click)="addCertificate()">
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'CERTIFICATES.addCertificate' | translate }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let case of tntUseCaseList"
          >
            <ion-card
              class="ion-no-margin summy"
              [ngClass]="{ 'unavailable': !case.signatureHash }"
              (click)="showModal(case)"
              (press)="onPress($event, case)"
            >
              <ion-icon
                *ngIf="case.vc"
                class="badge"
                src="../../assets/icon/shield.svg"
              ></ion-icon>
              <ion-card-header>
                <div class="nav-item-icon">
                  <ion-img [src]="case.imageBlob"></ion-img>
                </div>
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ !!case.credentialSubjectRaw.companyName ?
                  case.credentialSubjectRaw.companyName : 'Demo' }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let car of carUseCaseList"
          >
            <ion-card class="ion-no-margin car" (click)="showCar(car)">
              <!-- <ion-icon class="badge" src="../../assets/icon/shield.svg"></ion-icon> -->
              <ion-card-header style="
                background-image: url({{car.credentialSubjectRaw.logo}});
                background-position: center;
                background-size: cover;
              ">
                <!-- <div class="nav-item-icon">
                  <ion-img [src]="car.credentialSubjectRaw.logo"></ion-img>
                </div> -->
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ car.credentialSubjectRaw.manufacturer }} {{
                  car.credentialSubjectRaw.model }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let ascl of assessmentCertificateList"
          >
            <ion-card class="ion-no-margin car" (click)="showAssessmentCertificate(ascl)">
              <ion-card-header style="
                background-image: url({{ascl.credentialSubjectRaw.badgeUrl}});
                background-position: center;
                background-size: cover;
                ">
                <!-- <div class="nav-item-icon">
                  <ion-img [src]="ascl.credentialSubjectRaw.badgeUrl"></ion-img>
                </div> -->
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ ascl.credentialSubjectRaw.name }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let assessmentEpnNft of assessmentEpnNfts"
          >
            <ion-card class="ion-no-margin car" (click)="showAssessmentNft(assessmentEpnNft)">
              <ion-card-header style="
                background-image: url({{assessmentEpnNft.image_uri}});
                background-position: center;
                background-size: cover;
                ">
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ assessmentEpnNft.name }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col
          size="6"
          class="ion-text-center"
          *ngFor="let assessmentGnosisNft of assessmentGnosisNfts"
        >
          <ion-card class="ion-no-margin car" (click)="showAssessmentNft(assessmentGnosisNft)">
            <ion-card-header style="
              background-image: url({{assessmentGnosisNft.image_uri}});
              background-position: center;
              background-size: cover;
              ">
            </ion-card-header>
            <ion-card-content>
              <span
                >{{ assessmentGnosisNft.name }}</span
              >
            </ion-card-content>
          </ion-card>
        </ion-col>

          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let linkedinCertificate of _Linkedin.user_certificates"
          >
            <ion-card class="ion-no-margin car">
              <!-- <ion-icon class="badge" src="../../assets/icon/shield.svg"></ion-icon> -->
              <ion-card-header>
                <div class="nav-item-icon">
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/640px-LinkedIn_logo_initials.png"></ion-img>
                </div>
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ linkedinCertificate.name }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let linkedinEducation of _Linkedin.user_education"
          >
            <ion-card class="ion-no-margin car">
              <!-- <ion-icon class="badge" src="../../assets/icon/shield.svg"></ion-icon> -->
              <ion-card-header>
                <div class="nav-item-icon">
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/640px-LinkedIn_logo_initials.png"></ion-img>
                </div>
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ linkedinEducation.degreeName }}, {{ linkedinEducation.fieldOfStudy }} &#64; {{ linkedinEducation.schoolName }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col
            size="6"
            class="ion-text-center"
            *ngFor="let linkedinLanguage of _Linkedin.user_languages"
          >
            <ion-card class="ion-no-margin car">
              <!-- <ion-icon class="badge" src="../../assets/icon/shield.svg"></ion-icon> -->
              <ion-card-header>
                <div class="nav-item-icon">
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/640px-LinkedIn_logo_initials.png"></ion-img>
                </div>
              </ion-card-header>
              <ion-card-content>
                <span
                  >{{ linkedinLanguage.name }}: {{ linkedinLanguage.proficiency }}</span
                >
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <ion-list *ngIf="displayMoreButton" class="moreButtonPlace">
      <ion-icon
        *ngIf="moreMode"
        button
        class="moreButton"
        src="../assets/icon/chevron-down-outline.svg"
        (click)="toggleMore()"
      ></ion-icon>
      <ion-icon
        *ngIf="!moreMode"
        button
        class="moreButton"
        src="../assets/icon/chevron-forward-outline.svg"
        (click)="toggleMore()"
      ></ion-icon>
    </ion-list>
    <ion-list *ngIf="moreMode">
      <!-- <ion-card *ngFor="let case of tntUseCaseList">
    <ion-card-content>
      <span style="float:left; width: 70%; padding: 10px;">{{ case.prover }}</span>
      <span style="float:right; width: 30%;">
        <ion-button *ngIf="!case.credentialValues.approved" (click)="verify(case)">Verify</ion-button>
        <ion-button *ngIf="case.credentialValues.approved" color="success" (click)="showQR(case)">{{ case.buttonText }}</ion-button>
      </span>
      <div *ngIf="case.qrDisplay" style="text-align: center; width: 50%;">
        <qrcode elementType="url" [qrdata]="qrValue"></qrcode>
      </div>
    </ion-card-content>
  </ion-card> -->
      <div class="buttons">
        <div
          class="button show-button ion-activatable"
          (click)="showSecureStorage()"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{'CERTIFICATES.showSecureStorage' | translate}}
        </div>
      </div>
      <div class="buttons">
        <div
          class="button show-button ion-activatable"
          (click)="showSecureStorageMedia()"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{'CERTIFICATES.showSecureMedia' | translate}}
        </div>
      </div>
      <div class="buttons">
        <div class="button clear-button ion-activatable" (click)="clear()">
          <ion-ripple-effect></ion-ripple-effect>{{'CERTIFICATES.clearStorage' |
          translate}}
        </div>
      </div>
      <br /><br />
    </ion-list>
  </div>
</div>
<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
