<ion-header mode="ios" class="ion-no-border">
    <div class="page-header"></div>
  </ion-header>

<ion-content [forceOverscroll]="false">

    <div class="ion-padding" class="profile-content">
      <div style="text-align: left;">
        <h1 class="welcome-title">{{ 'WEB3WALLET.STEP2-1.heading' | translate }}</h1>
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                  <div class="circle">
                    1
                  </div>
                </ion-col>
                <ion-col size="10">
                    <div style="padding-bottom: 5px;"> <strong>{{ 'WEB3WALLET.STEP2-1.education-body-1' | translate }}</strong> </div>
                    <div> {{ 'WEB3WALLET.STEP2-1.education-text-1' | translate }} </div>
                    <ol style="display: initial;">
                        <li> {{ 'WEB3WALLET.STEP2-1.education-text-1-option-1.part1' | translate }}<strong>Verified Wallet</strong>{{ 'WEB3WALLET.STEP2-1.education-text-1-option-1.part2' | translate }}</li>
                        <!-- <li> {{ 'WEB3WALLET.STEP2-1.education-text-1-option-2.part1' | translate }}<strong>Unverified Wallet</strong>{{ 'WEB3WALLET.STEP2-1.education-text-1-option-2.part2' | translate }} </li> -->
                    </ol>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2">
                  <div class="circle">
                    2
                  </div>
                </ion-col>
                <ion-col size="10">
                    <div style="padding-bottom: 5px;"> <strong>{{ 'WEB3WALLET.STEP2-1.education-body-2' | translate }}</strong> </div>
                    <div> {{ 'WEB3WALLET.STEP2-1.education-text-2' | translate }} </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2">
                  <div class="circle">
                    3
                  </div>
                </ion-col>
                <ion-col size="10">
                    <div style="padding-bottom: 5px;"> <strong>{{ 'WEB3WALLET.STEP2-1.education-body-3' | translate }}</strong> </div>
                    <div> {{ 'WEB3WALLET.STEP2-1.education-text-3' | translate }} </div>
                </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="page-footer">
      <div class="buttons">
        <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'VERIFICATION.reject' | translate }}</div>
        <div class="button-submit ion-activatable" (click)="confirm()"><ion-ripple-effect></ion-ripple-effect>{{ 'VERIFICATION.accept' | translate }}</div>
      </div>
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
      <!-- <div class="page-footer">
        <div class="buttons">
          <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'VERIFICATION.reject' | translate }}</div>
          <div class="button-submit ion-activatable" (click)="confirm()"><ion-ripple-effect></ion-ripple-effect>{{ 'VERIFICATION.accept' | translate }}</div>
        </div>
      </div> -->
  </ion-footer>
