@import "../../../../../theme/index";

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  font-size: var(--design-guidelines-modal-window);
  ul {
    font-size: var(--design-guidelines-modal-window);
    margin-right: 16px;
    ::ng-deep strong, ::ng-deep b {
        font-family: "Jost Bold", Helvetica, sans-serif;
    }
  }
}

.heading {
  text-align: center; 
  font-size: var(--design-guidelines-modal-window);
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    font-size: var(--design-guidelines-button);
    border-radius: 8px;
    width: 100%;
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
 }

}