<ng-container *ngIf="data && data.showAsInfoPage && !data.showCoupons">
  <ion-card transparent class="infoPageCard">
    <img [src]="data.img" />
    <div class="inner-scrolly">
      <p class="proto-text">{{ data.title }}</p>
      <p class="proto-text">{{ data.body }}</p>
    </div>
    <div class="buttons">
      <div class="button close-button ion-activatable" (click)="close()">
        <ion-ripple-effect></ion-ripple-effect>
        {{ data.buttonText }}
      </div>
    </div>
  </ion-card>
</ng-container>

<ng-container *ngIf="data && !data.showAsInfoPage && data.showCoupons">
  <ion-card transparent class="infoPageCard">
    <div class="ion-text-right">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    <img [src]="data.img" />
    <div class="inner-scrolly">
      <p class="proto-text">{{ data.title }}</p>
      <p class="proto-text coupon-body">
        {{ data.body }}
      </p>
    </div>
    <div class="buttons">
      <div
        class="button close-button ion-activatable"
        (click)="copyCoupons(data.body, data.url)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        {{ data.buttonText }}
      </div>
    </div>
  </ion-card>
</ng-container>

<ng-container *ngIf="data && !data.showAsInfoPage && !data.showCoupons">
  <ion-card transparent>
    <ion-toolbar>
      <ion-title>{{ data.header }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">{{ data.close }}</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card-title *ngIf="data.media.length > 0 && !editMode">
      <ion-row>
        <ion-col size="6"
          ><div class="timestamp">
            {{ variableTimestamp | date : "dd.MM.yyyy" }}
          </div></ion-col
        >
        <ion-col size="6"
          ><div class="timestamp2">
            {{ variableTimestamp | date : "HH:mm:ss" }}
          </div></ion-col
        >
      </ion-row>
      <ion-slides [pager]="true" [options]="sliderOptions">
        <ion-slide *ngFor="let med of data.media; let indice = index">
          <img [src]="med" (click)="uploadImages(indice, med)"/>
          <!-- <img class="rotateImage" [src]="med"> -->
        </ion-slide>
      </ion-slides>
    </ion-card-title>

    <ion-card-content>
      <div class="buttons" *ngIf="!resetDeleteMode">
        <div
          class="button button--inactive ion-activatable"
          *ngIf="!editMode"
          (click)="edit(data.documentType)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "PERSONALDETAILS.edit" | translate }}
        </div>
        <div
          class="button cancel-button ion-activatable"
          *ngIf="editMode"
          (click)="cancel()"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "SETTINGS.cancel" | translate }}
        </div>
        <div
          class="button verify-button ion-activatable"
          *ngIf="!editMode"
          (click)="
          showVerificationOptions()
          "
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "PERSONALDETAILS.verify" | translate }}
        </div>
        <div
          class="button save-button ion-activatable"
          *ngIf="editMode"
          (click)="save()"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "PERSONALDETAILS.save" | translate }}
        </div>
      </div>
      <div class="buttons" *ngIf="resetDeleteMode">
        <div class="button edit-button ion-activatable" (click)="renew()">
          <ion-ripple-effect></ion-ripple-effect
          >{{ "PERSONALDETAILS.renew" | translate }}
        </div>
        <div class="button verify-button ion-activatable" (click)="delete()">
          <ion-ripple-effect></ion-ripple-effect
          >{{ "PERSONALDETAILS.delete" | translate }}
        </div>
      </div>
      <br />
      <div class="content">
        <form [formGroup]="editForm">
          <div class="title">
            {{ "SIGNSTEPEIGHT.documentNumber" | translate }}
          </div>
          <div class="value" *ngIf="!editMode">
            <span style="float: left">
              {{ data.number }}
            </span>
            <span style="float: right">
              <field-lock [property1]="data.numberStatus"></field-lock>
            </span>
            <br />
          </div>
          <div class="value input" *ngIf="editMode">
            <input
              class="input__field"
              type="text"
              placeholder=" "
              name="number"
              formControlName="number"
            />
          </div>
          <br *ngIf="!editMode" />

          <div class="title">{{ "SIGNSTEPEIGHT.issueDate" | translate }}</div>
          <div class="value" *ngIf="!editMode">
            <span style="float: left">
              {{ data.issuedate | date : "dd.MM.yyyy" }}
            </span>
            <span style="float: right">
              <field-lock [property1]="data.issuedateStatus"></field-lock>
            </span>
            <br />
          </div>

          <div
            class="value proto-item menu-item-select pure-select ion-activatable"
            id="document-date-modal-one"
            *ngIf="editMode"
          >
            <span class="checkmark"></span>
            <span style="float: right"> {{ saveObject.issuedate | date:'dd.MM.yyyy'}}</span>
            <ion-ripple-effect></ion-ripple-effect>
            <ion-modal
              [trigger]="'document-date-modal-one'"
              style="background: transparent"
              backdropDismiss="true"
            >
              <ng-template>
                <ion-content>
                  <ion-datetime
                  color="rose"
                  (ionChange)="dateTimeManager1($event)"
                  presentation="date"
                  [locale]="timesService.currentLang === 'de' ? 'de-DE':'en-US'  "
                  showDefaultButtons="true"
                  mode="ios"
                  size="cover"
                  displayFormat="D MMM YYYY"
                  min="1922"
                  [max]="timesService.today"
                  [cancelText]="'GENERAL.cancel' | translate"
                  [doneText]="'GENERAL.choose' | translate"
                  [value]="saveObject.issuedate"
                  name="issuedate"
                  formControlName="issuedate"
                  ></ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
          <br *ngIf="!editMode" />

          <div class="title">{{ "SIGNSTEPEIGHT.expiryDate" | translate }}</div>
          <div class="value" *ngIf="!editMode">
            <span style="float: left">
              {{ data.expirydate | date : "dd.MM.yyyy" }}
            </span>
            <span style="float: right">
              <field-lock [property1]="data.expirydateStatus"></field-lock>
            </span>
            <br />
          </div>
          <div
            class="value proto-item menu-item-select pure-select ion-activatable"
            id="document-date-modal-two"
            *ngIf="editMode"
          >
          <span class="checkmark"></span>
          <span style="float: right"> {{ saveObject.expirydate | date:'dd.MM.yyyy'}}</span>
            <ion-ripple-effect></ion-ripple-effect>
            <ion-modal
              [trigger]="'document-date-modal-two'"
              style="background: transparent"
              backdropDismiss="true"
            >
              <ng-template>
                <ion-content>
                  <ion-datetime
                  color="rose"
                  (ionChange)="dateTimeManager2($event)"
                  presentation="date"
                  [locale]="timesService.currentLang === 'de' ? 'de-DE':'en-US'  "
                  showDefaultButtons="true"
                  mode="ios"
                  size="cover"
                  displayFormat="D MMM YYYY"
                  min="1922"
                  [max]="2099 - 10 - 31"
                  [cancelText]="'GENERAL.cancel' | translate"
                  [doneText]="'GENERAL.choose' | translate"
                  [value]="saveObject.expirydate"
                  name="expirydate"
                  formControlName="expirydate"
                  ></ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>

          <br *ngIf="!editMode" />

          <div class="title">
            {{ "SIGNSTEPEIGHT.issueCountry" | translate }}
          </div>
          <div class="value" *ngIf="!editMode">
            <span style="float: left">
              {{ processCountryDisplay(data.issuecountry) }}
            </span>
            <span style="float: right">
              <field-lock [property1]="data.issuecountryStatus"></field-lock>
            </span>
            <br />
          </div>

          <div
            class="value proto-item menu-item-select pure-select ion-activatable"
            *ngIf="editMode"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <ion-select
              mode="ios"
              id="select-flag-6"
              class="select"
              formControlName="issuecountry"
              [okText]="'GENERAL.choose' | translate"
              [cancelText]="'GENERAL.cancel' | translate"
              [placeholder]="''"
            >
              <ion-select-option
                [value]="country.code3"
                *ngFor="let country of countryList"
                >{{ country.countryTranslateKey | translate }}
              </ion-select-option></ion-select
            >
          </div>
          <br *ngIf="!editMode" />
          <div
            class="qr-container"
            *ngIf="vcQrCodeValue.length > 0 && !editMode && vcToggleView"
          >
            
            <div class="qr-code-container">
              <qrcode
                cssClass="qr-code"
                elementType="url"
                [qrdata]="vcQrCodeValue[0]"
              >
              </qrcode>
            </div>
            <ion-icon
              style="font-size: 30px; padding-top: 15px"
              name="share-outline"
              (click)="saveAsFile('vc')"
            ></ion-icon>
          </div>
          <!-- <div
            class="qr-container"
            *ngIf="vpQrCodeValue.length > 0 && !editMode && vpToggleView"
          >
            
            <div class="qr-code-container">
              <qrcode
                cssClass="qr-code"
                elementType="url"
                [qrdata]="vpQrCodeValue[0]"
              >
              </qrcode>
            </div>
            <ion-icon
              style="font-size: 30px; padding-top: 15px"
              name="share-outline"
              (click)="saveAsFile('vp')"
            ></ion-icon>
          </div> -->
          <!-- <div class="buttons" *ngIf="vcQrCodeValue.length > 0 && !editMode">
            <div
              class="button edit-button ion-activatable"
              (click)="showActionSheet('vc')"
            >
              <ion-ripple-effect></ion-ripple-effect
              >{{ "CERTIFICATES.shareVC" | translate }}
            </div>
            <div
              class="button verify-button ion-activatable"
              (click)="showActionSheet('vp')"
            >
              <ion-ripple-effect></ion-ripple-effect
              >{{ "CERTIFICATES.shareVP" | translate }}
            </div>
          </div> -->
          <br *ngIf="vcQrCodeValue.length > 0 && !editMode" />
          <div class="title" *ngIf="editMode">
            {{ "KYC.EDIT_DISCLAIMER" | translate }}
          </div>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ng-container>
