@import "../../../theme/index";

.rotateImage {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.infoPageCard {
  max-height: 75%;
  position: absolute;
  bottom: calc(env(safe-area-inset-bottom) + 20px);
  align-self: baseline;
  border: 1px solid var(--ion-border-color);

  img {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 30%;
  }
  .inner-scrolly {
    padding: 16px;
    overflow-y: scroll;

    .proto-text {
      color: var(--ion-text-color);
    }

    .coupon-body {
      font-size: 30px; 
      text-align: center;
    }
  }

  .buttons {
    padding: 16px !important; 

    .close-button {    
      width: 100% !important;
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: var(--design-guidelines-button);
    }
  }
}

ion-card {
  margin-top: 10%;
  background-color: var(--ion-background-color);
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: -webkit-fill-available;
}

ion-toolbar {
  padding-top: 20px;
}

.buttons {
  display: flex;
  padding: 15px 15px 0;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    border-radius: 8px;
    width: 48%;

    &--inactive {
      pointer-events: none;
      background: var(--ion-color-primary-tint);
      border: 1px solid var(--ion-color-primary-tint);
      font-size: var(--design-guidelines-button);
    }
    &--disabled {
      pointer-events: none;
      background: #D7D7D7;
      border: 1px solid #D7D7D7;
    }
    &--cancel {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
      &:active {
        background: var(--ion-color-secondary-tint);
        border: 2px solid var(--ion-color-secondary-tint);
      }
    }
  }

  .edit-button, .save-button {
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
    font-size: var(--design-guidelines-button);
  }

  .verify-button, .cancel-button {
    background: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-light);
    font-size: var(--design-guidelines-button);
  }
}

  ion-card-content{ 
    background-color: var(--ion-background-color);
    padding: 10px;
      .title {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: var(--design-guidelines-modal-window);
      }
      .value {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 20px;
      }
    
  }
  

field-lock {
  display: block;
  position: relative;
}

tooltip-box {
    position: relative;
    display: block;
    z-index: 99;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}


ion-select{
  --color: var(--ion-text-color);
  --background: var(--ion-background-color);
}

ion-input {
  margin-left: 10px;
}

.qr-container {

  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-timeout {
    text-align: center;
  }
}

.qr-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid var(--ion-text-color);
  background: #fff;
  width: 75vw;
  height: 75vw;

  // @media (max-height: 568px) {
  //   width: 25vw;
  //   height: 25vw;
  // }

}

.qr-code {
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 2s linear;

  &.is-hidden {
    opacity: 0;
  }
}

.input, .menu-item-select {
  // margin: 5px 5px 5px 5px;
  width: 100%;
  &__field {
    margin: 10px 0 10px 0;
    margin-top: 0;
    font-size: 16px;
    padding: 5px;
    padding-left: 0;
    display: block;
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--ion-text-color);
    border-radius: 0;
    background-color: transparent !important;
    outline: none;
    &:focus~label,
    &:not(:placeholder-shown)~label {
      top: -10px;
      font-size: 12px;
    }
    &:focus~.bar:after,
    &:focus~.bar:before {
      width: 50%;
    }
    :focus~.highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }
}

.section_divider  {
  ion-label {
    font-weight: bold !important;
    margin-top: 10px !important;
    // margin-bottom: 20px !important;
    font-size: 18px !important;
  }
}

.pure-select {
  ion-label {
    top: 0;
  }
}

.proto-item.menu-item-select {
  ion-label {
    position: absolute;
    left: 0;
  }
  margin-right: 0 !important;
}

.menu-item-select {
  display: flex;
  flex-direction: row;
  padding: 0;
  font-size: 20px;
  letter-spacing: 0.1px;
  height: 38px;
  position: relative;
  margin: 10px 10px 8px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--ion-text-color);

  .checkmark {  
    right: 5px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: currentColor;
    opacity: .33;
    pointer-events: none;
  }

  ion-datetime {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    text-align: right;
    --padding-start: 50%;
    --padding-bottom: 5px;
    --text-align: right;
  }

}

.timestamp {
  position: relative;
  bottom: 4px;
  z-index: 10 * 100000000000;
  font-size: 25px;
  color: var(--ion-color-primary);
  background: var(--ion-color-light);
  // background: rgba(209, 210, 211, 0.5);
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  padding: 5px;
  // left: 10px;
  // width: 150px;
  text-align: center;
}

.timestamp2 {
  position: relative;
  bottom: 4px;
  z-index: 10 * 100000000000;
  font-size: 25px;
  color: var(--ion-color-primary);
  background: var(--ion-color-light);
  // background: rgba(209, 210, 211, 0.5);
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  padding: 5px;
  // right: 10px;
  // width: 150px;
  text-align: center;
}

ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}
ion-modal ion-datetime {
  height: 382px;
}