<ion-content class="no-header-content">

  <div class="page-content">
    <!-- <div class="cards" *ngIf="jobs.length > 0 && !allDone; else emptyTemplate">
      @for (job of jobs; track trackByData; let i = $index) {
        <div class="card" #card [style.zIndex]="jobs.length - i" id="{{'card-'+i}}">
          <ion-card>
            <ion-card-content>
              <img src="{{job.photo}}" alt="">
            </ion-card-content>

            <ion-grid class="card-footer">
              <ion-row>
                <ion-col class="ion-text-center ion-no-padding">
                  <h2 class="ion-no-margin label">{{job.name}}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-no-padding">
                  <div class="ion-no-margin ">
                    @for (value of [1,2,3,4,5]; track value) {
                      <ion-icon [name]="job?.rate && value <= job?.rate ? 'star' : 'star-outline'" size="large" (click)="rate(value, i)" [color]="job?.rate && value <= job?.rate ? 'secondary' : ''"></ion-icon>
                    }
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      }
    </div> -->

    <canvas #canvas id="canvas" style="margin: 0 auto; width: 100vw"></canvas>
    <video #video id="video" playsinline style="display: none"></video>
    <pre #fps id="status" style="position: absolute; top: 12px; right: 20px; font-size: 10px; background-color: grey; padding: 8px; box-shadow: 2px 2px black"></pre>
    <pre #log id="log" style="padding: 8px" [hidden]="true"></pre>
    <div #perf id="performance" style="position: absolute; bottom: 0; width: 100%; padding: 8px; font-size: 0.8rem;"></div>

    <!-- <ng-template #emptyTemplate>
      <div class="center" *ngIf="allDone">
        <ion-icon name="checkmark-circle" color="primary"></ion-icon>
        <br>
        <ion-note class="all-done">All Done!</ion-note>
      </div>
    </ng-template> -->
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!allDone" id="click-trigger">
    <ion-fab-button size="small" class="fab-button">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <app-popover-content class="popover">{{ 'HUMANAI.info' | translate}}</app-popover-content>
    </ng-template>
  </ion-popover>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>