<ion-header mode="ios" class="ion-no-border">
    <div class="page-header"></div>
</ion-header>

<ion-content [forceOverscroll]="false">

    <div class="ion-padding" class="profile-content">
        <div style="text-align: left;">
            <h1 class="welcome-title">{{ 'WEB3WALLET.STEP2.backup-heading' | translate }}</h1>
            <h3 class="access-message">
                {{ 'WEB3WALLET.STEP2.backup-body-0' | translate }}
            </h3>
            <ion-list>
                <ion-item>
                    <ion-label>{{ 'WEB3WALLET.STEP2.backup-body-1' | translate }}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="legal1" (ionChange)="updateLegalCheckbox()"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'WEB3WALLET.STEP2.backup-body-2' | translate }}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="legal2" (ionChange)="updateLegalCheckbox()"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'WEB3WALLET.STEP2.backup-body-3' | translate }}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="legal3" (ionChange)="updateLegalCheckbox()"></ion-checkbox>
                </ion-item>
            </ion-list>

            <h3 class="access-message">
                {{ 'WEB3WALLET.STEP2.backup-tc-1' | translate }} <a [href]="tncURL" target="_blank">{{
                    'WEB3WALLET.STEP2.backup-tc-2' | translate }}</a> {{ 'WEB3WALLET.STEP2.backup-tc-3' | translate }}
            </h3>

            <h1 class="welcome-title">{{ 'WEB3WALLET.STEP2.education-heading' | translate }}</h1>
            <h3 class="access-message">
                {{ 'WEB3WALLET.STEP2.education-body-0' | translate }}
            </h3>
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">1</div>
                    </ion-col>
                    <ion-col size="10" style="font-size: var(--design-guidelines-body);">{{
                        'WEB3WALLET.STEP2.education-body-1' | translate }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">2</div>
                    </ion-col>
                    <ion-col size="10" style="font-size: var(--design-guidelines-body);">{{
                        'WEB3WALLET.STEP2.education-body-2' | translate }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">3</div>
                    </ion-col>
                    <ion-col size="10" style="font-size: var(--design-guidelines-body);">{{
                        'WEB3WALLET.STEP2.education-body-3' | translate }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">4</div>
                    </ion-col>
                    <ion-col size="10" style="font-size: var(--design-guidelines-body);">{{
                        'WEB3WALLET.STEP2.education-body-4' | translate }}</ion-col>
                </ion-row>
            </ion-grid>


            <h3 class="access-message">
                {{ 'WEB3WALLET.STEP2.education-ps' | translate }} <a
                    href="https://teambchx.medium.com/krypto-1x1-der-sicherheit-689103cb8d0d" target="_blank">{{
                    'WEB3WALLET.STEP2.education-medium' | translate }}</a>.
            </h3>
        </div>
        <div style="text-align: left;">

            <!-- <ion-list>
            <ion-item>
                <ion-label style="white-space: break-spaces;">{{ 'WEB3WALLET.STEP2.backup-body-1' | translate }}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="legal1" (ionChange)="updateLegalCheckbox()"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label style="white-space: break-spaces;">{{ 'WEB3WALLET.STEP2.backup-body-2' | translate }}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="legal2" (ionChange)="updateLegalCheckbox()"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label style="white-space: break-spaces;">{{ 'WEB3WALLET.STEP2.backup-body-3' | translate }}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="legal3" (ionChange)="updateLegalCheckbox()"></ion-checkbox>
            </ion-item>
        </ion-list> -->



            <h1 class="welcome-title">{{ 'WEB3WALLET.STEP2-1.heading' | translate }}</h1>
            <h3 class="access-message">
                {{
                'WEB3WALLET.STEP2-1.education-body-1' | translate
                }} <br><br> {{ 'WEB3WALLET.STEP2-1.education-text-1'
                | translate }}
            </h3>
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">
                            1
                        </div>
                    </ion-col>
                    <ion-col size="10">

                        <div style="font-size: var(--design-guidelines-body);"> {{
                            'WEB3WALLET.STEP2-1.education-text-1-option-1.part1' | translate }}<strong>Verified
                                Wallet</strong>{{ 'WEB3WALLET.STEP2-1.education-text-1-option-1.part2' | translate }}
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">
                            2
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div style="padding-bottom: 5px; font-size: var(--design-guidelines-body);"> <strong>{{
                                'WEB3WALLET.STEP2-1.education-body-2' | translate }}</strong> </div>
                        <div style="font-size: var(--design-guidelines-body);"> {{ 'WEB3WALLET.STEP2-1.education-text-2'
                            | translate }} </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">
                        <div class="circle">
                            3
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div style="padding-bottom: 5px; font-size: var(--design-guidelines-body);"> <strong>{{
                                'WEB3WALLET.STEP2-1.education-body-3' | translate }}</strong> </div>
                        <div style="font-size: var(--design-guidelines-body);"> {{ 'WEB3WALLET.STEP2-1.education-text-3'
                            | translate }} </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="page-footer">
        <div class="buttons">
            <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{
                'VERIFICATION.reject' | translate }}</div>
            <div class="button-submit ion-activatable" (click)="confirm()"
                [ngClass]="{ 'button-submit--inactive': !activateButton }"><ion-ripple-effect></ion-ripple-effect>{{
                'VERIFICATION.accept' | translate }}</div>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <!-- <div class="page-footer">
        <div class="buttons">
          <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'VERIFICATION.reject' | translate }}</div>
          <div class="button-submit ion-activatable" (click)="confirm()" [ngClass]="{ 'button-submit--inactive': !activateButton }"><ion-ripple-effect></ion-ripple-effect>{{ 'VERIFICATION.accept' | translate }}</div>
        </div>
      </div> -->
</ion-footer>