ion-item {
  --border-color: var(--ion-background-color);
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 12.5px;
}

.backg {
  background: var(--ion-background-color);
  width: -webkit-fill-available;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: var(--design-guidelines-modal-window);
}

.heading {
  margin: 25px 0;
  text-align: center;
  font-size: var(--design-guidelines-modal-window);
}

.avatar {
  width: 100px;
  height: 100px;
  // margin: 25px;
  // text-align: center;
  margin-left: 33%;
}

.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.contact-add-modal-button {
  width: 100%;
    min-width: 0;
  margin: 5px;
  background: var(--ion-color-primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid transparent;
  &--disabled {
      border: 2px solid grey;
        color: grey;
        background: transparent;
  }
}
