<div class="backg">
  <h1 class="heading">
    {{ 'WALLET.networkAlert.header' | translate }}
  </h1>

  <div class="ion-padding ion-text-center">
    {{ 'WALLET.networkAlert.message' | translate }}
  </div>

  <div class="ion-text-right" style="padding-right: 20px">
    <ion-icon name="information-circle-outline" style="font-size: 20px;"  (click)="tooltipEventInformation()"></ion-icon>
  </div>

  <div class="ion-text-center" style="padding-bottom: 20px">
    <ion-radio-group (ionChange)="changeDefaultNetwork($event)" [value]="defaulNetwork">
      <ion-item *ngFor="let network of data.allowableNetworks">
        <ion-radio slot="start" mode="md" [value]="network.value"></ion-radio>
        <img *ngIf="network.image" [src]="network.image" style="width: 40px;"/>
        <ion-label style="padding-left: 10px;">{{ network.name }} ({{ network.currency }})</ion-label>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="button-container">
    <div class="contact-add-modal-button contact-add-modal-button--disabled" style="height: 38px;" (click)="cancel()">
      {{ 'WALLET.cancel' | translate }}
    </div>
    <div class="contact-add-modal-button" style="height: 38px; color: white;" (click)="add()">
      {{ 'WALLET.connect' | translate }}
    </div>
  </div>
  
</div>
