<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'VC_VALIDATION.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{'LEGALDOCUMENTS.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <div>
        <div class="title">{{ 'VC_VALIDATION.QUESTION1' | translate }}</div>
          <div class="value">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  {{ returnEmoji(vcMatchData.bool) }}
                </ion-col>
                <ion-col size="10">
                  {{ vcMatchData.value }}
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
          </div>
        <br>   
      </div>
      <div>
        <div class="title">{{ 'VC_VALIDATION.QUESTION2' | translate }}</div>
          <div class="value">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  {{ returnEmoji(issuerData.bool) }}
                </ion-col>
                <ion-col size="10" *ngIf="!!issuerData.real_name" (click)="openDidResolver($event, issuerData.value)">
                  {{ issuerData.real_name }} <br>{{ issuerData.value }}
                </ion-col>
                <ion-col size="10" *ngIf="!issuerData.real_name" (click)="openDidResolver($event, issuerData.value)">
                  {{ issuerData.value }}
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
          </div>
        <br>   
      </div>
      <div>
        <div class="title">{{ 'VC_VALIDATION.QUESTION3' | translate }}</div>
          <div class="value">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  {{ returnEmoji(holderData.bool) }}
                </ion-col>
                <ion-col size="10" (click)="openDidResolver($event, holderData.value)">
                  {{ holderData.value }}
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
          </div>
        <br>   
      </div>
      <div>
        <div class="title">{{ 'VC_VALIDATION.QUESTION4' | translate }}</div>
          <div class="value">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  {{ returnEmoji(expiryData.bool) }}
                </ion-col>
                <ion-col size="10">
                  {{ 'CERTIFICATES.keys.expiryDate' | translate }}: <br>
                  {{ returnDate(expiryData.value) }}
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
          </div>
        <br>   
      </div>
    </div>
    
  </ion-card-content>

  
</ion-card>