<ion-card transparent>
  <ion-toolbar>
    <ion-title *ngIf="carIdentity"> Car Identity </ion-title>
    <ion-title
      *ngIf="
        !data.input.signatureHash && data.input.credentialValues && !carIdentity
      "
    >
      {{ "CERTIFICATES.requestFrom" | translate }}
      <div class="topper">
        {{ data.input.credentialSubjectRaw.companyName || "Demo" }}
      </div>
    </ion-title>
    <ion-title *ngIf="!data.input.credentialValues && !carIdentity">
      Certificate from
      <div class="topper">
        {{ data.input.verifier }}
      </div>
    </ion-title>
    <ion-title
      *ngIf="
        data.input.signatureHash &&
        data.input.credentialValues.approved &&
        !carIdentity
      "
    >
      {{ "CERTIFICATES.confirmed" | translate }}
      <div class="topper">
        {{ data.input.credentialSubjectRaw.companyName || "Demo" }}
      </div>
    </ion-title>
    <ion-title
      *ngIf="
        data.input.signatureHash &&
        !data.input.credentialValues.approved &&
        !carIdentity
      "
    >
      {{ "CERTIFICATES.rejected" | translate }}
      <div class="topper">
        {{ data.input.credentialSubjectRaw.companyName || "Demo" }}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "CERTIFICATES.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-title>
    <div class="profile">
      <ion-avatar class="header-avatar" *ngIf="!carIdentity">
        <img #profileImg [src]="imageUrl" alt="" />
        <ion-icon
          *ngIf="data.input.vc"
          class="badge"
          src="../../assets/icon/shield.svg"
        ></ion-icon>
      </ion-avatar>
      <div
        style="text-align: center; margin-top: -80px; zoom: 80%"
        *ngIf="carIdentity"
      >
        <img #profileImg [src]="imageUrl" />
      </div>
    </div>
    <div class="subheader" *ngIf="!carIdentity">
      {{ "CERTIFICATES.for" | translate }}<br />{{
        "CERTIFICATES." + purpose | translate
      }}
    </div>
  </ion-card-title>
  <ion-card-content>
    <br />
    <div class="content" *ngIf="!!data.input.credentialValues">
      <div *ngFor="let data_ of displayItems">
        <div class="title">
          {{ ("CERTIFICATES.keys." + data_.key | translate) || data_.key }}
        </div>
        <div class="value" (press)="copyParameter($event, data_.key, data_.value)">
          <span style="float: left; display: contents">
            {{ data_.value }}
          </span>
          <br />
        </div>
        <br />
      </div>
    </div>
    <div class="content" *ngIf="!data.input.credentialValues">
      <div *ngFor="let data_ of displayItems">
        <div class="title">{{ data_.key }}</div>
        <div class="value" (press)="copyParameter($event, data_.key, data_.value)">
          <span style="float: left; display: contents">
            {{ data_.value }}
          </span>
          <br />
        </div>
        <br />
      </div>
    </div>
    <div class="qr-container" *ngIf="!!qrCodeValue">
      {{ qrCodeValue.heading }}
      <div class="qr-code-container">
        <qrcode
          cssClass="qr-code"
          elementType="url"
          [qrdata]="qrCodeValue.value"
        ></qrcode>
      </div>
      <ion-icon
          style="font-size: 30px; padding-top: 15px"
          name="share-outline"
          (click)="saveAsFile(qrCodeValue.heading)"
        ></ion-icon>
    </div>
    <div *ngIf="data.input.credentialValues && !carIdentity">
      <div
        class="buttons"
        *ngIf="
          !data.input.signatureHash &&
          !data.input.credentialValues.nda &&
          !data.input.credentialValues.medicalDocument
        "
      >
        <div
          class="button accept-button ion-activatable"
          (click)="processRequest(data.input, true)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.acceptSignature" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="
          !data.input.signatureHash &&
          !data.input.credentialValues.nda &&
          !data.input.credentialValues.medicalDocument
        "
      >
        <div
          class="button reject-button ion-activatable"
          (click)="processRequest(data.input, false)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.reject" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="!data.input.signatureHash && data.input.credentialValues.nda"
      >
        <div
          class="button accept-button ion-activatable"
          (click)="processNda(data.input, false)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.viewNDA" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="!data.input.signatureHash && data.input.credentialValues.nda"
      >
        <div
          class="button reject-button ion-activatable"
          (click)="processNda(data.input, true)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.signNDA" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="data.input.signatureHash && data.input.credentialValues.nda"
      >
        <div
          class="button reject-button ion-activatable"
          (click)="processNda(data.input, false)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.viewSignedNDA" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="
          !data.input.signatureHash &&
          data.input.credentialValues.medicalDocument
        "
      >
        <div
          class="button accept-button ion-activatable"
          (click)="processNda(data.input, false)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.viewMedicalCertificate" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="
          !data.input.signatureHash &&
          data.input.credentialValues.medicalDocument
        "
      >
        <div
          class="button reject-button ion-activatable"
          (click)="processNda(data.input, true)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.signMedicalCertificate" | translate }}
        </div>
      </div>
      <div
        class="buttons"
        *ngIf="
          data.input.signatureHash &&
          data.input.credentialValues.medicalDocument
        "
      >
        <div
          class="button reject-button ion-activatable"
          (click)="processNda(data.input, false)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.viewSignedMedicalCertificate" | translate }}
        </div>
      </div>
      <div class="buttons" *ngIf="data.input.vc && data.input.vp">
        <div
          *ngIf="data.input.vc"
          class="button button--half share-button ion-activatable"
          (click)="shareCredentials(data.input, 'vc')"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.shareVC" | translate }}
        </div>
        <div
          *ngIf="data.input.vp"
          class="button button--half reject-button ion-activatable"
          (click)="shareCredentials(data.input, 'vp')"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.shareVP" | translate }}
        </div>
      </div>
      <div class="buttons" *ngIf="data.input.signatureHash">
        <div
          class="button share-button ion-activatable"
          (click)="shareCredentials(data.input, 'signatureHash')"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.share" | translate }}
        </div>
      </div>
    </div>
    <div *ngIf="!data.input.credentialValues && !carIdentity">
      <div class="buttons">
        <div
          class="button share-button ion-activatable"
          (click)="saveCredentials(data.input)"
        >
          <ion-ripple-effect></ion-ripple-effect>Save Certificate
        </div>
      </div>
    </div>

    <div *ngIf="carIdentity">
      <div class="buttons">
        <div
          class="button button--half reject-button ion-activatable"
          (click)="deleteCarData(data.input)"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.delete" | translate }}
        </div>
        <div
          class="button button--half share-button ion-activatable"
          (click)="shareCredentials(data.input, 'vc')"
        >
          <ion-ripple-effect></ion-ripple-effect
          >{{ "CERTIFICATES.proof" | translate }}
        </div>
      </div>
    </div>

    <br />
  </ion-card-content>
</ion-card>
