ion-grid {
    padding-left: 10px;
    padding-right: 10px;
}

ion-button {
    min-height: 100px;
}

ion-icon {
    margin-bottom: 10px;
}

.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expand {
    height: 100%;
}

.flex-container {
    display: flex;
}

.qr-code {
    display: flex;
}

.buttons {
    display: flex;
    background-color: var(--ion-color-primary);
    justify-content: space-between;
    border-radius: 8px;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      width: 98%;
   }
}

.text-heading {
    font-size: var(--design-guidelines-heading);
}

.text-subline {
    font-size: var(--design-guidelines-subline);
}

.text-body {
    font-size: var(--design-guidelines-body);
}

.desktop-content {
    max-width: 390px !important;
}