<ion-header mode="ios">
    <app-job-header [userImage]="profilePictureSrc" [showJobAlert]="false"></app-job-header>
  </ion-header>

  <ion-content>

    @if (isNative) {
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h3 class="text-heading">It looks you don't have installed the Jobgrader App.</h3>
                    <h3 class="text-subline">Please install it from the store by clicking on one of the buttons.</h3>
                    <h3 class="text-body">Once done click again the referral link you got from your friend.</h3>
                </ion-col>
            </ion-row>
            @if (isIOS) {
                <ion-row>
                    <ion-col size="12" class="ion-justify-content-center flex-container">
                        <ion-button fill="clear" color="tertiary" (click)="openAppstore('_self')">
                            <div class="custom-button-content">
                                <ion-icon name="logo-apple-appstore" size="large"></ion-icon>
                                <ion-label>Apple AppStore</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            }
            @if (isAndroid) {
                <ion-row>
                    <ion-col size="12" class="ion-justify-content-center flex-container">
                        <ion-button fill="clear" color="tertiary" (click)="openPlaystore('_self')">
                            <div class="custom-button-content">
                                <ion-icon name="logo-google-playstore" size="large"></ion-icon>
                                <ion-label>Google Playstore</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            }
            <ion-row>
                <ion-col size="12">
                    <h3 class="text-body">If you have already installed the App, please click at the button below.</h3>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding-bottom">
                <ion-col size="12">
                    <div class="buttons" (click)="openDeepLink('_self')">
                        <div class="button">
                            Open with Jobgrader app
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    } @else {
        <ion-grid class="expand">
            <ion-row class="expand ion-align-items-center ion-justify-content-center">
                <ion-col size="12" class="desktop-content">
                    <h3>We are happy that you want to join our Jobgrader community.<br><br> Please scan this QR code with your mobile phone or try the referral link directly from your mobile device.</h3>
                    <div class="ion-padding-top">
                        <qrcode
                            [qrdata]="qrCodeUrl"
                            elementType="url"
                            [width]="128"
                            [errorCorrectionLevel]="'M'"
                            class="ion-justify-content-center qr-code"
                        ></qrcode>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    }

  </ion-content>
