<ion-header mode="ios">
  <div>
    <app-job-header [showBackButton]="true" (backEvent)="close()" [userImage]="profilePictureSrc"></app-job-header>
    <!-- <app-back-button (click)="close()"></app-back-button> -->
    <!-- <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="profilePictureSrc" />
      </ion-avatar>
    </div> -->
    <!-- <h3 class="page-title">{{ data.heading }} {{data.currency}} balance</h3> -->
    <div class="sec-one">
      <p class="nav-item-heading">
        {{ data.heading }} {{data.currency}} Balance

        <img [src]="'../../../assets/'+data.icon" alt="" />
      </p>
      <p class="nav-item-address">
        Wallet {{ "WALLET.address" | translate }}: {{ data.address.slice(0, 6)
        }}...{{ data.address.slice( data.address.length - 4, data.address.length
        ) }}
        <ion-icon
          (click)="copyAddress()"
          class="copy-icon"
          name="copy-outline"
        ></ion-icon>
      </p>

      <!-- <ion-select mode="ios" class="week-select" placeholder="Week">
        <ion-select-option value="week 1">week 1</ion-select-option>
        <ion-select-option value="week 2">week 2</ion-select-option>
        <ion-select-option value="week 3">week 3</ion-select-option>
      </ion-select> -->
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <div style="font-size: 16px; text-align: center">{{ subHeading }}</div>
    <div id="chart-detail"></div>
    <!-- <svg id="chart-detail"></svg> -->
  </div>

  <ion-grid class="transactions-list ion-no-padding">
    <ion-row
      class="ion-activatable"
      *ngFor="let h of history"
      (click)="showHistory(h)"
      style="padding: 10px; font-size: 16px; margin-top: -20px"
    >
      <ion-col size="1">
        <p class="icon-p">
          <ion-icon
            *ngIf="h.from == data.address && h.to"
            name="exit-outline"
            color="danger"
          ></ion-icon>
          <ion-icon
            *ngIf="h.to == data.address"
            name="enter-outline"
            color="success"
          ></ion-icon>
          <ion-icon
            *ngIf="!h.to"
            name="swap-horizontal-outline"
            color="dark"
          ></ion-icon>
        </p>
      </ion-col>
      <ion-col size="3">
        <p>{{ displayEth(h.value) }}</p>
      </ion-col>
      <ion-col size="4">
        <p>{{ h.timestamp | date:'dd.MM.yyyy HH:mm' }}</p>
      </ion-col>
      <ion-col size="4">
        <p *ngIf="h.to == data.address">
          {{ h.from.slice(0,10) }}...{{
          h.from.slice(h.from.length-4,h.from.length) }}
        </p>
        <p *ngIf="h.from == data.address && h.to">
          {{ h.to.slice(0,10) }}...{{ h.to.slice(h.to.length-4,h.to.length) }}
        </p>
        <p *ngIf="!h.to">
          {{ h.from.slice(0,10) }}...{{ h.from.slice(h.from.length-4,h.from.length) }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <!-- <ion-grid *ngIf="!!mnemonic">
    <ion-row style="margin-top: -20px;">
      <ion-col size="3" style="text-align: center; bottom: 10px;" (click)="Buy()"><div class='modButtons'><img src="assets/icon/WEBWalletAssets/Icon_Buy.svg" style="margin-top: 15px; width: 35px;"></div></ion-col>
      <ion-col size="3" style="text-align: center; bottom: 10px;" (click)="Send()"><div class='modButtons'><img src="assets/icon/WEBWalletAssets/Icon_Send.svg" style="width: 28px; margin-top: 13px; margin-left: -1px;"></div></ion-col>
      <ion-col size="3" style="text-align: center; bottom: 10px;" (click)="Receive()"><div class='modButtons'><img src="assets/icon/WEBWalletAssets/Icon_Receive.svg"></div></ion-col>
      <ion-col size="3" style="text-align: center; bottom: 10px;" (click)="Swap()"><div class='modButtons modButtons--inactive'><img src="assets/icon/WEBWalletAssets/Icon_Swap.svg"></div></ion-col>
    </ion-row>
    <ion-row style="margin-top: -20px;">
      <ion-col size="3" style="text-align: center; font-size: 15px;">{{ 'WEB3WALLETMODAL.buy' | translate }}</ion-col>
      <ion-col size="3" style="text-align: center; font-size: 15px;">{{ 'WEB3WALLETMODAL.send' | translate }}</ion-col>
      <ion-col size="3" style="text-align: center; font-size: 15px;">{{ 'WEB3WALLETMODAL.receive' | translate }}</ion-col>
      <ion-col size="3" style="text-align: center; font-size: 15px;">{{ 'WEB3WALLETMODAL.swap' | translate }}</ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <tabs></tabs> -->
</ion-footer>
