.trusted-partner {
  margin: 27px 0 0 28px;
  .name {
    font-family: "Jost Regular", Helvetica, sans-serif;
    font-size: 20px;
    color: var(--ion-text-color);
    letter-spacing: 0.13px;
    position: relative;
    display: inline-block;
    top: -13px;
    // margin-left: 5px;
  }
}

ion-fab-button.fab-button {
  width: 60px;
  height: 60px;
  ion-icon {
    font-size: 22px;
  }
}

.icon-container {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
  border: 2px solid var(--ion-color-secondary-contrast);
  display: inline-block;
  .category-icon {
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 9px;
  }
}

ion-card {
  background-color: var(--helix-sort-background-color);
  border: 3px solid var(--ion-border-color);
  border-radius: 12px;
  box-shadow: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

::-webkit-scrollbar {
  display: none;
}

.cards {
  position: relative;
  // height: calc(100vh - (78px + 80px)); // 78px is toolbar height 80px is footer height
  height: calc(100vh - (80px)); // 80px is footer height
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
      position: absolute;
      margin: auto;
      width: -webkit-fill-available;

      ion-card {
          position: relative;
          border-radius: 16px;

          max-height: calc(100vh - 200px);

          ion-card-content {
              padding: 0;

              img {
                  // width: 100vw;
                  // height: calc(100vh - (78px + 80px)); // 78px is toolbar height 80px is footer height
                  object-fit: cover;
                  object-position: top;
              }

              ion-item {
                  --padding-start: 0px;
                  position: absolute;
                  left: 0;
                  bottom: 5%;
                  width: 100%;
                  text-align: center;
                  --background: transparent;

                  ion-label {
                      h2 {
                          font-size: x-large;
                      }

                      p {
                          font-size: large;
                      }
                  }
              }
          }
      }
  }

  .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      opacity: 0;
      font-size: 100px;
      pointer-events: none;
  }
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  ion-icon {
      font-size: 45px;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.description {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.popover {
  padding: 10px;
}

.card-footer {
  --background: var(--jobgrader-color-background);
}

.label {
  color: var(--ion-text-color);
}