<ion-header mode="ios">
  <div class="page-header">
    <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>
    <!-- <app-back-button (click)="goBack()"></app-back-button> -->
    <!-- <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="profilePictureSrc" (click)="displayPictureOptions()">
        
      </ion-avatar>
    </div> -->
    <h3 class="page-title">
      {{ 'PROFILE.legal-documents' | translate }}
    </h3>
  </div>
</ion-header>

<ion-content>
  <div class="page-content">
    <div style="text-align: center; font-size: 50px;">
      <ion-spinner *ngIf="displayLoadingDots" name="lines-sharp"></ion-spinner>
    </div>
    <ion-grid class="ion-no-margin" *ngIf="!displayLoadingDots">
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin addDoc" (click)="addDocument()">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'LEGALDOCUMENTS.addDoc' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin passport" [ngClass]="{ 'unavailable' : !documentDisplay.passport }" (click)="showModal('PASSPORT')">
            <ion-icon *ngIf="allVerified.passport" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin idcard" [ngClass]="{ 'unavailable' : !documentDisplay.idcard }" (click)="showModal('ID_CARD')">
            <ion-icon *ngIf="allVerified.idcard" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioIDCard' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin driverlicence" [ngClass]="{ 'unavailable' : !documentDisplay.driverlicence }" (click)="showModal('DRIVERS_LICENSE')">
            <ion-icon *ngIf="allVerified.driverlicence" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-card class="ion-no-margin residencepermit" [ngClass]="{ 'unavailable' : !documentDisplay.residencepermit }" (click)="showModal('RESIDENCE_PERMIT')">
            <ion-icon *ngIf="allVerified.residencepermit" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioResidencePermit' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
