$startKey: 1;
$endKey: 20;
@function getRandomNumberInRange($startRange, $endRange, $modulus, $negativeRange: false, $maxNegativeNumber: -10000000) {
  $val: random($endRange) + $startRange;
  $multi: 1;
  @if (random(2) != 1 and $negativeRange == true) {
    $multi: -1;
  }
  $toBig: false;
  @while($val % $modulus != 0) {
    $val: random($endRange - $startRange) + $startRange;
    $toBig: false;
    @if ($multi is -1) {
      $toBig: $val > ($maxNegativeNumber * -1);
    }
  }
  @return $val * $multi;
}

@for $key from $startKey through $endKey {
  $startRange: 5;
  $endRange: 25;
  $modulus: 5;
  @keyframes shake#{$key} {
    10%, 90% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true, -5)}px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true, -5)}px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true)}px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true)}px, 0, 0);
    }

    100%, 0% {
      transform: none;
    }
  }
}

@for $key from $startKey through $endKey {
  $startRange: 15;
  $endRange: 40;
  $modulus: 5;
  @keyframes shake-big#{$key} {
    10%, 90% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true, -5)}px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true, -5)}px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true, -5)}px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(#{getRandomNumberInRange($startRange, $endRange, $modulus, true, -5)}px, 0, 0);
    }
    100%, 0% {
      transform: none;
    }
  }
}

