@import "animations";

@mixin big-circle-page-header-before() {
  &:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    top: -145px;
    right: -45px;
    background-size: cover;
    background: var(--ion-color-secondary);
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    z-index: 3;
  }
}

@mixin big-circle-page-header($assetPath) {
  .page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-primary-contrast);
    position: relative;

    @include big-circle-page-header-before();

    i.helix_id {
      position: absolute;
      top: 85px;
      left: 25px;
      width: 94px;
      height: 28px;
      background: url("#{$assetPath}/icon/helix_id.svg") no-repeat center;
    }

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      font-size: var(--design-guidelines-heading);
      padding: 180px 25px 0;
      // @media only screen and (max-width: 320px) {
      //   padding: 120px 25px 0;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   padding: 145px 25px 0;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   padding: 180px 25px 0;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   padding: 180px 25px 0;
      // }
    }
  }
}

@mixin big-circle-page-footer($assetPath) {
  .page-footer {
    position: relative;
    background: var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    z-index: auto;
    order: inherit;
    .skip {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 25px 27px;
      color: white;
      position: absolute;
      bottom: 0;
      z-index: 13;
    }

    .buttons {
      position: absolute;
      right: 0;
      bottom: 100px;
      padding: 15px 15px 45px;
      z-index: 13;
      // @media only screen and (max-width: 320px) {
      //   padding: 15px 15px 25px;
      // }

      &__next {
        width: 77px;
        height: 77px;
        background-size: cover;
        background-image: url("#{$assetPath}/icon/prev-next-sign.svg");
        position: absolute;
        top: 10px;
        right: 36px;
        transform: rotate(0deg);
        cursor: pointer;

        &:active {
          transform: rotate(0deg);
          background-size: cover;
          background-image: url("#{$assetPath}/icon/active-prev-next-sign.svg");
        }
      }

      &__back {
        width: 77px;
        height: 77px;
        background-size: cover;
        background-image: url("#{$assetPath}/icon/prev-next-sign.svg");
        position: absolute;
        right: 185px;
        top: 25px;
        cursor: pointer;
        transform: rotate(180deg);

        &:active {
          background-size: cover;
          background-image: url("#{$assetPath}/icon/active-prev-next-sign.svg");
        }
      }

      .button-reject {
        float: left;
        text-align: center;
        padding: 10px 15px;
        color: #ffffff;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-secondary);
        border-radius: 8px;
        width: 48%;
        border: 2px solid var(--ion-color-secondary);

        &:active {
          background: var(--ion-color-secondary-tint);
          border: 2px solid var(--ion-color-secondary-tint);
        }
      }

      .button-submit {
        float: right;
        text-align: center;
        padding: 10px 15px;
        color: #ffffff;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-primary);
        border-radius: 8px;
        width: 48%;
        border: 2px solid var(--ion-color-primary);

        &:active {
          background: #F2F2F2;
          border: 2px solid #F2F2F2;
        }

        &--inactive {
          pointer-events: none;
          color: #d7d7d7;
          background: #f7f7f7;
          border: 2px solid #d7d7d7;
        }
      }
    }
  }
}

@mixin label-page-content() {
  &__label {
    color: #000;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 14px;
    font-size: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

@mixin big-circle-content-after() {
  &:after {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    bottom: 70px;
    left: -386px;
    background-size: cover;
    background: var(--ion-color-primary-contrast);
    border-radius: 50%;
    z-index: 11;
    background-size: cover;
    background: var(--ion-color-primary-contrast);
    transform: translate3d(0, 0, 0);
  }
}

@mixin big-circle-page-content($assetPath) {
  .page-content {
    width: 100%;
    min-height: 100%;
    padding: 10px 15px 10px;
    background-color: var(--ion-color-primary);
    display: flex;
    flex-direction: column;
    .text {
      text-align: center;
      font-size: 20px;
      padding: 50px 10px 10px;
      position: relative;
      z-index: 13;
    }
    .form {
      position: relative;
      z-index: 13;
      margin: 20px 15px;
      padding-top: 20px;
      // @media only screen and (max-width: 320px) {
      //   margin: 5px 15px;
      //   padding-top: 20px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   margin: 5px 15px;
      //   padding-top: 20px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 20px 15px;
      //   padding-top: 20px;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 10px 15px;
      //   padding-top: 20px;
      // }
      &__fields {
        display: flex;
        flex-direction: column;
        .input {
          position: relative;
          margin: 0 10px 35px 0;
          padding-left: 0;
          // @media only screen and (max-width: 320px) {
          //   margin: 0 10px 10px 0;
          // }
          // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          //   margin: 0 10px 35px 0;
          // }
          // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
          //   margin: 0 10px 35px 0;
          // }
          // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          //   margin: 0 10px 35px 0;
          // }
          &__field {
            font-size: 20px;
            padding: 5px;
            padding-left: 0;
            display: block;
            width: 100%;
            height: 48px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #757575;
            border-radius: 0;
            background-color: transparent !important;
            outline: none;
            // @media only screen and (max-width: 320px) {
            //   font-size: 18px;
            // }
            // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
            //   font-size: 18px;
            // }
            // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
            //   font-size: 20px;
            // }
            // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            //   font-size: 20px;
            // }
            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
              top: -18px;
              font-size: 16px;
              // @media only screen and (max-width: 320px) {
              //   top: -8px;
              //   font-size: 14px;
              // }
              // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
              //   top: -8px;
              //   font-size: 14px;
              // }
              // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
              //   top: -18px;
              //   font-size: 16px;
              // }
              // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
              //   top: -18px;
              //   font-size: 16px;
              // }
            }
            &:focus ~ .bar:after,
            &:focus ~ .bar:before {
              width: 50%;
            }
            :focus ~ .highlight {
              -webkit-animation: inputHighlighter 0.3s ease;
              -moz-animation: inputHighlighter 0.3s ease;
              animation: inputHighlighter 0.3s ease;
            }
            .menu-item-select {
              display: flex;
              flex-direction: row;
              padding: 0;
              font-size: 20px;
              letter-spacing: 0.1px;
              height: 38px;
              position: relative;
              padding: 0;
              margin: 10px 10px 8px 0;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid rgb(117, 117, 117);
              background: transparent;
              .checkmark {
                right: 5px;
                top: 50%;
                margin-top: -3px;
                position: absolute;
                width: 0;
                height: 0;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                color: currentColor;
                opacity: 0.33;
                pointer-events: none;
              }
            }
            .input {
              position: relative;
              margin: 5px 10px 10px 0;
              padding-left: 0;
              // @media only screen and (max-width: 320px) {
              //   margin: 5px 10px 10px 0;
              // }
              // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
              //   margin: 5px 10px 10px 0;
              // }
              // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
              //   margin: 5px 10px 10px 0;
              // }
              // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
              //   margin: 5px 10px 10px 0;
              // }
              &__field {
                font-size: 20px;
                padding: 5px;
                padding-left: 0;
                display: block;
                width: 100%;
                height: 42px;
                border: none;
                border-bottom: 1px solid #757575;
                border-radius: 0;
                background-color: transparent !important;
                outline: none;
                // @media only screen and (max-width: 320px) {
                //   font-size: 18px;
                // }
                // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
                //   font-size: 18px;
                // }
                // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
                //   font-size: 20px;
                // }
                // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
                //   font-size: 20px;
                // }
                &:focus ~ label,
                &:not(:placeholder-shown) ~ label {
                  top: -10px;
                  font-size: 16px;
                  // @media only screen and (max-width: 320px) {
                  //   top: -8px;
                  //   font-size: 14px;
                  // }
                  // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
                  //   top: -8px;
                  //   font-size: 14px;
                  // }
                  // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
                  //   top: -10px;
                  //   font-size: 16px;
                  // }
                  // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
                  //   top: -10px;
                  //   font-size: 16px;
                  // }
                }
                &:focus ~ .bar:after,
                &:focus ~ .bar:before {
                  width: 50%;
                }
                :focus ~ .highlight {
                  -webkit-animation: inputHighlighter 0.3s ease;
                  -moz-animation: inputHighlighter 0.3s ease;
                  animation: inputHighlighter 0.3s ease;
                }
              }
              &__label {
                color: #000;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 0;
                top: 14px;
                font-size: 20px;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
              }
            }
          }
          @include label-page-content();
        }
      }
    }
    .title {
      font-size: var(--design-guidelines-heading);
      margin: 24px 10px;
      line-height: 1.35;
      // @media only screen and (max-width: 320px) {
      //   font-size: 28px;
      //   margin: 10px 10px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   margin: 24px 10px 0;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 24px 10px 0;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 24px 10px;
      // }
    }
    @include big-circle-content-after();
    .icon-success {
      width: 85px;
      height: 85px;
      margin: 60px auto 0;
      background-size: cover;
      background-image: url("#{$assetPath}/icon/sign-success.svg");
      position: relative;
      z-index: 13;
      // @media only screen and (max-width: 320px) {
      //   margin: 0 auto 0;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   margin: 10px auto 0;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 60px auto 0;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 20px auto 0;
      // }
    }
    .icon-error {
      width: 85px;
      height: 85px;
      margin: 50px auto 0;
      background-size: cover;
      background-image: url("#{$assetPath}/icon/sign-error.svg");
      position: relative;
      z-index: 13;
      // @media only screen and (max-width: 320px) {
      //   margin: 0px auto 0;
      //   width: 75px;
      //   height: 75px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   margin: 5px auto 0;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 50px auto 0;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   margin: 40px auto 0;
      // }
    }
    .text-success {
      padding: 0px 55px;
      margin-top: 53px;
      text-align: center;
      font-size: 20px;
      // @media only screen and (max-width: 320px) {
      //   padding: 0;
      //   margin-top: 10px;
      //   font-size: 17px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   padding: 0px 55px;
      //   margin-top: 53px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   padding: 0px 55px;
      //   margin-top: 53px;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   padding: 0px 55px;
      //   margin-top: 53px;
      // }
      position: relative;
      z-index: 13;
    }
    .text-error {
      padding: 0 55px;
      text-align: center;
      margin-top: 35px;
      font-size: 20px;
      position: relative;
      z-index: 13;
      // @media only screen and (max-width: 320px) {
      //   padding: 0;
      //   margin-top: 10px;
      //   font-size: 17px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      //   padding: 0px 55px;
      //   margin-top: 20px;
      // }
      // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      //   padding: 0px 55px;
      //   margin-top: 38px;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      //   padding: 0px 55px;
      //   margin-top: 38px;
      // }
    }
    .button-success {
      text-align: center;
      padding: 10px 15px;
      color: #ffffff;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 160px;
      border: 2px solid var(--ion-color-primary);
      margin: 25px auto 0;
      position: relative;
      z-index: 13;
      // @media only screen and (max-width: 320px) {
      //   margin: 25px auto 0;
      // }

      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }

      &--inactive {
        pointer-events: none;
        color: #d7d7d7;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
      }
    }
    .button-error {
      text-align: center;
      padding: 10px 15px;
      color: #ffffff;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 50%;
      border: 2px solid var(--ion-color-primary);
      margin: 30px auto 0;
      // @media only screen and (max-width: 320px) {
      //   margin: 25px auto 0;
      // }

      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }

      &--inactive {
        pointer-events: none;
        color: #d7d7d7;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
      }
    }
    &__fields {
      display: flex;
      flex-direction: column;
      .input {
        position: relative;
        margin: 0 10px 35px 0;
        padding-left: 0;
        // @media only screen and (max-width: 320px) {
        //   margin: 0 10px 10px 0;
        // }
        // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        //   margin: 0 10px 35px 0;
        // }
        // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        //   margin: 0 10px 35px 0;
        // }
        // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        //   margin: 0 10px 35px 0;
        // }
        &__field {
          font-size: 20px;
          padding: 5px;
          padding-left: 0;
          display: block;
          width: 100%;
          height: 48px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #757575;
          border-radius: 0;
          background-color: transparent !important;
          outline: none;
          // @media only screen and (max-width: 320px) {
          //   font-size: 18px;
          // }
          // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          //   font-size: 18px;
          // }
          // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
          //   font-size: 20px;
          // }
          // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          //   font-size: 20px;
          // }
          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: -18px;
            font-size: 16px;
            // @media only screen and (max-width: 320px) {
            //   top: -8px;
            //   font-size: 14px;
            // }
            // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
            //   top: -8px;
            //   font-size: 14px;
            // }
            // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
            //   top: -18px;
            //   font-size: 16px;
            // }
            // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
            //   top: -18px;
            //   font-size: 16px;
            // }
          }
          &:focus ~ .bar:after,
          &:focus ~ .bar:before {
            width: 50%;
          }
          :focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
          }
        }
        @include label-page-content();
      }
      .menu-item-select {
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.1px;
        height: 38px;
        position: relative;
        padding: 0;
        margin: 10px 10px 8px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(117, 117, 117);

        .checkmark {
          right: 5px;
          top: 50%;
          margin-top: -3px;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: currentColor;
          opacity: 0.33;
          pointer-events: none;
        }
      }
    }
  }
}

@mixin big-circle-page-animation(
  $animationNo,
  $seconds,
  $selector: ".page-content"
) {
  .animated {
    &.page-header:before {
      animation: shake#{$animationNo} #{$seconds}s cubic-bezier(
          0.36,
          0.07,
          0.19,
          0.97
        ) infinite;
    }
    &#{$selector}:after {
      animation: shake-big#{$animationNo} #{$seconds}s cubic-bezier(
          0.36,
          0.07,
          0.19,
          0.97
        ) infinite;
    }
  }
}

@mixin header-before-after-animation($animationNo, $seconds) {
  .animated {
    &.page-header:before {
      animation: shake#{$animationNo} #{$seconds}s cubic-bezier(
          0.36,
          0.07,
          0.19,
          0.97
        ) infinite;
    }
    &.page-header:after {
      animation: shake-big#{$animationNo} #{$seconds}s cubic-bezier(
          0.36,
          0.07,
          0.19,
          0.97
        ) infinite;
    }
  }
}

@mixin header-just-before-animation($animationNo, $seconds) {
  .animated {
    &.page-header:before {
      animation: shake#{$animationNo} #{$seconds}s cubic-bezier(
          0.36,
          0.07,
          0.19,
          0.97
        ) infinite;
    }
  }
  .animated {
    &.header:before {
      animation: shake#{$animationNo} #{$seconds}s cubic-bezier(
          0.36,
          0.07,
          0.19,
          0.97
        ) infinite;
    }
  }
}

@mixin big-circle-page-error() {
  .error {
    color: #733122 !important;
  }

  .error-text {
    color: #733122;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

@mixin avatar() {
  width: 111px;
  height: 111px;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  border: 5px solid white;
  top: 35px;
  background: white;
}

@mixin innovatorBadge() {
  position: absolute;
  bottom: -20px;
  right: 0px;
  font-size: 40px;
}
