<ion-card transparent>
  <ion-toolbar>
    <ion-title>
      <div class="topper">
        {{ data.input.credentialSubjectRaw.name }}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "CERTIFICATES.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-title>
    <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="imageUrl" alt="" />
      </ion-avatar>
    </div>
  </ion-card-title>
  <ion-card-content>
    <br />
    <div class="content" >
      <div *ngFor="let data_ of displayItems">
        <div class="title">
          {{ ("CERTIFICATES.keys." + data_.key | translate) || data_.key }}
        </div>
        <div class="value" (press)="copyParameter($event, data_.key, data_.value)">
          <span style="float: left; display: contents">
            {{ data_.value }}
          </span>
          <br />
        </div>
        <br />
      </div>
      <div>
        <div class="title">
          {{ "CERTIFICATES.keys.skills" | translate }}
        </div>
        <div class="value">
          <span class="words-chosen" *ngFor="let skill of data.input.credentialSubjectRaw.skills">
            {{ skill }}
          </span>
          <br />
        </div>
      </div>
    </div>
    <div
      class="qr-container"
      *ngIf="!!qrSet"
    >
      <div class="qr-code-container" >
        <qrcode
          cssClass="qr-code"
          elementType="url"
          [qrdata]="qrSet"
        >
        </qrcode>
      </div>
      <ion-icon
        style="font-size: 30px; padding-top: 15px"
        name="share-outline"
        (click)="saveAsFile('vc')"
      ></ion-icon>
    </div>
    <div class="buttons">
      <div
        class="button share-button ion-activatable"
        (click)="openCertificate(data.input.credentialSubjectRaw.certificateUrl)"
      >
        <ion-ripple-effect></ion-ripple-effect
        >{{ "CERTIFICATES.keys.certificateUrl" | translate }}
      </div>
    </div>
    <div class="buttons">
      <div
        class="button reject-button ion-activatable"
        (click)="deleteCertificate()"
      >
        <ion-ripple-effect></ion-ripple-effect
        >{{ "CERTIFICATES.delete" | translate }}
      </div>
    </div>
    <br />
  </ion-card-content>
</ion-card>
