@import "../../../../../theme/index";

code-input {
  --item-border: 1px solid var(--ion-tab-icon-color);
  --item-border-bottom: 1px solid var(--ion-tab-icon-color);
  --item-border-has-value: 1px solid var(--ion-color-primary);
  --item-border-bottom-has-value: 1px solid var(--ion-color-primary);
  --item-border-focused: 1px solid var(--ion-color-secondary);
  --item-border-bottom-focused: 1px solid var(--ion-color-secondary);
  --item-height: 3em;
  --item-border-radius: 20px;
  --item-spacing: 10px;
  font-size: 30px;
}

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  font-size: var(--design-guidelines-modal-window);
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

form {
  margin: 20px;
}

.password-toggle {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  position: absolute;
  top: -2px;
  right: 0px;
  z-index: 2;
}


.buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 0 15px 15px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: var(--ion-text-color);
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 100%;
  
      &--inactive {
        pointer-events: none;
        background: #F2F2F2;
        border: 1px solid #F2F2F2;
      }
      &--disabled {
        pointer-events: none;
        background: #D7D7D7;
        border: 1px solid #D7D7D7;
      }
      &--cancel {
        background: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-secondary);
        &:active {
          background: var(--ion-color-secondary-tint);
          border: 2px solid var(--ion-color-secondary-tint);
      }
    }
   }
  
  }

  ion-input {
    margin-left: 10px;
    --color: var(--ion-text-color);
  }

  .save-button {
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
    font-size: var(--design-guidelines-button);
  }

ion-item {
    background: none;
    padding: 5px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    align-items: center;
    --border-color: var(--ion-background-color);
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.password-toggle {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    position: inherit;
    top: -2px;
    right: 0px;
    z-index: 2;
  }

  .input, .menu-item-select {
    // margin: 5px 5px 5px 5px;
    width: 100%;
    display: inline-flex;
    &__field {
      margin: 10px 0 10px 0;
      margin-top: 0;
      font-size: 16px;
      padding: 5px;
      padding-left: 0;
      display: block;
      width: 80%;
      height: 48px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--ion-border-color);
      border-radius: 0;
      background-color: transparent !important;
      outline: none;
      &:focus~label,
      &:not(:placeholder-shown)~label {
        top: -10px;
        font-size: 12px;
      }
      &:focus~.bar:after,
      &:focus~.bar:before {
        width: 50%;
      }
      :focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }
    }
  }