<proto-sign-up-header [progressBar]="false" [percentage]="12.5">
</proto-sign-up-header>

<ion-content [forceOverscroll]="false" scrollY="false">
  <div class="proto-content">
    <h1 class="proto-title">
      {{ 'LOGIN.welcome' | translate }}
    </h1>
    <form
      class="proto-form"
      autocomplete="new-password"
      [formGroup]="loginForm"
      *ngIf="!loginModePIN"
    >
      <input
        autocomplete="new-password"
        style="opacity: 0; position: absolute"
        type="text"
        name="fakeusernameremembered"
      />
      <input
        autocomplete="new-password"
        style="opacity: 0; position: absolute"
        type="email"
        name="fakeuseremailremembered"
      />
      <input
        autocomplete="new-password"
        style="opacity: 0; position: absolute"
        type="password"
        name="fakepasswordremembered"
      />

      <div class="proto-input">
        <ion-input
          class="proto-input__field"
          [ngClass]="{'error': (f[fieldNames.password].touched && f[fieldNames.password].invalid)}"
          [formControlName]="fieldNames.password"
          (keyup.enter)="submitLogin(f[fieldNames.password].value)"
          [type]="passwordStrengthInfo.password1Type"
          placeholder=" "
        >
        </ion-input>
        <label
          class="proto-input__label"
          [ngClass]="{'error':  f[fieldNames.password].touched && f[fieldNames.password].invalid}"
        >
          {{ 'LOGIN.userPassword' | translate }}
        </label>
        <ion-button
          (click)="togglePasswordVisibility()"
          class="password-toggle"
          mode="md"
          fill="clear"
        >
          <ion-icon
            [name]="passwordStrengthInfo.password1Type == 'password' ? 'eye' : 'eye-off'"
            slot="icon-only"
            mode="md"
          ></ion-icon>
        </ion-button>
      </div>

      <div class="proto-hyperlink">
        <span (click)="forgotPassword()"
          >{{ 'BUTTON.FORGOT_PASSWORD' | translate }}</span
        ><br /><br />
        <span (click)="toggleLoginMode()" *ngIf="encryptedPIN"
          >{{ 'LOGIN.loginPin' | translate }}</span
        >
      </div>

      <div class="finger-print" *ngIf="fingerprintIsAvailable">
        <ion-button
          class="button_unlock"
          fill="outline"
          size="large"
          shape="round"
          (click)="useBiometric()">
          <ion-icon slot="icon-only" src="assets/icon/secure.svg"></ion-icon>
        </ion-button>
      </div>
    </form>

    <div *ngIf="loginModePIN">
      <h1 class="proto-input" *ngIf="!displayLoadingDots">
        <div class="proto-input__field" style="border: 0;">{{ 'LOGIN.loginPinHeader' | translate }}</div>
      </h1>
      <!-- <h1 class="proto-title" *ngIf="!displayLoadingDots">{{ 'LOGIN.loginPinHeader' | translate }}</h1> -->
      <code-input
        *ngIf="!displayLoadingDots"
        #codeInput
        [isCodeHidden]="pinVisibility"
        [codeLength]="5"
        (codeChanged)="onCodeChanged($event)"
        (codeCompleted)="onCodeCompleted($event)"
      >
      </code-input>
      <div style="text-align: center; font-size: 50px;">
        <ion-spinner *ngIf="displayLoadingDots" name="lines-sharp"></ion-spinner>
      </div>
      
      <ion-button
        (click)="togglePinVisibility()"
        class="pin-toggle"
        mode="md"
        fill="clear"
        *ngIf="!displayLoadingDots"
      >
        <ion-icon
          style="padding: 10px"
          [name]="pinVisibility ? 'eye' : 'eye-off'"
          slot="icon-only"
          mode="md"
        ></ion-icon>
      </ion-button>
      <div class="proto-hyperlink" *ngIf="!displayLoadingDots" [ngClass]="keyboardOpen ? 'no-pointer' : ''">
        <span (click)="toggleLoginMode()"
          >{{ 'LOGIN.loginUsername' | translate }}</span
        >
      </div>
      <div class="finger-print" *ngIf="fingerprintIsAvailable">
        <ion-button
          class="button_unlock"
          fill="outline"
          size="large"
          shape="round"
          (click)="useBiometric()">
          <ion-icon slot="icon-only" src="assets/icon/secure.svg"></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- <form class="proto-form" [formGroup]="securePinForm" *ngIf="choicePassForm.value.securePin">
      <div class="proto-input">
        <ion-input class="proto-input__field"
                   formControlName="pin"
                   [type]="pinVisibilityType"
                   (keyup.enter)="submitLogin(securePinForm.value.pin)"
                   maxLength="5"
                   placeholder=" ">
        </ion-input>
        <label class="proto-input__label"
               [ngClass]="{'error':  f[fieldNames.password].touched && f[fieldNames.password].invalid}">
          5-digit Secure PIN
        </label>
        <ion-button (click)="togglePINVisibility()" class="password-toggle" mode="md" fill="clear">
          <ion-icon [name]="pinVisibilityType == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
        </ion-button>
      </div>
      <div class="proto-hyperlink">
        <span (click)="forgotPassword()">{{ 'BUTTON.FORGOT_PASSWORD' | translate }}</span>
      </div>

      <div class="finger-print" *ngIf="fingerprintIsAvailable">
        <ion-button
          class="button_unlock"
          fill="outline"
          size="large"
          shape="round"
          (click)="useBiometric()">
          <ion-icon slot="icon-only" src="assets/icon/secure.svg"></ion-icon>
        </ion-button>
      </div>
    </form>



    <div style="font-size: 40px; text-align: center; padding-top: 30px;">
      <ion-grid>
        <ion-list>
          <ion-radio-group [formGroup]="choicePassForm" value="password" allow-empty-selection="false" (ionChange)="radioGroupChange($event)">
            <ion-item *ngFor="let c of choicePass">
              <ion-label>{{ c.label }}</ion-label>
              <ion-icon [name]="c.icon"></ion-icon>
              <ion-radio slot="start" [value]="c.value" [name]="c.value" [formControlName]="choicePassForm[c.value]"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-grid>
    </div> -->
  </div>
</ion-content>

<proto-sign-up-footer
  currentFormIsValid="true"
  [secondaryCaption]="''"
  (primaryAction)="submitLogin(f[fieldNames.password].value)"
  [primaryActionVisible]="!loginModePIN"
>
</proto-sign-up-footer>
