<ion-toolbar>
  <ion-buttons slot="start" *ngIf="showBackButton" (click)="onClickEvent()">
    <ion-icon class="back-button" slot="start" name="chevron-back-outline" ></ion-icon>
  </ion-buttons>
  <ion-title slot="primary">
    <div class="jobgrader">
      JOBGRADER
    </div>
    @if (showJobAlert) {
      <div class="jobalert" *ngIf="_Broadcast._Messages.length == 0">
        ** {{ 'JOBHEADER.new-job-available' | translate }} **
      </div>
      <div class="jobalert" *ngIf="_Broadcast._Messages.length > 0">
        {{ _Broadcast._Messages[_Broadcast._Messages.length - 1].title }}
      </div>
    }
  </ion-title>
  <ion-buttons slot="end" (click)="changePic()">
      <img *ngIf="!!userImage" class="userImage" [src]="userImage">
      <img *ngIf="!userImage" class="userImage" src="../../assets/job-user.svg">
  </ion-buttons>
</ion-toolbar>