app-password-step-3 {
  .md & {
    .proto-input__field:focus ~ label, .proto-input__field:not(:placeholder-shown) ~ label {
      top: -20px;
      font-size: 12px;
    }
  }
  .error {
    color: #733122 !important;
  }
  .proto-input__field:focus ~ label, .proto-input__field:not(:placeholder-shown) ~ label {
    top: -22px;
    font-size: 12px;
  }
}


.password-hint {
  margin-top: 30px;
}

.strength-meter-row {
  position: relative;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: -2px;
  margin-right: -2px;

  ion-col {
      background-color: #DDD;
      margin-left: 2px;
      margin-right: 2px;
      padding: 2px;

  }
  .red {
      background-color: #ff0f0f;
  }
  .green {
      background-color: green;
  }
}

.strength-label {
  font-size: 12px;
}

.sl-bad {
  color: #ff0f0f;
}

.sl-good {
  color: green;
  font-weight: bold !important;
}

.password-toggle {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  position: absolute;
  top: -2px;
  right: 0px;
  z-index: 2;
}


.red {
  background-color: #ff0f0f;
}
.green {
  background-color: green;
}
.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}
