<proto-sign-up-header
        [onGoBack]="prevStep"
        [percentage]="75">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content">

        <div class="proto-title">{{ 'RESETPASSWORDSTEPTHREE.title' | translate }}</div>
        <div class="proto-text">{{ 'RESETPASSWORDSTEPTHREE.text' | translate }}</div>

        <form class="proto-form" autocomplete="new-password" [formGroup]="resetPasswordForm">

            <ion-row class="strength-meter-row ion-align-items-center">
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="red"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
      
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="red"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
      
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="transparent"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="transparent"></ion-col>
      
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="transparent"></ion-col>
      
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
                <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
            </ion-row>
            <span class="strength-label">{{ passwordStrengthInfo.password1StrengthText }}</span>
            <div class="proto-input">
                <ion-input class="proto-input__field"
                  [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetPassword.invalid}"
                  name="resetPassword"
                  formControlName="resetPassword"
                  (ionFocus)="displayRequirements.password1 = true"
                  (ionBlur)="checkPassword1Strength(); displayRequirements.password1 = false"
                  (keyup.enter)="nextStep()"
                  (ionChange)="checkPassword1Strength()"
                  [type]="passwordStrengthInfo.password1Type"
                  placeholder=" "></ion-input>
                <label class="proto-input__label"
                  [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetPassword.invalid}">
                  {{ 'SIGNSTEPONE.password' | translate }}
                  <app-mandatory-field-indicator></app-mandatory-field-indicator>
                </label>
                <p class="proto-input__requirements password-hint" *ngIf="displayRequirements.password1">
                  {{ 'SIGNSTEPONE.REQUIREMENTS.PASSWORD' | translate }}
                </p>
                <ion-button (click)="togglePassword1Visibility()" class="password-toggle" mode="md" fill="clear">
                  <ion-icon color="primary" [name]="passwordStrengthInfo.password1Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
                </ion-button> 
            </div>

            <div *ngIf="this.passwordStrengthInfo.password1Strength >= 2">                
              <span class="strength-label sl-bad" *ngIf="resetPasswordForm.controls.resetPasswordConfirm.value.length == 0 || 
                resetPasswordForm.controls.resetPassword.value != resetPasswordForm.controls.resetPasswordConfirm.value">
                {{ passwordStrengthInfo.password2StrengthText }}
              </span>        
              <span class="strength-label sl-good" *ngIf="resetPasswordForm.controls.resetPasswordConfirm.value.length > 0 && 
                resetPasswordForm.controls.resetPassword.value == resetPasswordForm.controls.resetPasswordConfirm.value">
                {{ passwordStrengthInfo.password2StrengthText }}
              </span>                                        
              <div class="proto-input">
                <ion-input class="proto-input__field"
                  [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetPasswordConfirm.invalid}"
                  name="resetPasswordConfirm"
                  formControlName="resetPasswordConfirm"
                  (ionBlur)="checkPassword2Strength()"            
                  (keyup.enter)="nextStep()"
                  (ionChange)="checkPassword2Strength()"
                  [type]="passwordStrengthInfo.password2Type"
                  placeholder=" "></ion-input>
                <label class="proto-input__label"
                  [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetPasswordConfirm.invalid}">
                  {{ 'SIGNSTEPONE.confirm' | translate }}
                  <app-mandatory-field-indicator></app-mandatory-field-indicator>
                </label>
                <ion-button (click)="togglePassword2Visibility()" class="password-toggle" mode="md" fill="clear">
                  <ion-icon color="primary" [name]="passwordStrengthInfo.password2Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
                </ion-button>            
              </div>          
            </div>

        </form>
    </div>

</ion-content>

<proto-sign-up-footer
    currentFormIsValid="true"
    (primaryAction)="nextStep()"
    (secondaryAction)="skipReg()"
    [secondaryCaption]="'RESETPASSWORDSTEPTHREE.later' | translate">
</proto-sign-up-footer>
