<proto-sign-up-header [percentage]="100">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content page-content">

    <div class="proto-title">{{ 'FORGOTUSERNAMESTEPTWO.titleSuccess' | translate }}</div>
    <div class="icon-success"></div>
    <div class="text-success">{{ 'FORGOTUSERNAMESTEPTWO.textSuccess' | translate }}</div>
    <div class="buttons">
      <div class="button-success" (click)="goToLogin()">{{ 'FORGOTUSERNAMESTEPTWO.goToLogin' | translate }}</div>
    </div>

  </div>

</ion-content>
