.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-background-color);
  position: relative;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 254px;
  //   height: 254px;
  //   top: -145px;
  //   right: -45px;
  //   background-size: cover;
  //   background-image: url("../../../../assets/red-circle.svg");
  //   z-index: -1;
  // }

  i.helix_id {
    position: absolute;
    top: 85px;
    left: 25px;
    width: 94px;
    height: 28px;
    background: url("../../../../assets/icon/helix_id.svg") no-repeat center;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    font-size: var(--design-guidelines-heading);
    padding: 168px 45px 0;
    text-align: center;
    
  }
}

.buttons {
  position: absolute;
  bottom: 60px;
  width: calc(100% - 30px);
}

.page-content {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  padding-bottom: 16px;
  background-color: var(--ion-background-color);
  position: relative;
  .title {
    font-size: 20px;
    margin: 24px 10px;
    line-height: 1.35;
 
  }
  .icon-success {
    width: 85px;
    height: 85px;
    min-width: 85px;
    min-height: 85px;
    margin: 50px auto 0;
    background-size: cover;
    background-image: url("../../../../assets/icon/sign-success.svg");
   
  }
  .icon-error {
    width: 85px;
    height: 85px;
    margin: 30px auto 0;
    background-size: cover;
    background-image: url("../../../../assets/icon/sign-error.svg");
   
  }
  .text-success {
    padding: 0px 55px;
    margin-top: 53px;
    text-align: center;
    font-size: 20px;
   
  }
  .text-error {
    padding: 0px 55px;
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
   
  }
  .button-success {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-secondary);
    border-radius: 8px;
    width: 160px;
    border: 2px solid var(--ion-color-secondary);
    margin: 25px auto 0;
    width: 100%;
    height: 54px;
    
    &:active {
      background: #7385FF;
      border: 2px solid #7385FF;
    }
    &--inactive {
      pointer-events: none;
      color: #D7D7D7;
      background: #F7F7F7;
      border: 2px solid #D7D7D7;
    }
  }
  .button-success-dashboard {
    text-align: center;
    padding: 10px 15px;
    color: var(--ion-color-secondary);
    font-size: var(--design-guidelines-button);
    background: white;
    border-radius: 8px;
    width: 160px;
    border: 3px solid var(--ion-color-secondary);
    margin: 25px auto 0;
    width: 100%;
    height: 54px;
  
    &:active {
      background: var(--ion-color-secondary);
      color: white;
    }
    &--inactive {
      pointer-events: none;
      color: #D7D7D7;
      background: #F7F7F7;
      border: 2px solid #D7D7D7;
    }
  }
  .button-error {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 50%;
    border: 2px solid var(--ion-color-primary);
    margin: 30px auto 0;
  
    &:active {
      background: #F2F2F2;
      border: 2px solid #F2F2F2;
    }
    &--inactive {
      pointer-events: none;
      color: #D7D7D7;
      background: #F7F7F7;
      border: 2px solid #D7D7D7;
    }
  }
}

.page-footer {
  padding-top: 90pt;
  position: relative;
  z-index: 1;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 220px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
  .skip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 25px 27px;
    color: white;
  }
  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 15px 45px;
   
    &__next {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      top: 10px;
      right: 36px;
      transform: rotate(180deg);
      cursor: pointer;
    }
    &__back {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      right: 185px;
      top: 25px;
      cursor: pointer;
    }
    .button-reject {
      float: left;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-secondary);
      &:active {
        background: var(--ion-color-secondary-tint);
        border: 2px solid var(--ion-color-secondary-tint);
      }
    }
    .button-submit {
      float: right;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-primary);
      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }
      &--inactive {
        pointer-events: none;
        color: #D7D7D7;
        background: #F7F7F7;
        border: 2px solid #D7D7D7;
      }
    }
  }
}
