@import "../../../theme/index";

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  p {
    font-size: 16px;
    margin: 16px;
    ::ng-deep strong, ::ng-deep b {
        font-family: "Jost Bold", Helvetica, sans-serif;
    }
  }
}

ion-title {
  text-align: center;
  font-size: var(--design-guidelines-heading);
  display: contents;
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

.ion-activatable {
    position: relative;
    overflow: hidden;
}

.buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 0 15px 15px;
    justify-content: space-between;
    .button-accept {
      text-align: center;
      padding: 10px 15px;
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 48%;
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-light);
   }
   .button-reject {
        text-align: center;
        padding: 10px 15px;
        font-size: var(--design-guidelines-button);
        border-radius: 8px;
        width: 48%;
        background: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-secondary);
        color: var(--ion-color-light);
    }
}