<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'WALLETACTIVATIONDISCLAIMER.heading' | translate }}</ion-title>
  </ion-toolbar>
  
  <p>
    {{ 'WALLETACTIVATIONDISCLAIMER.p1' | translate }}<br><br>
    {{ 'WALLETACTIVATIONDISCLAIMER.p2' | translate }} {{ 'WALLETACTIVATIONDISCLAIMER.p3' | translate }}<br><br>
    {{ 'WALLETACTIVATIONDISCLAIMER.p4' | translate }} {{ 'WALLETACTIVATIONDISCLAIMER.p5' | translate }}<br><br>
    {{ 'WALLETACTIVATIONDISCLAIMER.p6' | translate }}<br><br> 
    {{ 'WALLETACTIVATIONDISCLAIMER.p7' | translate }}<br>
  </p>
  <!-- <ul>
    <li> -->
    <!-- </li>
  </ul> -->
  
  <div class="buttons">
    <div class="button-reject ion-activatable" (click)="close(false)"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLETACTIVATIONDISCLAIMER.button.reject' | translate }}</div>
    <div class="button-accept ion-activatable" (click)="close(true)"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLETACTIVATIONDISCLAIMER.button.accept' | translate }}</div>
  </div>

</ion-card>