@import "../../../theme/index";

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  p {
    text-align: justify;
  }
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

ion-card-content{ 
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    
    padding: 10px;
      .title {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 16px;
      }
      .value {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 20px;
      }
    
  }

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    font-size: var(--design-guidelines-button);
    border-radius: 8px;
    width: 100%;
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
 }
 .close-button {
    background: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-light);
    font-size: var(--design-guidelines-button);
  }

}

.profileImage {
    border-radius: 50%;
    height: 100px;
}