@import "../../../theme/index";

.header {
    &-avatar {
     @include avatar();
     left: 45vw;
     top: 0px;
    //  border: 1px solid gray;
    }
  }

  .subheader {
    text-align: center; 
    font-size: 20px; 
    padding-top: 10px;
    color: gray;
  }
  .topper {
    text-align: center; 
    font-size: 20px; 
    padding-bottom: 5px;
    color: gray;
  }

  ion-card {
    margin-top: 10%;
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
  }

ion-toolbar {
    padding-top: 20px;
  }

  .profile {
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 35px;
    height: 100px;
  }
  ion-card-content{ 
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    
    padding: 10px;
      .title {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 16px;
      }
      .value {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 20px;
      }
    
  }

  .buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 15px 15px 0;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 100%;

      &--half {
        width: 48%;
      }
  
      &--inactive {
        pointer-events: none;
        background: #F2F2F2;
        border: 1px solid #F2F2F2;
      }
      &--disabled {
        pointer-events: none;
        background: #D7D7D7;
        border: 1px solid #D7D7D7;
      }
      &--cancel {
        background: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-secondary);
        &:active {
          background: var(--ion-color-secondary-tint);
          border: 2px solid var(--ion-color-secondary-tint);
        }
      }
    }
  
    .accept-button, .share-button {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: var(--design-guidelines-button);
    }
  
    .reject-button {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
      color: var(--ion-color-light);
      font-size: var(--design-guidelines-button);
    }
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
  }

  .badge {
    position: absolute;
    top: 30%;
    right: -20%;
    font-size: 50px;
    z-index: 3;
  }

.qr-container {

    margin: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &-timeout {
      text-align: center;
    }
  }
  .qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--ion-text-color);
    background: #fff;
    width: 50vw;
    height: 50vw;
  
    @media (max-height: 568px) {
      width: 25vw;
      height: 25vw;
    }
  
  }
  
  .qr-code {
    width: 100%;
    height: 100%;
  
    opacity: 1;
    transition: opacity 2s linear;
  
    &.is-hidden {
      opacity: 0;
    }
  }