<ion-card transparent>
  <ion-toolbar>
    <ion-title>
      {{ "CERTIFICATES.visitorsCertificate" | translate }}
      <div class="topper">
        {{ data.input.credentialSubject.data[0].companyName || "Demo" }}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "CERTIFICATES.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-title>
    <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="imageUrl" />
      </ion-avatar>
    </div>
    <div class="topper">
      <br />
      {{ data.input.credentialSubject.data[0].header }}
    </div>
  </ion-card-title>
  <ion-card-content>
    <br />
    <div class="content" *ngIf="!!data.input.credentialSubject.data">
      <div *ngFor="let data_ of displayItems">
        <div class="title">
          {{ "CERTIFICATES.reallabor." + data_.key | translate }}
        </div>
        <div class="value" *ngIf="data_.key !== 'pretixTicket'">
          <span style="float: left">
            {{ data_.value }}
          </span>
          <br />
          <br *ngIf="data_.key == 'location'" />
          <!-- <br *ngIf="data_.key == 'location'"> -->
        </div>
        <qrcode
          cssClass="qr-code"
          elementType="url"
          [qrdata]="data_.value"
          *ngIf="data_.key == 'pretixTicket'"
        >
        </qrcode>
        <br />
      </div>
    </div>
    <div class="buttons">
      <div class="button share-button ion-activatable" (click)="show()">
        <ion-ripple-effect></ion-ripple-effect
        >{{ "CERTIFICATES.viewSignature" | translate }}
      </div>
    </div>
    <div class="buttons">
      <div class="button reject-button ion-activatable" (click)="delete()">
        <ion-ripple-effect></ion-ripple-effect
        >{{ "CERTIFICATES.deleteCertificate" | translate }}
      </div>
    </div>
    <br />
  </ion-card-content>
</ion-card>
