.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 4px !important;
  border: 2px solid var(--ion-color-medium-shade);
  &-active {
    border: 2px solid var(--ion-color-dark) !important;
  }
  &s {
    bottom: -3px !important;
  }
}
