<ion-header mode="ios">
  <div class="page-header">
    <app-job-header [showBackButton]="true" (backEvent)="close()" [userImage]="profilePictureSrc"></app-job-header>
    <!-- <app-back-button (click)="close()"></app-back-button> -->
    <!-- <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="profilePictureSrc" />
      </ion-avatar>
    </div> -->
    <!-- <h3 class="page-title">{{ data.account.heading }}</h3> -->
    <div class="sec-one">
      <p class="nav-item-heading">{{ data.account.heading }}</p>
      <p class="nav-item-address">
        Wallet {{ "WALLET.address" | translate }}: {{
        data.account.publicKey.slice(0, 6) }}...{{ data.account.publicKey.slice(
        data.account.publicKey.length - 4, data.account.publicKey.length ) }}
        <ion-icon (click)="copyAddress()" class="copy-icon" name="copy-outline"></ion-icon>
      </p>
    </div>
  </div>
</ion-header>

<ion-content>
  <!-- <app-donut-chart
    *ngIf="chartData && chartData.length"
    (onCryptoNavigationHistory)="navigateToCryptoHistory($event)"
  ></app-donut-chart> -->
  <!-- <svg id="demoPointRadialLabel" width="400" height="400"></svg> -->
  <div id="my_dataviz"></div>

  <div class="content">
    <!-- <div>{{ CONVERTED_FIAT }}</div> -->
    <div style="margin-top: -2rem; height: 320px" id="chart"></div>
  </div>

  <div class="icons-div">
    <ion-icon (click)="openCurrenciesModal()" class="add-icon" name="add-circle-outline"></ion-icon>
    <ion-icon (click)="goToWalletSettings()" class="more-icon"
      [src]="_Theme.getCurrentTheme() === 'dark' ? '../../../assets/icon/WEBWalletAssets/AppIconWalletSettings_white.svg' : '../../../assets/icon/WEBWalletAssets/AppIconWalletSettings.svg'"></ion-icon>
  </div>

  <app-crypto-prices-list [balances]="cryptoBalance" *ngIf="wallet_currencies_data && wallet_currencies_data.length"
    [data]="wallet_currencies_data"></app-crypto-prices-list>
</ion-content>

<ion-footer>
  <ion-grid *ngIf="!!data.account.mnemonic || !!data.account.privateKey">
    <ion-row>
      <ion-col size="3" style="text-align: center; bottom: 10px" (click)="Buy()">
        <div class="modButtons">
          <img src="../../../assets/icon/WEBWalletAssets/Icon_Buy.svg" style="margin-top: 15px; width: 35px" />
        </div>
      </ion-col>
      <ion-col size="3" style="text-align: center; bottom: 10px" (click)="Send()">
        <div class="modButtons">
          <img src="../../../assets/icon/WEBWalletAssets/Icon_Send.svg"
            style="width: 28px; margin-top: 13px; margin-left: -1px" />
        </div>
      </ion-col>
      <ion-col size="3" style="text-align: center; bottom: 10px" (click)="Receive()">
        <div class="modButtons">
          <img src="../../../assets/icon/WEBWalletAssets/Icon_Receive.svg" />
        </div>
      </ion-col>
      <ion-col size="3" style="text-align: center; bottom: 10px">
        <div class="modButtons modButtons--inactive">
          <img src="../../../assets/icon/WEBWalletAssets/Icon_Swap.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" style="text-align: center; font-size: 15px">{{ 'WEB3WALLETMODAL.buy' | translate }}</ion-col>
      <ion-col size="3" style="text-align: center; font-size: 15px">{{ 'WEB3WALLETMODAL.send' | translate }}</ion-col>
      <ion-col size="3" style="text-align: center; font-size: 15px">{{ 'WEB3WALLETMODAL.receive' | translate
        }}</ion-col>
      <ion-col size="3" style="text-align: center; font-size: 15px">{{ 'WEB3WALLETMODAL.swap' | translate }}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid *ngIf="!data.account.mnemonic">
    <ion-row>
      <ion-item-divider
        mode="ios"
        size="12"
        style="text-align: center; bottom: 10px"
      >
        <div
          style="font-size: 22px; width: 100%"
          class="ion-activatable"
          (click)="copyAddress()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          {{ data.account.publicKey.slice(0,6) }}...{{
          data.account.publicKey.slice(data.account.publicKey.length - 4,
          data.account.publicKey.length) }}
          <ion-icon name="copy-outline"></ion-icon>
        </div>
      </ion-item-divider>
    </ion-row>
  </ion-grid> -->
  <!-- <tabs></tabs> -->
</ion-footer>