<ion-content>
    <iframe width="100%" height="100%" src="https://lchat.jobgrader.app"></iframe>
    <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button size="small" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>