<proto-sign-up-header
  [percentage]="100">
</proto-sign-up-header>

<ion-content>

  <div class="page-content">

    <div class="title">{{ 'SIGNCREATEREFERRAL.title' | translate }}</div>
    <div class="ion-padding">
      <div class="text">{{ 'SIGNCREATEREFERRAL.text' | translate }}</div>
      <div class="buttons">
        <div class="green" (click)="goToReferralsPage()">
          {{ 'SIGNCREATEREFERRAL.gotToReferralsPage' | translate }}
        </div>
        <div class="orange" (click)="goToDashboard()">
          {{ 'SIGNCREATEREFERRAL.goToDashboardPage' | translate }}
        </div>
      </div>
    </div>


  </div>

</ion-content>