ion-content {
  --overflow: hidden;
}

.proto-content {
  // override for global, stops buttons being misplaced.
  padding-bottom: 0px !important;
}



.page-content {
  width: 100%;
  min-height: 100%;
  padding: 10px 15px 10px;
  background-color: var(--ion-background-color);
  position: relative;

  .title {
    font-size: var(--design-guidelines-heading);
    margin: 24px 10px;
    line-height: 1.35;

  }

  .text {
    font-size: 20px;
  }

  .buttons {
    padding-top: 20px;
  
    .green {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 100%;
      border: 2px solid var(--ion-color-primary);
      margin-bottom: 10px;
    }
  
    .orange {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 100%;
      border: 2px solid var(--ion-color-secondary);
      margin-bottom: 10px;
    }
  }
}
