<ion-card transparent>
  <ion-toolbar>
    <!-- <ion-title>{{ 'WEB3WALLETMODAL.send-crypto' | translate }}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-card-content>
  <div class="content">
    <ion-title>{{ 'WEB3WALLETMODAL.send-crypto' | translate }}</ion-title>
    <form [formGroup]="form">
      <div class="title">{{ 'WALLET.to' | translate }}</div>
      <div class="value input" >
        <ion-textarea class="input__field input__field--short" rows="2" type="text" formControlName="to" placeholder="0x... / Jobgrader ID"></ion-textarea>
        <ion-icon slot="end" (click)="scanAddress()" src="../../../../assets/icon/qrcode-icon.svg"></ion-icon>
      </div>
      
      <br >
      <div class="title">{{ 'WALLET.currency' | translate }}</div>
      <div class="value menu-item-select ion-activatable pure-select" >
        <ion-select mode="md"
                class="input__field"
                formControlName="currency"
                interface="action-sheet"
                (ionChange)="processReceipt()"
                [okText]="'SIGNSTEPEIGHT.selectOk' | translate"
                [cancelText]="'SIGNSTEPEIGHT.selectCancel' | translate">
              <ion-select-option [value]="currencySelected.currency" *ngFor="let currencySelected of currencySet" [innerHTML]="showContentOptions(currencySelected)"></ion-select-option>
        </ion-select>
      </div>
      <br >
      <div class="title">{{ 'WALLET.amount' | translate }}</div>
      <div class="value input" >
        <input class="input__field" type="number" formControlName="amount" placeholder="0.00" (ngModelChange)="processReceipt()" style="text-align: right;">
      </div>
      <br >

      <ion-grid *ngIf="form.value.currency">
        <ion-row>
          <ion-col size="6">
            <div class="ion-text-left">
              {{ 'WEB3WALLETMODAL.gas-price' | translate }} <ion-icon name="information-circle-outline" (click)="showGasInfoAlert()"></ion-icon>
              <br> <a (click)="changeGasPrice()">{{ 'WEB3WALLETMODAL.gas-change' | translate }}</a>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-right">
              {{ receiptData.gas }} {{ form.value.currency }}<br>~ {{ receiptData.gasConvert }} {{ FIAT_SYMBOL }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

     

      <div class="buttons">
        <div class="button send-button ion-activatable" (click)="processPayment()"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLET.proceed' | translate }}</div>
      </div>
    
      </form>
   </div>
  </ion-card-content>
</ion-card>