<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ type }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'LEGALDOCUMENTS.closeModal' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <div *ngFor="let keyv of keyValues">
        <div class="title">{{ keyv.key }}</div>
          <div class="value" (press)="onPress($event, keyv.key, keyv.value)">
              <span style="float: left; display: contents;">
                {{ keyv.value }}
              </span>
            <br>
          </div>
        <br>   
      </div>
    </div>
    
  </ion-card-content>

  
</ion-card>
