<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'VERIFICATIONOPTIONS.header' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <h1 class="proto-title" >
    {{ 'SIGNSTEPFOUR.otpHasBeenSent.part1' | translate }} {{ user.email }}{{ 'SIGNSTEPFOUR.otpHasBeenSent.part2' | translate }}
  </h1>
  <code-input #codeInput
    [codeLength]="6"
    (codeChanged)="onCodeChanged($event)"
    (codeCompleted)="onCodeCompleted($event)">
  </code-input>


</ion-card>