.margin-bottom {
  margin-bottom: 70px;
}

::ng-deep div.howto {

  p {
    // font-size: var(--design-guidelines-body);
    margin: 0;

    strong {
      font-weight: bold;
      font-size: var(--design-guidelines-body);
      // font-size: var(--design-guidelines-subline);
    }
  }

  ol {
    ol {
      li {
        list-style-type: circle;
      }
    }
  }
}

.job-fab {
  --background: var(--ion-color-primary) !important;
  --background-activated: var(--ion-color-primary-tint) !important;
  width: 60px;
  height: 60px;

  ion-icon {
      font-size: 22px;
  }
}

.job-header-text {
  margin-left: 50px;
}
