<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBackToSettings()" [userImage]="userImage"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.referralsTitle' | translate }}</h3>
  </div>
</ion-header>
<ion-content [forceOverscroll]="false">
  <div class="page-content">
    @if (referrals.length == 0) {
      <ion-card>
        <ion-card-title>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-content>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-content>
        <ion-card-content>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    }

    @for (referral of referrals; track referral; let i = $index) {
      <ion-card *ngIf="referral.active">
        <ion-card-title>
          @if (language == 'de') {
            {{ referral.title['de'] }}
          } @else {
            {{ referral.title['en'] }}
          }
        </ion-card-title>
        <ion-card-subtitle>
          {{ 'SIGNSTEPEIGHT.expiryDate' | translate }}: {{ processedTimestamp(referral.expiryDate._seconds, referral.expiryDate._nanoseconds) | date:'dd.MM.yyyy HH:mm' }}
        </ion-card-subtitle>
        <ion-card-content *ngIf="referral.generatedReferralCode">
          <ion-button color="primary" (click)="share(referral.generatedReferralCode)">
            {{ 'REFERRALS.SHARE' | translate }}: {{ referral.generatedReferralCode }}
          </ion-button>
        </ion-card-content>
        <ion-card-content *ngIf="!referral.generatedReferralCode">
          <ion-button color="secondary" (click)="generate(referral.referralCategory)">
            {{ 'REFERRALS.GENERATE' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    }
    
  </div>

</ion-content>

