@import "../../theme/index";

.page-header {
    // padding: 0px 25px 0;
    background-color: var(--ion-background-color);
    position: relative;
  
    .page-title {
      margin: 27px 37px 0 28px;
      font-size: var(--design-guidelines-heading);
      color: var(--ion-text-color-rgb);
    }
    
  }

  ion-card {
    background-color: var(--ion-pitch);
    ion-card-title {
        color: var(--ion-text-color);
        margin-left: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    ion-card-subtitle {
      margin-left: 10px;
      text-transform: none;
    }
    ion-card-content {
        color: var(--ion-text-color);
        padding-bottom: 10px;
        ion-button {
          width: 100%;
          text-transform: none;
        }
    }
}

ion-skeleton-text {
  width: 80%;
}