<!-- <ion-content [fullscreen]="true"> -->
  <div class="body">
    <ul [ngClass]="toggle ? 'menu active' : 'menu'">
      <div
        (click)="handleToggleClick()"
        [ngClass]="toggle ? 'toggle active' : 'toggle'"
      >
        <img [src]="profilePictureSrc" alt="" [ngClass]="active_item_index > -1 ? 'photo photo-on' : 'photo'" />
      </div>
      <li
        (click)="active_item_index = 0"
        [ngClass]="active_item_index === 0 ? 'li-active' : ''"
        style="--i: 0"
      >
        <span (click)="emitNavigationClick('audino')">
          <img
            [src]="
            theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/headset-outline.svg'
                : '../../assets/icon/job-categories/ionicons/headset-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>

      <li
        (click)="active_item_index = 1"
        [ngClass]="active_item_index === 1 ? 'li-active' : ''"
        style="--i: 1"
      >
        <span (click)="emitNavigationClick('fortune')">
          <img
            [src]="
            theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/sparkles-outline.svg'
                : '../../assets/icon/job-categories/ionicons/sparkles-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>
      <li
        (click)="active_item_index = 2"
        [ngClass]="active_item_index === 2 ? 'li-active' : ''"
        style="--i: 2"
      >
        <span (click)="emitNavigationClick('hcaptcha')">
          <img
            [src]="
            theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/hCaptcha-dark.svg'
                : '../../assets/icon/job-categories/hCaptcha.svg'
            "
            style="height: 40px; width: 40px"
            alt=""
          />
        </span>
      </li>
      <li
        (click)="active_item_index = 3"
        [ngClass]="active_item_index === 3 ? 'li-active' : ''"
        style="--i: 3"
      >
        <span (click)="emitNavigationClick('cvat')">
          <img
            [src]="
            theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/scan-outline.svg'
                : '../../assets/icon/job-categories/ionicons/scan-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>
      <li
        (click)="active_item_index = 4"
        [ngClass]="active_item_index === 4 ? 'li-active' : ''"
        style="--i: 4"
      >
        <span (click)="emitNavigationClick('ab')">
          <img
            [src]="
              theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/git-compare-outline.svg'
                : '../../assets/icon/job-categories/ionicons/git-compare-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>
      <li
        (click)="active_item_index = 5"
        [ngClass]="active_item_index === 5 ? 'li-active' : ''"
        style="--i: 5"
      >
        <span (click)="emitNavigationClick('formElements')">
          <img
            [src]="
              theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/search-outline.svg'
                : '../../assets/icon/job-categories/ionicons/search-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>
      <li
        (click)="active_item_index = 6"
        [ngClass]="active_item_index === 6 ? 'li-active' : ''"
        style="--i: 6"
      >
        <span (click)="emitNavigationClick('quiz')">
          <img
            [src]="
              theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/school-outline.svg'
                : '../../assets/icon/job-categories/ionicons/school-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>
      <li
        (click)="active_item_index = 7"
        [ngClass]="active_item_index === 7 ? 'li-active' : ''"
        style="--i: 7"
      >
        <span (click)="emitNavigationClick('priceGuessing')">
          <img
            [src]="
              theme.getCurrentTheme() === 'dark'
                ? '../../assets/icon/job-categories/ionicons/speedometer-outline.svg'
                : '../../assets/icon/job-categories/ionicons/speedometer-outline.svg'
            "
            style="height: 30px; width: 30px"
            alt=""
          />
        </span>
      </li>

      <div
        [ngClass]="active_item_index > -1 ? 'indicator on' : 'indicator'"
      ></div>
    </ul>
  </div>
<!-- </ion-content> -->
