<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goHome()" [userImage]="userImage"></app-job-header>
</ion-header>

<ion-content [scrollEvents]="true">

  <div class="trusted-partner">
    <!-- <span class="icon-container"><ion-icon class="category-icon" [src]="
      _Theme.getCurrentTheme() === 'dark'
                ? '../../../assets/icon/job-categories/hCaptcha-dark.svg'
                : '../../../assets/icon/job-categories/hCaptcha.svg'
            "
      ></ion-icon></span> -->
    <span class="name">hCaptcha</span>
  </div>
  <div class="page-content" >
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="initCaptcha()" disabled="{{ hCaptchaShowing }}" expand="block" size="large" style="text-transform: none;">
              {{ 'FETCH_JOB' | translate }}
            </ion-button>
          </ion-col>

        </ion-row>
        <ion-row *ngIf="hCaptchaShowing">
          <ion-col size="12">
            <ion-text class="ion-text-center">
              <h4 *ngIf="!jobReloading">{{ 'HCAPTCHA_DASHBOARD.loadJob' | translate }}</h4>
              <h4 *ngIf="jobReloading">{{ 'HCAPTCHA_DASHBOARD.reloadJob' | translate }}</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="captchaContent" class="ion-text-center" size="4">
            <div id="h-captcha" [hidden]="!hCaptchaShowing"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="dashboard-heading">
                {{ 'HCAPTCHA_DASHBOARD.TITLE' | translate }}
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="dashboard-reload">
                <ion-icon *ngIf="!loading" (click)="methodForUpdatingDashboard()" name="reload-outline"></ion-icon>
                <ion-spinner *ngIf="loading"></ion-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div style="text-align: center; width: 100%;">
              <div class="dashboard-subheading">
                {{ 'HCAPTCHA_DASHBOARD.DISCLAIMER' | translate }}
              </div>
              <div class="dashboard-subheading">
                {{ 'HCAPTCHA_DASHBOARD.THANKS' | translate }}
              </div>
            </div>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>

            <ion-col size="4">
              <div class="dashboard-value">
                {{ dashBoardData.served }}
              </div>
              <div class="dashboard-key">
                {{ 'HCAPTCHA_DASHBOARD.served' | translate }}
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="dashboard-value">
                {{ dashBoardData.solved }}
              </div>
              <div class="dashboard-key">
                {{ 'HCAPTCHA_DASHBOARD.solved' | translate }}
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="dashboard-value">
                {{ dashBoardData.verified }}
              </div>
              <div class="dashboard-key">
                {{ 'HCAPTCHA_DASHBOARD.verified' | translate }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>

            <ion-col size="12">
              <div class="dashboard-value">
                HMT {{ dashBoardData.total }}
              </div>
              <div class="dashboard-key">
                {{ 'HCAPTCHA_DASHBOARD.total' | translate }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="jobInfo">
                <div id="legend2"></div>
                <div id="dataset"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <!-- <ion-card>
        <div id="legend"></div>
        <div id="dataset"></div>
      </ion-card> -->
      
  </div>
</ion-content>

<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
