<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBackToSettings()" [userImage]="userImage"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.activities' | translate }}</h3>
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="page-content">

      <ion-card *ngFor="let activity of activities">
        <ion-card-title style="padding: 10px;">
            {{ activity.timestamp | date:'dd.MM.yyyy HH:mm:ss' }}
          </ion-card-title>
          <!-- <ion-card-subtitle>
            {{ device.osPlatform }} {{ device.osVersion }}
          </ion-card-subtitle> -->
          <ion-card-content>
            {{ 'ACTIVITY.' + activity.activity | translate }}
            <span *ngIf="!!activity.additionalInformation">{{ activity.additionalInformation.address }}</span>
          </ion-card-content>
      </ion-card>

  </div>

</ion-content>
