@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.header {
  &-avatar {
   @include avatar();
  }
}

.innovator-badge {
  @include innovatorBadge();
}

.scroll-wrapper {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  background: var(--ion-background-color);
}

app-image-selection {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 35px;
}

.page-header {
    background-color: var(--ion-background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-primary);
    //   top: -430px;
    //   left: -90px;
    //   transform: translate3d(0, 0, 0);
    // }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-secondary);
    //   top: -490px;
    //   left: -170px;
    //   transform: translate3d(0, 0, 0);
    // }
  
    
  
    .profile {
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 1;
      padding-top: 35px;
      height: 170px;
    }
  
    .profile-cover {
      text-align: center;
      display: inline-block;
      width: 111px;
      height: 111px;
      object-fit: cover;
      object-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 5px solid #FFFFFF;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  
  }

  .page-title {
    position: relative;
    font-size: var(--design-guidelines-heading);
    color: var(--ion-text-color);
    z-index: 1;
    margin: 27px 0 24px 28px;
  }
  
  .search {
    margin: 0 10px;
    ion-searchbar {
      ::ng-deep .searchbar-input-container{
          .searchbar-input{
            --background: var(--ion-background-color);
            --color: var(--ion-text-color);
            padding-right: 60px;
            padding-left: 10px;
            border-bottom: 1px solid var(--ion-text-color);
            border-radius: 0;
            box-shadow: none;
          }
          // ::-webkit-input-placeholder { /* WebKit browsers */
          //   text-transform: lowercase !important;
          // }
          // :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          //     text-transform: lowercase !important;
          // }
          // ::-moz-placeholder { /* Mozilla Firefox 19+ */
          //     text-transform: lowercase !important;
          // }
          // :-ms-input-placeholder { /* Internet Explorer 10+ */
          //     text-transform: lowercase !important;
          // }
          // ::placeholder { /* Recent browsers */
          //     text-transform: lowercase !important;
          // }
          .searchbar-search-icon {
            width: 30px;
            right: 8px;
            left: unset;
          }
          .searchbar-clear-button{
            right: 35px;
          }
      }
    }
  }
  
  
  .page-content {
    background-color: var(--ion-background-color);
    min-height: 100%;
    // margin: 20px 0 0;
    .note1 {
        text-align: center;
        font-size: 12pt;
    }
    .note2 {
        text-align: center;
        font-size: 12pt;
        color: var(--ion-color-primary);
    }
    .note3 {
      text-align: center;
      font-size: 12pt;
      color: var(--ion-color-secondary);
    }
    .vault {
      &__list {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 0;
        overflow-x: scroll;
        background-color: var(--ion-background-color-rgb);
        .item {
          --background: var(--helix-sort-background-color);
          --inner-border-width: 0;
          --inner-padding-bottom: 17px;
          --inner-padding-end: 13px;
          --inner-padding-start: 19px;
          --inner-padding-top: 14px;
          --padding-end: 0;
          --padding-start: 0;
          border-radius: 8px;
          border: 1px solid var(--ion-border-color);
          margin-bottom: 15px;
        }
        &_item {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border-bottom: none;
          background-color: var(--helix-sort-background-color);
          padding: 5px;
          .item {
            &__icon {
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../assets/icon/folder.svg");
              margin-right: 25px;
              color: var(--ion-text-color);
            }
            &__frozenicon{
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../assets/icon/folder-frozen.svg");
              margin-right: 25px;
              pointer-events: none;
            }
            &__title {
              font-size: 20px;
              color: var(--ion-text-color);
              &__frozen{
                color: #cdcdcd;
                pointer-events: none;
              }
              .certificates-badge {
                position: absolute;
                top: 30%;
                right: 15px;
              }
            }
          }
        }
      }
    }
  }
  
  .ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  .buttons {
    display: flex;
    background-color: var(--ion-background-color);
    margin-top: 15px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: var(--design-guidelines-button);
      border-radius: 8px;
      width: 100%;
      bottom: 10px;
    //   left: 10px;
    //   right: 10px;
   }

   .first-button {
        background: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary);
        font-size: var(--design-guidelines-button);
    }
    .second-button {
        background: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-secondary);
        font-size: var(--design-guidelines-button);
    }
}

.colDisplay {
  background-color: var(--ion-nft-background); 
  border-radius: 20px;
  padding: 10px;
  height: 100%;
  .nftDisplay {
    aspect-ratio : 1 / 1;
    background-size: cover;
    display: block;
    img {
      border-radius: 20px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    // span {
    //   position: absolute;
    //   bottom: 0;
    // }
  }
}

.summy {
  .nav-item-icon {
    ion-img {
      // background-image: url('../../assets/icon/driver-license-flaticon.svg');
      width: 100px;
      height: 100px;
      background-size: cover;
      display: block;
      // margin-left: 24px;
      // margin-top: 15px;
    }
  }

}

.chart {
  position: absolute;
}

.nftchart {
  // position: absolute;
  text-align: center;
  .sum {
    font-size: 42px;
  }
  .spam {
    font-size: 12px;
    color: red;
  }
  .opensea {
    font-size: 12px;
    color: #48A9A6;
  }
  .poap {
    font-size: 12px;
    color: #8247E5;
  }
  .decentraland {
    font-size: 12px;
    color: #8C8C8C;
  }
}

ion-card {
  width: 140px;
  margin-left: calc(50% - 70px);
  border-radius: 10px;
  position: relative;
}

ion-card-header {
  background-color: var(--ion-color-primary);
  height: 127px;
}

ion-card-content {
  padding: 5px;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 15px;
  color: var(--ion-color-dark);
  letter-spacing: 0.1px;
  text-align: center;
}

.loyaltyMessage {
  text-align: center;
  // font-size: var(--design);
  margin-top: 145px;
}