
<ion-header mode="ios">
  <div>
    <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>
    <!-- <app-back-button (click)="goBack()"></app-back-button> -->
    <!-- <div class="profile">
      <ion-avatar class="header-avatar">
        <img #profileImg [src]="profilePictureSrc" (click)="displayPictureOptions()">
      </ion-avatar>
    </div> -->
    <h3 class="page-title" *ngIf="mode == 'walletconnect'"> {{ 'NFT.active-sessions' | translate }} </h3>
    <h3 class="page-title" *ngIf="mode == 'nft'"> {{ pageHeading }} </h3>
    <h3 class="page-title" *ngIf="mode == 'loyalty'"> {{ 'NFT.redeem-tokens-page-heading' | translate }} </h3>
    <div class="buttons" *ngIf="mode == 'walletconnect'">
      <div class="button first-button ion-activatable" (click)="walletConnectInit()">
        <ion-ripple-effect></ion-ripple-effect>
        {{ 'NFT.wc-init' | translate }}
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
<div class="page-content">

  <!-- <ion-grid *ngIf="mode == 'nft'">
    <ion-row>
      <ion-col size="12" id="nftchart" class="nftchart">
        <div id="nftchart" class="nftchart"></div> -->
        <!-- <div *ngIf="mode == 'nft'" id="nftchart" class="nftchart"></div> -->
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->

  <div *ngIf="mode == 'loyalty'" id="chart" class="chart" ></div>
  <div style="padding-top: 145px" *ngIf="mode == 'loyalty'">
    <div class="note1" *ngIf="mode == 'loyalty'">{{ 'NFT.you-own' | translate }}</div>
    <div class="note2" *ngIf="mode == 'loyalty'">{{ getReadableTokenBalance(tokenBalance) }}</div>
    <div class="note1" *ngIf="mode == 'loyalty'">THXC Token</div>
    <div class="note3" *ngIf="mode == 'loyalty'">{{ getReadableLoyaltyPoints(loyaltyPoints) }}</div>
    <div class="note1" *ngIf="mode == 'loyalty'">Points</div>
  </div>

  <div *ngIf="mode == 'nft'" id="nftchart" class="nftchart">
    <div class="sum">
      {{ nftChartData["Spams"] + nftChartData["Safe"] + nftChartData["POAP"] }}
    </div>
    
    <div style="font-size: 12px;" *ngIf='nftChartData["Spams"] + nftChartData["Safe"] + nftChartData["POAP"] > 1'>
      NFTs
    </div>
    <div class="spam" *ngIf='nftChartData["Spams"] > 1'>
      {{ nftChartData["Spams"] }} Spams
    </div>
    <div class="opensea" *ngIf='nftChartData["Safe"] > 1'>
      {{ nftChartData["Safe"] }} Safe NFTs
    </div>
    <div class="poap" *ngIf='nftChartData["POAP"] > 1'>
      {{ nftChartData["POAP"] }} POAPs
    </div>

    <div style="font-size: 12px;" *ngIf='nftChartData["Spams"] + nftChartData["Safe"] + nftChartData["POAP"] < 2'>
      NFT
    </div>
    <div class="spam" *ngIf='nftChartData["Spams"] < 2'>
      {{ nftChartData["Spams"] }} Spam
    </div>
    <div class="opensea" *ngIf='nftChartData["Safe"] < 2'>
      {{ nftChartData["Safe"] }} Safe NFT
    </div>
    <div class="poap" *ngIf='nftChartData["POAP"] < 2'>
      {{ nftChartData["POAP"] }} POAP
    </div>

  </div>

  <ion-grid class="ion-no-margin" *ngIf="mode == 'walletconnect'">
    <ion-row >
      <ion-col size="6" class="ion-text-center" *ngFor="let wcc of activeSessions">
        <ion-card class="ion-no-margin summy" (click)="showSessionDetail(wcc)">
          <ion-card-header>
            <div class="nav-item-icon">
              <ion-img *ngIf="!!wcc.peerMeta" [src]="wcc.peerMeta.icons[0]"></ion-img>
              <ion-img *ngIf="!!wcc._peerMeta && !wcc.peerMeta" [src]="wcc._peerMeta.icons[0]"></ion-img>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="!!wcc.peerMeta">{{ wcc.peerMeta.name }}</span>
            <span *ngIf="!!wcc._peerMeta && !wcc.peerMeta">{{ wcc._peerMeta.name }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-text-center" *ngFor="let wcc2 of activeSessions2">
        <ion-card class="ion-no-margin summy" (click)="showSessionDetail2(wcc2)">
          <ion-card-header>
            <div class="nav-item-icon">
              <ion-img *ngIf="!!wcc2.peer" [src]="wcc2.peer.metadata.icons[0]"></ion-img>
              <ion-img *ngIf="!!wcc2._peer && !wcc2.peer" [src]="wcc2._peer.metadata.icons[0]"></ion-img>
            </div>
          </ion-card-header>
          <ion-card-content>
            <span *ngIf="!!wcc2.peer">{{ wcc2.peer.metadata.name }}</span>
            <span *ngIf="!!wcc2._peer && !wcc2.peer">{{ wcc2._peer.metadata.name }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-margin" *ngIf="mode == 'nft'">
    <ion-row>
     
      <ion-col size="6" class="ion-text-center" *ngFor="let safeNft of safeNfts">
        <div class="colDisplay" (click)="showNFTDetail(safeNft)">
          <div class="nftDisplay">
            <img [src]="safeNft.image_uri" ><br>
            <span>{{ safeNft.name }}</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-text-center" *ngFor="let poap of poapNfts">
        <div class="colDisplay" (click)="showPoapNFTDetail(poap)">
          <div class="nftDisplay">
            <img [src]="poap.event_image_url" >
            <span>{{ poap.event_name }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding loyaltyMessage" *ngIf="mode == 'loyalty'">
    {{'NFT.redeem-tokens-message-1' | translate}} {{'NFT.redeem-tokens-message-2' | translate}}
  </div>

  <div class="buttons" *ngIf="mode == 'loyalty'" style="margin-top: 20px;">
    <div class="button first-button ion-activatable" (click)="redeemTokens()">
      <ion-ripple-effect></ion-ripple-effect>
      {{ 'NFT.redeem-tokens-button' | translate }}
    </div>
  </div>

</div>
</ion-content>
<ion-footer>

  <!-- <ion-grid *ngIf="mode == 'loyalty'">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2" style="background-color: #BF7B54;"></ion-col>
      <ion-col size="6" style="color: var(--ion-text-color);">{{ existingBalance }} Distributed Tokens</ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2" style="background-color: #733122;"></ion-col>
      <ion-col size="6" style="color: var(--ion-text-color);">{{ pendingBalance }} Pending Tokens</ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid> -->



<!-- <div class="buttons" *ngIf="mode == 'loyalty'">
  <div class="button first-button ion-activatable" (click)="redeemTokens()">
    <ion-ripple-effect></ion-ripple-effect>
    {{ 'NFT.redeem-tokens-button' | translate }}
  </div>
</div> -->

<!-- <tabs></tabs> -->
</ion-footer>
