<ion-card transparent>
  <ion-toolbar>
    <!-- <ion-title>{{ 'WEB3WALLETMODAL.receive-crypto' | translate }}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "CERTIFICATES.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-content>
    <div class="content">
      <ion-title>{{ "WEB3WALLETMODAL.receive-crypto" | translate }}</ion-title>
      <ion-row>
        <ion-col size="12">
          <div class="qr-container">
            <div class="qr-code-container">
              <div class="logo-container">
                JOBGRADER
              </div>
              <qrcode
                cssClass="qr-code"
                elementType="url"
                [qrdata]="data"
                *ngIf="data"
              >
              </qrcode>
              <div class="address-container">
                {{ data }}
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" style="align-self: center; text-align: center">
          <div class="buttonOutline">
            <ion-icon
              style="margin-top: 15px; font-size: 20px"
              [src]="buttons.copy"
              (click)="copyAddress()"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col size="4" style="align-self: center; text-align: center">
          <div class="buttonOutline buttonOutline--inactive">
            <ion-icon
              style="margin-top: 15px; font-size: 20px"
              [src]="buttons.tag"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col size="4" style="align-self: center; text-align: center">
          <div class="buttonOutline">
            <ion-icon
              style="margin-top: 15px; font-size: 20px"
              [src]="buttons.share"
              (click)="socialSharing()"
            ></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card>
