.tutorial-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 0px;
  z-index: 20;

  .info-container {
    width: 100%;
    text-align: center;
    padding: 16px;
  }

  h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 33px;
    font-size: 22px;
  }

  #swipeImg, #fabImg {
    height: 120px;
  }
}

ion-header {
  position: relative;
  height: 10px;
  &:after {
    content: none;
  }

  ion-avatar {
    height: 60px;
    width: 60px;
    --border-radius: 50%;
    border: 3px solid var(--ion-background-color);
    --border: 3px solid var(--ion-background-color);
    img {
      width: 100%;
    }
    background-color: var(--ion-background-color);
    --background-color: var(--ion-background-color);
  }

  .avatar-container {
    position: absolute;
    top: 35px;
    left: calc(50% - 30px);
    img {
      background-color: white;
      border-color: white;
      // border-radius: 0;
      // transform: scale(0.9);
    }
  }
}

.fixed[scrollx=true] {
  overflow-x: auto;
}

.fixed[scrolly=true] {
  overflow-y: auto;
}

.merchant-card {
  position: relative;
  z-index: 2;
  top: 14px;
  &-filler {
    height: 40px;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    background: var(--ion-background-color);
    z-index: 1;
    margin-top: -20px;
  }
}

.page-1-scroll {
  position: relative;
}

.merchant-background-image {
  width: 100%;
}

ion-slides {
  height: 100%;
  --bullet-background-active: var(--ion-text-color);
}

.swiper-slide {
  align-items: baseline;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  display: block;
}

.place {
  padding-top: 20px;
  color: var(--ion-text-color);
  text-align: center;
  &-icon {
    font-size: 12px;
  }
}

ion-content {
  z-index: 12;
  --background: transparent !important;
  background-color: transparent !important;
  --overflow: hidden;
  overflow: hidden;

  .slide1 .avatar-container {
    position: absolute;
    top: -50px;
    left: calc(50% - 52.5px);
    z-index: 20;
  }

  .slide2 .avatar-container, .slide3 .avatar-container, .slide4 .avatar-container, .slide5 .avatar-container  {
    position: absolute;
    top: 35px;
    left: calc(50% - 52.5px);
    z-index: 20;
  }

  ion-avatar {
    height: 105px;
    width: 105px;
    --border-radius: 50%;
    border: 5px solid var(--ion-color-light-shade);
    img {
      border-radius: 0;
      transform: scale(0.8);
    }
    background-color: white;
  }
}

ion-card {
  width: calc(100% - 40px);
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  position: relative;
  box-sizing: border-box;
  border-radius: 15px !important;
  overflow: visible !important;
  box-shadow: none;
  position: relative;
}

.slide1 {
  margin-top: 90px;
  margin-bottom: 100px;
  display: block !important;
  overflow: hidden;
}

.page-1-scroll {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 76%;
  -webkit-overflow-scrolling: touch;

  img {
    width: 55px;
    margin-top: 22px;
  }
}

.page-1-include {
  margin-bottom: 16%;
}

.slide2, .slide3, .slide4 {
  display: block !important;
  position: relative;
  ion-card {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    min-height: calc(100% - 140px);
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-left: 20px;
    margin-top: 165px;
  }
}

.slide1 ion-card, .slide4 ion-card, .slide5 ion-card {
  margin: 210px 0 0 20px;
  min-height: 180px;
}

.background-filler {
  position: absolute;
  top: 125px;
  background: var(--ion-background-color);
  height: 120px;
  width: 100%;
}

.merchant-name {
  padding-top: 60px;
}

.merchant-page2-headline, .merchant-page4-headline, .merchant-page5-headline {
  padding-top: 10px;
  text-align: left;
  padding: 20px;
  padding-top: 0px;
  color: var(--ion-text-color);
  margin: 0px;
}

.merchant-page2-subheading, .merchant-page4-subheading, .merchant-page5-subheading {
  text-align: left;
  padding-left: 20px;
  color: var(--ion-text-color);
  margin-top: -5px;
}

::ng-deep .swiper-pagination-bullets {
  background: var(--ion-background-color);
  color: var(--ion-text-color);
  bottom: 0;
}

.merchant-claim {
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 14px;
  color: var(--ion-text-color);
  letter-spacing: 0.09px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

.page-1-content {
  color: var(--ion-text-color);
  text-align: left;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 2mm;
  padding-left: 2mm;
  z-index: 13;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 21px;
  letter-spacing: 0.14px;
  background: var( --ion-background-color);
  ::ng-deep h4 {
    font-size: 20px;
    font-family: "Jost Regular", Helvetica, sans-serif;
  }

  ::ng-deep p, ::ng-deep ul {
    font-size: 16px;
    font-family: "Jost Regular", Helvetica, sans-serif;
  }

  ::ng-deep strong, ::ng-deep b {
    font-size: 16px;
    font-family: "Jost Bold", Helvetica, sans-serif;
  }
}

#slide-2-rounded-container {
  margin-right: 20px;
  height: calc(100% - 195px);
  background-color: var(--ion-background-color);
  margin-left: 20px;
  margin-top: 168px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: scroll;
  padding-top: 20px;
  padding-bottom: 80px;
  color: var(--ion-text-color);
}
#slide-3-rounded-container {
  margin-right: 20px;
  height: calc(100% - 195px);
  background-color: var(--ion-background-color);
  margin-left: 20px;
  margin-top: 168px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--ion-text-color);
}

.page-2-content,
.page-4-content,
.page-5-content {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: var(--ion-text-color);
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 2mm;
  padding-left: 2mm;
  letter-spacing: 0.14px;
  ::ng-deep strong, ::ng-deep b {
    font-size: 16px;
    font-family: "Jost Bold", Helvetica, sans-serif;
  }
  ::ng-deep td, ::ng-deep th {
    padding-right: 5px;
    padding-bottom: 10px;
  }
}

.page-3-content {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: var(--ion-text-color);
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 2mm;
  padding-left: 2mm;
  ::ng-deep strong, ::ng-deep b {
    font-size: 16px;
    font-family: "Jost Bold", Helvetica, sans-serif;
  }
}

  // font-size: 20px;
  .forced-style {
    font-size: 16px;
      // font-family: "Jost Bold", Helvetica, sans-serif;
      ::ng-deep p, ::ng-deep ul {
        font-size: 16px;
        font-family: "Jost Regular", Helvetica, sans-serif;
      }

      ::ng-deep strong, ::ng-deep b {
        font-size: 16px;
        font-family: "Jost Bold", Helvetica, sans-serif;
      }
  }

.merchant-page1-cta-button,
.merchant-page4-cta-button,
.merchant-page5-cta-button {
  width: calc(100% - 40px);
  margin-top: 0;
  &-container {
    padding-top: 5px;
    padding-left: 2mm;
    padding-right: 2mm;
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 15;
    background: var(--ion-background-color);
  }
}

.merchant-page1-cta-button-container.md,
.merchant-page2-cta-button-container.md,
.merchant-page4-cta-button-container.md,
.merchant-page5-cta-button-container.md{
  padding-left: 2mm;
  padding-right: 2mm;
  bottom: calc(20px + var(--ion-safe-area-bottom));
  height: 75px;
}

.merchant-page2-cta-button-container.md,
.merchant-page4-cta-button-container.md,
.merchant-page5-cta-button-container.md {
  padding-left: 2mm;
  padding-right: 2mm;
  width: calc(100% - 40px);
  margin-left: 20px;
}

.merchant-page2-cta-button,
.merchant-page4-cta-button {
  width: calc(100% - 40px);
  margin-top: 0;
  &-container {
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 5px;
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    bottom: 43px;
    width: 100%;
    height: 65px;
    z-index: 15;
    background: var(--ion-background-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.slide3, .slide4, .slide5 {
  h4 {
    padding-left: 16px;
    padding-top: 15px;
  }
  h5 {
    margin-top: 10px;
  }
  .date {
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .place {
    text-align: left;
    color: var(--ion-color-dark);
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .merchant-history-item {
    background: var(--ion-background-color);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    &.last {
      margin-bottom: 50px;
    }
  }
  .merchant-page3-headline {
    padding-top: 10px;
    text-align: left;
    padding: 20px;
    padding-top: 0px;
    color: var(--ion-text-color);
    margin: 0px;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, opacity .2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .4s linear;
}

@keyframes fadedIn {
  0% {
   opacity: 0;
  }
  10% {
    opacity: .4;
  }
  20% {
    opacity: .8;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: .8;
  }
  90% {
    opacity: .4;
  }
  100% {
    opacity: 0;
  }
}

.information {
  position: absolute;
  top: 30px;
  width: 200px;
  text-align: center;
  left: calc(50% - 100px);
  color: var(--ion-text-color);
  background: rgba(0,0,0,.5);
  border-radius: 8px;
  opacity: 0;
}

.faded-in {
  animation: fadedIn 5s;
  opacity: 0;
}

.info-grid {
  --ion-grid-padding: 0px;
  margin-top: 10px;

  ion-row {
    ion-col {
      padding: 0px;
    }

    .lbl-col {
      display: inline-flex;
      font-size: 16px;
      ion-icon {
        color: var(--ion-text-color);
      }
    }

    ion-icon {
      width: 16px;
      height: 16px;
      padding-right: 5px;
    }

    .info-col {
      display: block;
      font-size: 16px;
    }
  }

}

.fab-parent {
  position: fixed;
  top: 40%;
  right: -16px;
}
.fab-merchant {
  --background: #733122;
  --color: #ffffff;
}

tooltip-box {
  // left: 780px;
  // top: 403px;
  position: initial;
  display: block;
  z-index: 99;
}

ion-fab-button {
  --background: #733122;
  --background-activated: #F2F2F2;
  --background-hover: #F2F2F2;
  --box-shadow: none;
}

.qr-container {

  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-timeout {
    text-align: center;
  }
}

.qr-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--ion-text-color);
  background: #fff;

  width: 50vw;
  height: 50vw;

  @media (max-height: 568px) {
    width: 25vw;
    height: 25vw;
  }

}

.qr-code {
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 2s linear;

  &.is-hidden {
    opacity: 0;
  }
}

.buttons {
  display: contents;
  background-color: #f7f7f7;
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    background: var(--ion-color-secondary);
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--ion-color-secondary);
  }
}

.discount {
  display: inline-block;
  align-self: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-background-color);
  border: 2px var(--ion-color-primary);
  border-style: solid;
  border-radius: 10px;
  width: 50%;
  height: 35px;
  padding-top: 3px;
  margin-top: 20px;
  margin-bottom: -30px;
  font-size: 20px;
}

field-lock {
  display: block;
  position: relative;
}

div.ion-activatable {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
}

.ticket-valid {
  color: var(--ion-color-success);
  font-size: 25px;
}

.ticket-invalid {
  color: var(--ion-color-danger);
  font-size: 25px;
}

.downArrow {
  font-size: 200px;
  color: #733122;
}