@import "../../../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 83px;
    background-color: var(--ion-background-color);
    position: relative;
     // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-primary);
    //   top: -530px;
    //   left: -90px;
    //   transform: translate3d(0, 0, 0);
    // }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-secondary);
    //   top: -537px;
    //   left: -170px;
    //   transform: translate3d(0, 0, 0);
    // }
  
    .profile {
      text-align: center;
      width: 100%;
    }
  
    .profile-cover {
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      width: 170px;
      height: 170px;
      object-fit: cover;
      object-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border: 5px solid var(--ion-border-color);
      background-color: #fff;
      overflow: hidden;
    }
  
  }
  
  
  .profile-background {
    height: 100%;
    width: 100%;
    background: var(--ion-background-color);
  }
  
  .top-fixed-shape {
    position: fixed;
    top: -400px;
    right: -130px;
    height: 600px;
    width: 600px;
    max-width: 600px;
  }
  
  .bottom-fixed-shape {
    position: fixed;
    width: 700px;
    max-width: 700px;
    bottom: -240px;
    left: -160px;
  }
  
  
  .profile-content {
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    width: 100%;
    // min-height: 100%;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
  
  .access-texts {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: var(--ion-text-color);
  }
  
  .welcome-title {
    text-align: left;
    font-size: var(--design-guidelines-heading);
    color: var(--ion-text-color);
    margin-right: -10pt;
  }
  
  .access-message {
    // line-height: 1.5;
    font-size: var(--design-guidelines-body);
    color: var(--ion-text-color);
    margin-bottom: 0;
    ::ng-deep strong, ::ng-deep b {
        font-family: "Jost Bold", Helvetica, sans-serif;
      }
  }
  
  .border-button {
    // position: absolute;
    float: left;
    text-align: center;
    padding: 10px 15px;
    color: var(--ion-text-color);
    font-size: var(--design-guidelines-button);
    // margin: 0 20px;
    background: var(--ion-background-color);
    border-radius: 8px;
    // min-width: 150px;
    width: 48%;
    border: 2px solid var(--ion-border-color);
  }
  
  .strock-button {
    // position: absolute;
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: var(--design-guidelines-button);
    // margin: 0 20px;
    background: var(--ion-color-primary);
    border-radius: 8px;
    // min-width: 150px;
    width: 48%;
    border: 1px solid var(--ion-color-primary);
    &--inactive {
      pointer-events: none;
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
    }
  }
  
  .access-texts {
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: var(--design-guidelines-body);
  }
  
  .access-texts svg {
    padding-right: 15px;
  }
  
  .verified {
    color: var(--ion-text-color) !important;
    svg > path,
    svg > rect,
    svg > g > * {
      stroke: var(--ion-text-color) !important;
    }
  }
  
  .not-verified {
    color: #733122 !important;
    svg > path,
    svg > rect,
    svg > g > * {
      stroke: #733122 !important;
    }
  }
  
  .page-footer {
    padding-top: 90pt;
    position: relative;
    background-color: transparent !important;
    
    .buttons {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 20px 15px 45px;
      
      .button {
        float: left;
        text-align: center;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-secondary);
        border-radius: 8px;
        width: 98%;
        border: 2px solid var(--ion-color-secondary);
        &:active {
          background: #F2F2F2;
          border: 2px solid #F2F2F2;
        }
      }
      .button-reject {
        float: left;
        text-align: center;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-primary);
        border-radius: 8px;
        width: 48%;
        border: 2px solid var(--ion-color-primary);
        &:active {
          background: var(--ion-color-primary-tint);
          border: 2px solid var(--ion-color-secondary-tint);
        }
      }
      .button-submit {
        float: right;
        text-align: center;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: var(--design-guidelines-button);
        background: var(--ion-color-secondary);
        border-radius: 8px;
        width: 48%;
        border: 2px solid var(--ion-color-secondary);
        &:active {
          background: var(--ion-color-secondary-tint);
          border: 2px solid var(--ion-color-secondary-tint);
        }
        &--inactive {
          pointer-events: none;
          color: #D7D7D7;
          background: #F7F7F7;
          border: 2px solid #D7D7D7;
        }
      }
    }
  }

  .menu-item-divider {
    margin-top: 0;
    border-bottom: 2px solid var(--ion-text-color);
  }
  
  ion-card {
    width: 140px;
    margin-left: calc(50% - 70px);
    border-radius: 10px;
    position: relative;
  }

  ion-card-header {
    background-color: var(--ion-color-primary);
    height: 127px;
  }

  ion-card-content {
    padding: 5px;
    font-family: "Jost Regular", Helvetica, sans-serif;
    font-size: 15px;
    color: var(--ion-color-dark);
    letter-spacing: 0.1px;
    text-align: center;
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
  }


  .paperBackup {
    
      // width: 50px;
      // margin-left: calc(50% - 17px);

      ion-card-header{
        height: 127px;
      }
    
    .nav-item-icon {
      i {
        background-image: url('../../../../assets/paperBackup.png');
        width: 71px;
        height: 70px;
        background-size: cover;
        display: block;
        margin-left: 17px;
        margin-top: 11px;
      }
    }

  }

  .cloudBackup {
    .nav-item-icon {
      i {
        background-image: url('../../../../assets/cloudBackup.png');
        width: 71px;
        height: 70px;
        background-size: cover;
        display: block;
        margin-left: 17px;
        margin-top: 7px;
      }
    }

  }